In [7]:
cd "C:\Users\Abdul Rehaman\Desktop\Model Refresh Feb 2023"

C:\Users\Abdul Rehaman\Desktop\Model Refresh Feb 2023

In [8]:
import pandas as pd
import numpy as np
import os
import io
import psycopg2
import marshal

In [9]:
s = open(r"C:\Users\Abdul Rehaman\Downloads\pyc files\Dataset__supporting_code.pyc", 'rb')
s.seek(16)  # go past first eight bytes
code_obj = marshal.load(s)
exec(code_obj)

## Reading all the required files

In [10]:
price_data = pd.read_excel(r"data files\Price_Data_TillDec2022.xlsx")
price_data

,asin,date,sp,mrp,platform_name,vol_per_unit,material_group_code,brand
0,B003NQESIS,2020-06-01,349.0,380.0,Amazon,1000,PCNO(R),Parachute Coconut Oil
1,B003NQESIS,2020-06-02,323.0,380.0,Amazon,1000,PCNO(R),Parachute Coconut Oil
2,B003NQESIS,2020-06-03,323.0,380.0,Amazon,1000,PCNO(R),Parachute Coconut Oil
3,B003NQESIS,2020-06-04,323.0,380.0,Amazon,1000,PCNO(R),Parachute Coconut Oil
4,B003NQESIS,2020-06-05,349.0,380.0,Amazon,1000,PCNO(R),Parachute Coconut Oil
...,...,...,...,...,...,...,...,...
221737,NDLFQQFHZQGQVAUZ,2022-12-25,69.0,90.0,Flipkart,420,NaN,Wai Wai
221738,NDLFQQFHZQGQVAUZ,2022-12-26,69.0,90.0,Flipkart,420,NaN,Wai Wai
221739,NDLFQQFHZQGQVAUZ,2022-12-27,69.0,90.0,Flipkart,420,NaN,Wai Wai
221740,NDLFQQFHZQGQVAUZ,2022-12-28,69.0,90.0,Flipkart,420,NaN,Wai Wai
221741,NDLFQQFHZQGQVAUZ,2022-12-29,76.0,84.0,Flipkart,420,NaN,Wai Wai

In [11]:
vol_data = pd.read_excel(r"data files\Top_SKUs_Volume_till_Dec2022.xlsx")
vol_data

,date,asin,volume,adj_vol_in_rum,platform_name,material_group_code,uom_reporting,vol_per_unit,brand,IndexBPM
0,2020-06-01,B003NQESIS,197.000000,0.197000,Amazon,PCNO(R),KL,1000.0,Parachute Coconut Oil,0.613357
1,2020-06-02,B003NQESIS,316.000000,0.316000,Amazon,PCNO(R),KL,1000.0,Parachute Coconut Oil,0.983862
2,2020-06-03,B003NQESIS,244.000000,0.244000,Amazon,PCNO(R),KL,1000.0,Parachute Coconut Oil,0.759691
3,2020-06-04,B003NQESIS,290.000000,0.290000,Amazon,PCNO(R),KL,1000.0,Parachute Coconut Oil,0.902912
4,2020-06-05,B003NQESIS,187.000000,0.187000,Amazon,PCNO(R),KL,1000.0,Parachute Coconut Oil,0.582222
...,...,...,...,...,...,...,...,...,...,...
59133,2022-12-27,NDLFWZYNG7UHHXQY,53.640368,0.053636,Flipkart,SAFF_ODLS,TO,552.0,Saffola Oodles,0.119172
59134,2022-12-28,NDLFWZYNG7UHHXQY,67.050460,0.067050,Flipkart,SAFF_ODLS,TO,552.0,Saffola Oodles,0.148977
59135,2022-12-29,NDLFWZYNG7UHHXQY,72.880935,0.072880,Flipkart,SAFF_ODLS,TO,552.0,Saffola Oodles,0.161931
59136,2022-12-30,NDLFWZYNG7UHHXQY,58.887795,0.058885,Flipkart,SAFF_ODLS,TO,552.0,Saffola Oodles,0.130836
59137,2022-12-31,NDLFWZYNG7UHHXQY,62.386080,0.062381,Flipkart,SAFF_ODLS,TO,552.0,Saffola Oodles,0.138604

In [12]:
jbp_amz_data = pd.read_excel(r"data files\Amazon_JBP_2020_to_2023Jan.xlsx", sheet_name = "Amazon JBP 20to22")
jbp_amz_data

,date,year,material_group_code,mrp_value,jbp_spends,Brand
0,2020-04-06,2020,SAFF GOLD,62075.0,1241.50,Saffola Oils
1,2020-04-08,2020,SAFF GOLD,522920.0,10458.40,Saffola Oils
2,2020-04-09,2020,SAFF GOLD,0.0,0.00,Saffola Oils
3,2020-04-10,2020,SAFF GOLD,2181875.0,43637.50,Saffola Oils
4,2020-04-11,2020,SAFF GOLD,1791140.0,35822.80,Saffola Oils
...,...,...,...,...,...,...
19614,2023-01-30,2023,SFOATS-FL,818122.0,16362.44,Masala Oats
19615,2023-01-31,2023,SFOATS-FL,956514.0,19130.28,Masala Oats
19616,2023-01-04,2023,SFOATS-FL,229770.0,4595.40,Masala Oats
19617,2023-01-05,2023,SFOATS-FL,1037070.0,20741.40,Masala Oats
19618,2023-01-09,2023,SFOATS-FL,229764.0,4595.28,Masala Oats

In [13]:
jbp_oth_data = pd.read_excel(r"data files\JBP_Others_2020_to_2022.xlsx", sheet_name = "Sheet1")
jbp_oth_data

,year,month,material_group_code,Big Basket,Grofers,Flipkart,Nykaa,Others
0,2020,2020-04,ADV-AHO-R,2556.0511,0.0000,0.0000,0.0,0.0000
1,2020,2020-08,ADV-AHO-R,0.0000,2722.7687,0.0000,0.0,0.0000
2,2020,2020-12,ADV-AHO-R,0.0000,0.0000,5847.8528,0.0,29048.9286
3,2020,2020-07,ADV-AHO-R,0.0000,5901.9915,0.0000,0.0,0.0000
4,2020,2020-06,ADV-AHO-R,581721.9745,298.0498,0.0000,0.0,0.0000
...,...,...,...,...,...,...,...,...
1555,2022,2022-03,SW NOGAS,0.0000,15840.0000,0.0000,0.0,0.0000
1556,2022,2022-03,SAFF OATS,200000.0000,23065.7700,550000.0000,0.0,0.0000
1557,2022,2022-03,SAFF KOCO,398710.0000,51793.2000,200000.0000,0.0,0.0000
1558,2022,2022-03,SAFF KO,327694.6500,103631.2800,850000.0000,0.0,175000.0000
1559,2022,2022-03,SAFF ACTV,283641.8750,253308.6000,1000000.0000,0.0,225000.0000

In [14]:
pla_data = pd.read_excel(r"data files\PLA_till_Dec22.xlsx", sheet_name = 'PLA_till_Dec22')
pla_data

,date,ad_group_id,campaign_id,fsn_id,ctr,indirect_revenue,cost,indirect_roi,indirectly_converted_units,engagements,...,direct_revenue,views,cvr,direct_converted_units,campaign_name,ad_group_name,fsn_status,product_title,material_group_code,brand
0,2020-10-16,FJF2RSYDG4ZP,8L5PWUAUNYOY,MSCFVFWMQBYMMDAS,0.0475,210609,35184.56,5.9858,1249,25871,...,411228,544498,0.1276,2052,Lotions_Oct,Body and Face Skin Care,INDEXED,Parachute Advansed Soft Touch Body Lotion for ...,PA-BDYLOT,Parachute Body Lotion
1,2020-10-16,IWVJ97KZ163I,YJAC2XU9NL2N,BEOFVFWPWYYHSNBU,0.0094,6450,30460.00,0.2118,9,3672,...,79490,390334,0.0438,152,Bio Oil_Oct,Bath and Shower,COMPLETED,Bio-Oil Perfect Skincare Combo 125ml and Dry S...,PA-BDYLOT,Parachute Body Lotion
2,2020-10-16,FJF2RSYDG4ZP,8L5PWUAUNYOY,MSCFVFWM2MRGFE8T,0.0262,92892,11908.16,7.8007,559,8756,...,178190,333637,0.1584,828,Lotions_Oct,Body and Face Skin Care,INDEXED,Parachute Advansed Deep Nourish Body Lotion fo...,PA-BDYLOT,Parachute Body Lotion
3,2020-07-07,MR05ADU3QHES,X9TGQ399ZXOJ,HWSFQK8FKHUSTTZU,0.0246,240,82891.20,0.0029,4,8035,...,173373,326861,0.1259,1008,July PC,Body and Face Skin Care,INDEXED,MEDIKER Alcohol Based Instantly Kills 99.9% Ge...,MED SNTZR,Mediker
4,2020-10-16,VPSZQ6X1UAFE,PA6DRO5MDUW4,DEOFGHCKHBPVWAAZ,0.0461,223992,105233.80,2.1285,1243,13123,...,206077,284817,0.1771,1081,SW Deos_Oct,Fragrances,COMPLETED,SET WET Global Edition London Luxury and New Y...,SW NOGAS,Set Wet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34658,2022-12-21,WJPGQZXFV4UZ,DN8IVH8PKA06,HNYG8D36FHXDJRHX,0.0000,0,0.00,0.0000,0,0,...,0,1,0.0000,0,Saffola Honey FKNat Active,Food,COMPLETED,Saffola Organic Honey NMR Tested 100 Pure ...,SAF_HONEY,Saffola Honey
34659,2022-12-20,WJPGQZXFV4UZ,DN8IVH8PKA06,HNYG8D36FHXDJRHX,0.0000,0,0.00,0.0000,0,0,...,0,1,0.0000,0,Saffola Honey FKNat Active,Food,COMPLETED,Saffola Organic Honey NMR Tested 100 Pure ...,SAF_HONEY,Saffola Honey
34660,2022-12-16,WJPGQZXFV4UZ,DN8IVH8PKA06,HNYG8D36FHXDJRHX,0.0000,0,0.00,0.0000,0,0,...,0,1,0.0000,0,Saffola Honey FKNat Active,Food,COMPLETED,Saffola Organic Honey NMR Tested 100 Pure ...,SAF_HONEY,Saffola Honey
34661,2022-12-26,WJPGQZXFV4UZ,DN8IVH8PKA06,HNYG8D36FHXDJRHX,0.0000,0,0.00,0.0000,0,0,...,0,0,0.0000,0,Saffola Honey FKNat Active,Food,COMPLETED,Saffola Organic Honey NMR Tested 100 Pure ...,SAF_HONEY,Saffola Honey
34662,2022-12-19,WJPGQZXFV4UZ,DN8IVH8PKA06,HNYG8D36FHXDJRHX,0.0000,0,0.00,0.0000,0,0,...,0,0,0.0000,0,Saffola Honey FKNat Active,Food,COMPLETED,Saffola Organic Honey NMR Tested 100 Pure ...,SAF_HONEY,Saffola Honey

In [15]:
pca_data = pd.read_excel(r"data files\PCA_tillJan23.xlsx", sheet_name = 'Sheet1')
pca_data

            date                 campaign_name  banner_spend        Brand
0     2022-03-10      Saffola Oils FKNat Mar22      49855.44  Saffola Oil
1     2022-03-13      Saffola Oils FKNat Mar22      53162.84  Saffola Oil
2     2022-03-11      Saffola Oils FKNat Mar22      37525.50  Saffola Oil
3     2022-03-09      Saffola Oils FKNat Mar22      30393.02  Saffola Oil
4     2022-06-03  Saffola Oils FKNat Jun22 PCA      23003.10  Saffola Oil
...          ...                           ...           ...          ...
18130 2022-08-20     Oats_SMO_SPO_FKNat_KW_PCA          0.00  Masala Oats
18131 2022-08-24     Oats_SMO_SPO_FKNat_KW_PCA          0.00  Masala Oats
18132 2022-07-31    Oats_SMO_SPO_FKNat_KW1_PCA          0.00  Masala Oats
18133 2022-08-27     Oats_SMO_SPO_FKNat_KW_PCA          0.00  Masala Oats
18134 2022-08-28     Oats_SMO_SPO_FKNat_KW_PCA          0.00  Masala Oats

[18135 rows x 4 columns]

In [16]:
tv_data = pd.read_excel(r"data files\TV_Spends_Final_till_Dec22.xlsx")
tv_data['Brand'].unique()

array(['Hair Care', 'Saffola Oodles', 'Set Wet Styling', 'Livon',
       'Saffola Oil', 'Masala Oats', 'PA Main', 'PA Gold', 'PAAHO',
       'Parachute Advansed Jasmine', 'Parachute Aloe Vera'], dtype=object)

In [17]:
events_data = pd.read_excel(r"data files\Events_data_till_Dec2022.xlsx") 
events_data

,DATE,Flipkart Shop from Home Days,Flipkart Mega Big Savings Day,FLIPKART BIG SAVINGS DAY,FLIPKART PAY DAY SALES,FLIPKART BIG BILLION DAYS,Amazon Freedom Sales,AMAZON_GREAT INDIA FESTIVAL,Amazon SVD,FLIPKART BIG DIWALI SALE,FLIPKART DECEMBER SALES,FLIPKART BIG SAVINGS Day_Republic Day,Flipkart New Year Sale,Flipkart Women's Day Sale,Flipkart Big Bachath Dhamaal,Amazon Super Value Days,Amazon Great Republic Day Sale,Amazon Women's Day Sales
0,2020-04-01,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
1,2020-04-02,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
2,2020-04-03,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
3,2020-04-04,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,2020-04-05,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,2022-12-27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1001,2022-12-28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1002,2022-12-29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1003,2022-12-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1004,2022-12-31,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [18]:
comp_skus = pd.read_excel(r"data files\Competition_skus_for_MCA_Brands.xlsx")
comp_skus

,MCA Brand,Competition asin,Competition Brand,Platform,Vol per unit
0,Livon,B08FW1GJ4F,L'Oreal Paris,Amazon,100
1,Livon,B006LXC4SG,L'Oreal Paris,Amazon,80
2,Livon,HSMFUMFVCWPESZ7E,L'Oreal Paris,Flipkart,100
3,Livon,HSMEFHNYU6XRRZZA,L'Oreal Paris,Flipkart,80
4,Livon,B00AO4EBOI,TRESemme,Amazon,97
...,...,...,...,...,...
331,Parachute Aloe Vera,HOLETDMXZRBUY9MM,Hair Care,Flipkart,500
332,Parachute Aloe Vera,HOLF9Z4ZK5TWHNHQ,Hair Care,Flipkart,400
333,Parachute Aloe Vera,HOLFGQQ3WGYQGXGT,Hair Care,Flipkart,300
334,Parachute Aloe Vera,HOLFJ2YCMFUFMZMW,Hair Care,Flipkart,500
335,Parachute Aloe Vera,HOLFVFXY9TJ8KXBJ,Hair Care,Flipkart,1000

In [19]:
tot_vol_data = pd.read_excel(r"data files\All_SKUs_Volume_till_Dec2022.xlsx", sheet_name='Sheet1')
tot_vol_data

,date,asin,volume,adj_vol_in_rum,platform_name,material_group_code,uom_reporting,vol_per_unit,IndexBPM
0,2020-06-01,100554,1537.248746,1.537249,Big Basket,SAFF KOCO,KL,1000.0,2.258779
1,2020-06-02,100554,1608.260236,1.608260,Big Basket,SAFF KOCO,KL,1000.0,2.363121
2,2020-06-03,100554,1618.261855,1.618262,Big Basket,SAFF KOCO,KL,1000.0,2.377817
3,2020-06-04,100554,1384.223984,1.384224,Big Basket,SAFF KOCO,KL,1000.0,2.033930
4,2020-06-05,100554,1358.219777,1.358220,Big Basket,SAFF KOCO,KL,1000.0,1.995720
...,...,...,...,...,...,...,...,...,...
249797,2022-12-01,EDOFME2RCZ9AVURA,381.715333,0.381715,Flipkart,SAFF KO,KL,1000.0,0.676460
249798,2022-12-02,EDOFME2RCZ9AVURA,294.139746,0.294140,Flipkart,SAFF KO,KL,1000.0,0.521262
249799,2022-12-03,EDOFME2RCZ9AVURA,287.476386,0.287476,Flipkart,SAFF KO,KL,1000.0,0.509453
249800,2022-12-04,EDOFME2RCZ9AVURA,246.544317,0.246544,Flipkart,SAFF KO,KL,1000.0,0.436915
249801,2022-12-05,EDOFME2RCZ9AVURA,121.844296,0.121844,Flipkart,SAFF KO,KL,1000.0,0.215927

## Create date column and Week Days columns

In [20]:
def create_date_df(start_date,end_date):
    date_df = pd.DataFrame()
    date_df['DATE'] = pd.date_range(start_date, end_date, freq='d')
    
    date_df['Day'] = date_df['DATE'].dt.day_name()
    date_df['yes'] = 1
    date_df['Day'] = date_df['Day'].str.upper()
    date_df = pd.pivot_table(data =date_df, index = 'DATE', columns='Day',).fillna(0).reset_index()
        # Changing column names and ordering
    cols_names = [f'{j}_{i}' for i, j in date_df.columns]
    for j,i in enumerate(cols_names):
        i = i.replace('.','')
        cols_names[j]= ('_'.join(i.split(' '))).upper()
        
    date_df.columns = cols_names
    
    date_df.columns = [i[:-4] for i in date_df.columns]
    
    date_df = date_df.rename(columns= {'_':'DATE'})
        
    print(date_df.columns)
    date_df['DATE'] = pd.to_datetime(date_df['DATE'])
    
    date_df['Month_Year'] = pd.to_datetime(date_df['DATE']).dt.strftime('%Y-%m')
    
    date_df['ISWEEKEND'] = (pd.to_datetime(date_df['DATE']).dt.weekday>= 5).astype(int)
    date_df['ISWEEKDAY'] = (pd.to_datetime(date_df['DATE']).dt.weekday< 5).astype(int)
    
    return date_df[['DATE','Month_Year', 'FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY',
       'WEDNESDAY', 'ISWEEKEND', 'ISWEEKDAY']]

## Create date column and Week Days columns

In [21]:
def create_date_df(start_date,end_date):
    date_df = pd.DataFrame()
    date_df['DATE'] = pd.date_range(start_date, end_date, freq='d')
    
    date_df['Day'] = date_df['DATE'].dt.day_name()
    date_df['yes'] = 1
    date_df['Day'] = date_df['Day'].str.upper()
    date_df = pd.pivot_table(data =date_df, index = 'DATE', columns='Day',).fillna(0).reset_index()
        # Changing column names and ordering
    cols_names = [f'{j}_{i}' for i, j in date_df.columns]
    for j,i in enumerate(cols_names):
        i = i.replace('.','')
        cols_names[j]= ('_'.join(i.split(' '))).upper()
        
    date_df.columns = cols_names
    
    date_df.columns = [i[:-4] for i in date_df.columns]
    
    date_df = date_df.rename(columns= {'_':'DATE'})
        
    print(date_df.columns)
    date_df['DATE'] = pd.to_datetime(date_df['DATE'])
    
    date_df['Month_Year'] = pd.to_datetime(date_df['DATE']).dt.strftime('%Y-%m')
    
    date_df['ISWEEKEND'] = (pd.to_datetime(date_df['DATE']).dt.weekday>= 5).astype(int)
    date_df['ISWEEKDAY'] = (pd.to_datetime(date_df['DATE']).dt.weekday< 5).astype(int)
    
    return date_df[['DATE','Month_Year', 'FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY',
       'WEDNESDAY', 'ISWEEKEND', 'ISWEEKDAY']]

## Function to extract Volume data

In [22]:
def get_vol_data(data, codes):
    
    new_df = data[data['material_group_code'].isin(codes)].reset_index(drop = True)
    
    return new_df

## Function to do Price Interpolation

In [23]:
def price_interpolation(date_df, data1, brand_name):
    
    data = data1[data1['brand'].isin([brand_name])].reset_index(drop = True)
    new_df = pd.DataFrame()
    for i in data['asin'].unique():
        temp_df = pd.DataFrame()
        temp_df['DATE'] = date_df['DATE']
        temp_df['asin'] = i
        new_df = pd.concat([new_df, temp_df], axis=0).reset_index(drop = True)
    new_df['DATE'] = pd.to_datetime(new_df['DATE'])
    data['date'] = pd.to_datetime(data['date'])
    new_df = pd.merge(new_df, data, left_on = ['asin', 'DATE'], right_on = ['asin', 'date'], how = 'left')
    new_df = new_df.fillna(method="ffill").fillna(method='bfill')
    new_df = new_df.drop(columns = 'date')
    new_df = new_df.rename(columns = {'DATE': 'date'})
    
    return new_df

## Function to transform JBP Amazon data

In [24]:
def calcaualte_jbp_amazon(data, start_date,end_date, mat_codes, conn):
    
    jbp_df1 = data.copy()
    jbp_df1 = jbp_df1[jbp_df1['material_group_code'].isin(mat_codes)].reset_index(drop = True)
    jbp_df1 = jbp_df1.groupby('date').sum()[['jbp_spends']]
    jbp_df1 = jbp_df1.rename(columns = {'jbp_spends' : 'JBP_AMAZON'}).reset_index()
    jbp_df1.columns = jbp_df1.columns.str.upper()
    
    return jbp_df1

## Function to transform JBP Flipkart and Big Basket data

In [25]:
def calcaualte_jbp_others(data, mat_codes, conn):
    
    jbp_oth_df = data.copy()
    jbp_oth_df = jbp_oth_df[jbp_oth_df['material_group_code'].isin(mat_codes)].reset_index(drop = True)
    jbp_others_df = jbp_oth_df.groupby('month').sum()[['Flipkart', 'Big Basket']].reset_index()
    
    jbp_others_df['Days_in_month'] = pd.to_datetime(jbp_others_df['month']).dt.days_in_month
    jbp_others_df['JBP_FLIPKART'] = jbp_others_df['Flipkart']/jbp_others_df['Days_in_month']
    jbp_others_df['JBP_BIG_BASKET'] = jbp_others_df['Big Basket']/jbp_others_df['Days_in_month']
    jbp_others_df.columns = jbp_others_df.columns.str.upper()
    jbp_others_df = jbp_others_df.rename(columns = {'MONTH' : 'Month_Year'})
        
    return jbp_others_df#[['Month_Year', 'JBP_FLIPKART', 'JBP_BIG_BASKET']]

## Function to transform PLA data

In [26]:
def calculate_pla_data(data_df, pla_brand):
    
    data = data_df[data_df['brand'].isin(pla_brand)].reset_index(drop = True)
    data = data.groupby(['date']).sum()['cost'].reset_index()
    data = data.rename(columns  = {'date': 'DATE', 'cost': 'PLA_SPENDS'})
    data['DATE'] = pd.to_datetime(data['DATE']) 
    
    return data

## Function to transform PCA data

In [27]:
def calculate_pca_data(data, pca_brand):
    
    data = data[data['Brand'].isin(pca_brand)]
#     print(data)
    data = data.groupby('date').sum()['banner_spend'].reset_index()
    data = data.rename(columns  = {'date': 'DATE', 'banner_spend' : 'PCA_SPENDS'})
    data['DATE'] = pd.to_datetime(data['DATE'])
    
    return data

## Function to transform TV data

In [28]:
def calcaulate_tv_data(data, brands):
    
    data1 = data[data['Brand'].isin(brands)].reset_index(drop = True)
    data1 = data1.rename(columns= {'Date' : 'DATE', 'India' : 'TV_spend'})
    data1 = data1[['Brand', 'DATE', 'TV_spend']]
    
    return data1

## Function to calculation Competition PPML

In [29]:
def competition_ppml(data, pricing_data, brand_name, conn):
    
    asin_list = list(data[data['MCA Brand'].isin(brand_name)]['Competition asin'])
    
    comp_df = pricing_data[pricing_data['asin'].isin(asin_list)].reset_index(drop = True)
    
    comp_df['PPML'] = comp_df['sp']/comp_df['vol_per_unit']
#     comp_df1 = comp_df.groupby(['Competition Brand', 'date']).sum().reset_index()
    comp_piv = pd.pivot_table(comp_df, index = 'date', columns = ['brand'], values = 'PPML', aggfunc = np.mean)#.reset_index()
    comp_piv = comp_piv.rename_axis(None, axis=1)

    cols = []
    for i in comp_piv.columns:
        cols.append(i+"_COMP_PPML")
#     print(cols)
    comp_piv.columns = cols
    comp_piv = comp_piv.reset_index()
    comp_piv = comp_piv.rename(columns = {'date': 'DATE'})
    comp_piv.columns = comp_piv.columns.str.upper()

    return comp_piv.fillna(method="ffill").fillna(method='bfill')

## Function to calculation Price Index

In [48]:
def calculate_sp_index(data, competition, brand_name):

    data['WTD_PPML'] = (data['AMAZON_WTD_PPML_SP']*data['AMAZON_TOTAL_VOLUME']+data['FLIPKART_WTD_PPML_SP']*data['FLIPKART_TOTAL_VOLUME'])/(data['AMAZON_TOTAL_VOLUME'] + data['FLIPKART_TOTAL_VOLUME'])

    new_df = pd.DataFrame()
    new_df['DATE'] = competition['DATE']
    for i in competition.drop(columns = 'DATE'):
        new_df[brand_name+'_'+i.split('_')[0]+'_SP_INDEX'] = data['WTD_PPML']/competition[i]
    
    return new_df

## Function to create lags on Selected columns

In [56]:
def create_lags(data, dig_sp_cols, jbp_cols):
    
    df = pd.DataFrame()
    df['DATE'] = data['DATE']
            
    for i in dig_sp_cols:
        for j in [1,3,5,7,10,14,21,30]:
            df[i+'_LAG_'+str(j)] = data[i].shift(j)
#         break
    
    for i in jbp_cols:
        for j in [15,30]:
            df[i+'_LAG_'+str(j)] = data[i].shift(j)
#         break    
    df = df.fillna(0)
    
    return df## Function to calculation Price Index

## Function to get Overall Volume Data

In [31]:
def overall_volume(data, codes):
    
    data = data[data['material_group_code'].isin(codes)].reset_index(drop = True)
    index_df = data.groupby('date').sum()['IndexBPM'].reset_index()    
    data = pd.pivot_table(data, index = 'date', columns = 'platform_name', values= ['volume'], aggfunc = np.sum)
#     print(data)
    data.columns = [i+'_volume' for j,i in data.columns]
    data = data.reset_index()
    data['OVERALL_VOLUME'] = data.sum(axis=1)
    data = pd.merge(data, index_df, on = 'date')
    data = data.rename(columns  = {'date': 'DATE'})

    return data

## Function to get Youtube spends by Years

In [32]:
def youtube_spends_by_years(data):
    
    yt_20 =  data[data['Month_Year']<'2021-01'][['DATE', 'YOUTUBE_SPEND']]
    yt_20.columns = ['DATE', 'YOUTUBE_SPEND_2020']
    yt_21 = data[(data['Month_Year']>'2020-12') & (df1['Month_Year']<'2022-01')][['DATE', 'YOUTUBE_SPEND']]
    yt_21.columns = ['DATE', 'YOUTUBE_SPEND_2021']
    yt_22 = data[data['Month_Year']>'2021-12'][['DATE', 'YOUTUBE_SPEND']].reset_index(drop = True)
    yt_22.columns = ['DATE', 'YOUTUBE_SPEND_2022']
    yt_yearwise = pd.concat([pd.concat([yt_20, yt_21], axis=0), yt_22], axis=0).reset_index(drop = True)
    yt_yearwise = yt_yearwise.fillna(0)
    
    return yt_yearwise

## Run code for Digital, Mentions and Ratings

In [33]:
conn = create_postgres_connection()

<connection object at 0x0000025771CBE9D0; dsn: 'user=tableau_admin_kie password=xxx dbname=marico_db host=devmmldb.cwkvgfgmpxqj.ap-south-1.rds.amazonaws.com port=5432', closed: 0>

In [34]:
brands = ["Saffola Oats", "Saffola Oats"]
mat_grp_codes = ['SFOATS-FL']

start_date = '2020-06-01'
end_date = '2022-12-31'

In [35]:
date_df = create_date_df(start_date,end_date)
date_df

Index(['DATE', 'FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY',
       'WEDNESDAY'],
      dtype='object')

,DATE,Month_Year,FRIDAY,MONDAY,SATURDAY,SUNDAY,THURSDAY,TUESDAY,WEDNESDAY,ISWEEKEND,ISWEEKDAY
0,2020-06-01,2020-06,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,1
1,2020-06-02,2020-06,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1
2,2020-06-03,2020-06,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,1
3,2020-06-04,2020-06,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1
4,2020-06-05,2020-06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
939,2022-12-27,2022-12,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1
940,2022-12-28,2022-12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,1
941,2022-12-29,2022-12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1
942,2022-12-30,2022-12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1
943,2022-12-31,2022-12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0

In [36]:
digi_spends_df = digital_media(conn,start_date,end_date, tuple(brands))
mentions_df = sprinkler_data(conn,start_date,end_date, tuple(brands))
ratings_df = rating_data(conn,start_date,end_date, tuple(brands))

print(digi_spends_df.shape, mentions_df.shape, ratings_df.shape)

Sprinklr Data extracting from DB
Rating Data extracting from DB
(944, 25) (881, 48) (0, 1)

In [37]:
new_vol_df = get_vol_data(vol_data, mat_grp_codes)
new_vol_df

,date,asin,volume,adj_vol_in_rum,platform_name,material_group_code,uom_reporting,vol_per_unit,brand,IndexBPM
0,2020-06-01,B07D5D9NWT,72.500000,0.072500,Amazon,SFOATS-FL,TO,500.0,Saffola Oats,0.175274
1,2020-06-02,B07D5D9NWT,129.000000,0.129000,Amazon,SFOATS-FL,TO,500.0,Saffola Oats,0.311866
2,2020-06-03,B07D5D9NWT,94.000000,0.094000,Amazon,SFOATS-FL,TO,500.0,Saffola Oats,0.227251
3,2020-06-04,B07D5D9NWT,62.500000,0.062500,Amazon,SFOATS-FL,TO,500.0,Saffola Oats,0.151098
4,2020-06-05,B07D5D9NWT,60.500000,0.060500,Amazon,SFOATS-FL,TO,500.0,Saffola Oats,0.146263
...,...,...,...,...,...,...,...,...,...,...
5636,2022-12-27,CAFF7THHYGH5DKVD,54.787828,0.054788,Flipkart,SFOATS-FL,TO,1000.0,Saffola Oats,0.132453
5637,2022-12-28,CAFF7THHYGH5DKVD,59.860775,0.059861,Flipkart,SFOATS-FL,TO,1000.0,Saffola Oats,0.144717
5638,2022-12-29,CAFF7THHYGH5DKVD,39.568987,0.039569,Flipkart,SFOATS-FL,TO,1000.0,Saffola Oats,0.095661
5639,2022-12-30,CAFF7THHYGH5DKVD,58.846186,0.058846,Flipkart,SFOATS-FL,TO,1000.0,Saffola Oats,0.142265
5640,2022-12-31,CAFF7THHYGH5DKVD,73.050438,0.073050,Flipkart,SFOATS-FL,TO,1000.0,Saffola Oats,0.176604

In [38]:
new_price_df = price_interpolation(date_df, price_data, 'Saffola Oats')
new_price_df

,date,asin,sp,mrp,platform_name,vol_per_unit,material_group_code,brand
0,2020-06-01,B07D5D9NWT,161.0,190.0,Amazon,500,SFOATS-FL,Saffola Oats
1,2020-06-02,B07D5D9NWT,170.0,190.0,Amazon,500,SFOATS-FL,Saffola Oats
2,2020-06-03,B07D5D9NWT,175.0,190.0,Amazon,500,SFOATS-FL,Saffola Oats
3,2020-06-04,B07D5D9NWT,175.0,190.0,Amazon,500,SFOATS-FL,Saffola Oats
4,2020-06-05,B07D5D9NWT,169.0,190.0,Amazon,500,SFOATS-FL,Saffola Oats
...,...,...,...,...,...,...,...,...
5842,2022-12-27,CAFF7THHYGH5DKVD,332.0,380.0,Flipkart,1000,SFOATS-FL,Saffola Oats
5843,2022-12-28,CAFF7THHYGH5DKVD,332.0,380.0,Flipkart,1000,SFOATS-FL,Saffola Oats
5844,2022-12-29,CAFF7THHYGH5DKVD,332.0,380.0,Flipkart,1000,SFOATS-FL,Saffola Oats
5845,2022-12-30,CAFF7THHYGH5DKVD,332.0,380.0,Flipkart,1000,SFOATS-FL,Saffola Oats
5846,2022-12-31,CAFF7THHYGH5DKVD,332.0,380.0,Flipkart,1000,SFOATS-FL,Saffola Oats

In [39]:
wtd_df = wtd_calculations_discounts(new_vol_df, new_price_df, brands)
wtd_df

,DATE,B07D5D9NWT_PPML_MRP,B07D5FG9R5_PPML_MRP,B07G2VBBCJ_PPML_MRP,CAFF5FY5KXWSZCUC_PPML_MRP,CAFF5FY5RHXEY22G_PPML_MRP,CAFF7THHYGH5DKVD_PPML_MRP,B07D5D9NWT_PPML_SP,B07D5FG9R5_PPML_SP,B07G2VBBCJ_PPML_SP,...,AMAZON_WTD_PPML_MRP,FLIPKART_WTD_PPML_MRP,AMAZON_ABS_DISCOUNT,FLIPKART_ABS_DISCOUNT,AMAZON_WTD_DISCOUNT%,FLIPKART_WTD_DISCOUNT%,AMAZON_TOTAL_VOLUME,FLIPKART_TOTAL_VOLUME,TOTAL_ABS_DISCOUNT,TOTAL_VOLUME
0,2020-06-01,0.38,0.38,0.45,0.380,0.380,0.45,0.322,0.322,0.293,...,0.407580,0.394571,215.0,181.0,0.229956,0.148574,266.5,681.392160,396.0,947.892160
1,2020-06-02,0.38,0.38,0.45,0.380,0.380,0.45,0.340,0.340,0.309,...,0.393401,0.398559,181.0,141.0,0.145096,0.136861,444.0,365.435933,322.0,809.435933
2,2020-06-03,0.38,0.38,0.45,0.380,0.380,0.45,0.350,0.332,0.349,...,0.409139,0.392126,140.0,131.0,0.158739,0.104152,528.5,276.765725,271.0,805.265725
3,2020-06-04,0.38,0.38,0.45,0.380,0.380,0.45,0.350,0.350,0.349,...,0.399260,0.390400,131.0,151.5,0.118981,0.107333,338.0,114.285623,282.5,452.285623
4,2020-06-05,0.38,0.38,0.45,0.380,0.380,0.45,0.338,0.320,0.349,...,0.394040,0.398031,152.0,143.0,0.163031,0.139869,349.0,162.865516,295.0,511.865516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2022-12-27,0.38,0.38,0.38,0.402,0.404,0.38,0.258,0.350,0.299,...,0.380000,0.401097,157.0,99.0,0.224391,0.128343,391.0,1000.233222,256.0,1391.233222
940,2022-12-28,0.38,0.38,0.38,0.402,0.404,0.38,0.258,0.350,0.299,...,0.380000,0.401507,157.0,99.0,0.230048,0.127227,491.5,1102.247267,256.0,1593.747267
941,2022-12-29,0.38,0.38,0.38,0.402,0.414,0.38,0.258,0.350,0.299,...,0.380000,0.404169,157.0,104.0,0.229553,0.133205,484.5,973.640289,261.0,1458.140289
942,2022-12-30,0.38,0.38,0.38,0.402,0.414,0.38,0.258,0.350,0.299,...,0.380000,0.409707,157.0,180.0,0.219075,0.392265,456.5,2402.799342,337.0,2859.299342
943,2022-12-31,0.38,0.38,0.38,0.402,0.414,0.38,0.258,0.350,0.299,...,0.380000,0.402578,157.0,180.0,0.207596,0.188994,379.0,1238.534385,337.0,1617.534385

In [40]:
jbp_amz = calcaualte_jbp_amazon(jbp_amz_data, start_date,end_date, tuple(mat_grp_codes), conn)
jbp_amz

          DATE  JBP_AMAZON
0   2020-04-06     6066.00
1   2020-04-13      463.60
2   2020-04-14      804.00
3   2020-04-15     1269.00
4   2020-04-21     3462.00
..         ...         ...
653 2023-01-24      618.40
654 2023-01-25    11142.36
655 2023-01-27    51606.84
656 2023-01-30    16362.44
657 2023-01-31    19130.28

[658 rows x 2 columns]

In [41]:
jbp_oth = calcaualte_jbp_others(jbp_oth_data, tuple(mat_grp_codes), conn)
jbp_oth

,Month_Year,FLIPKART,BIG BASKET,DAYS_IN_MONTH,JBP_FLIPKART,JBP_BIG_BASKET
0,2020-04,9.298653e+04,62946.4744,30,3099.551053,2098.215813
1,2020-05,2.020839e+05,160191.7467,31,6518.836358,5167.475700
2,2020-06,4.256868e+05,335435.7244,30,14189.559190,11181.190813
3,2020-07,2.768971e+05,303154.1024,31,8932.165997,9779.164594
4,2020-08,3.397378e+05,0.0000,31,10959.284061,0.000000
5,2020-09,3.509529e+05,403414.0307,30,11698.428950,13447.134357
6,2020-10,6.171704e+05,196167.0470,31,19908.723816,6327.969258
7,2020-11,3.304377e+05,156933.6376,30,11014.590800,5231.121253
8,2020-12,2.468398e+05,313867.2753,31,7962.575094,10124.750816
9,2021-01,3.672278e+05,156933.6376,31,11846.057668,5062.375406
10,2021-02,2.812743e+05,166741.9900,28,10045.509771,5955.071071
11,2021-03,2.843006e+05,161837.8138,31,9170.986894,5220.574639
12,2021-04,3.581139e+05,330000.0000,30,11937.129000,11000.000000
13,2021-05,6.988687e+05,400000.0000,31,22544.151290,12903.225806
14,2021-06,7.937743e+05,400000.0000,30,26459.144667,13333.333333
15,2021-07,7.859491e+05,400000.0000,31,25353.196452,12903.225806
16,2021-08,5.665447e+05,400000.0000,31,18275.635484,12903.225806
17,2021-09,5.917026e+05,600000.0000,30,19723.420667,20000.000000
18,2021-10,1.037858e+06,600000.0000,31,33479.293548,19354.838710
19,2021-11,6.878581e+05,625000.0000,30,22928.603333,20833.333333
20,2021-12,4.355444e+05,325000.0000,31,14049.818710,10483.870968
21,2022-01,7.000000e+05,300000.0000,31,22580.645161,9677.419355
22,2022-02,4.500000e+05,400000.0000,28,16071.428571,14285.714286
23,2022-03,5.000000e+05,300000.0000,31,16129.032258,9677.419355
24,2022-04,4.400000e+05,250000.0000,30,14666.666667,8333.333333
25,2022-05,3.820000e+05,250000.0000,31,12322.580645,8064.516129
26,2022-06,8.670000e+05,250000.0000,30,28900.000000,8333.333333
27,2022-07,4.500000e+05,150000.0000,31,14516.129032,4838.709677
28,2022-08,4.200000e+05,200000.0000,31,13548.387097,6451.612903
29,2022-09,1.050000e+06,300000.0000,30,35000.000000,10000.000000
30,2022-10,1.500000e+06,200000.0000,31,48387.096774,6451.612903
31,2022-11,3.740000e+05,100000.0000,30,12466.666667,3333.333333
32,2022-12,1.400000e+05,400000.0000,31,4516.129032,12903.225806

In [42]:
pla_df = calculate_pla_data(pla_data, ['Masala Oats'])
pla_df

          DATE  PLA_SPENDS
0   2020-10-02      378.40
1   2020-10-03      465.30
2   2020-10-04      591.80
3   2020-10-06      173.80
4   2020-10-20        0.00
..         ...         ...
251 2022-08-28     5172.27
252 2022-08-29     3759.09
253 2022-08-30     3432.32
254 2022-08-31     3016.75
255 2022-09-01     4869.37

[256 rows x 2 columns]

In [43]:
pca_df = calculate_pca_data(pca_data, ['Masala Oats'])
pca_df

          DATE  PCA_SPENDS
0   2022-05-11      125.50
1   2022-05-12      646.50
2   2022-05-13     1266.50
3   2022-05-14      773.00
4   2022-05-15     1423.00
..         ...         ...
102 2022-08-29       65.58
103 2022-08-30       86.99
104 2022-08-31      133.35
105 2022-09-01       56.12
106 2022-09-02        0.00

[107 rows x 2 columns]

In [44]:
tv_df = calcaulate_tv_data(tv_data, ['Masala Oats'])
tv_df

           Brand       DATE     TV_spend
0    Masala Oats 2021-01-02    23529.412
1    Masala Oats 2021-01-03   18823.5296
2    Masala Oats 2021-01-04   36705.8826
3    Masala Oats 2021-01-05   88024.0002
4    Masala Oats 2021-01-06  116751.4311
..           ...        ...          ...
518  Masala Oats 2022-11-20  1826016.894
519  Masala Oats 2022-11-21   812143.058
520  Masala Oats 2022-11-22  237211.7662
521  Masala Oats 2022-11-23   87588.2368
522  Masala Oats 2022-11-24  134541.1776

[523 rows x 3 columns]

In [45]:
comp_df = competition_ppml(comp_skus, price_data, brands, conn)
comp_df

,DATE,MAGGI_COMP_PPML,QUAKER MASALA OATS_COMP_PPML,SAFFOLA OATS_COMP_PPML,SOLIMO_COMP_PPML,SUNFEAST YIPPEE_COMP_PPML,WAI WAI_COMP_PPML,YOGA BAR_COMP_PPML
0,2020-06-01,0.164286,0.245000,0.293,0.139000,0.184615,0.171429,0.362500
1,2020-06-02,0.164286,0.245000,0.309,0.139000,0.184615,0.171429,0.362500
2,2020-06-03,0.164286,0.245000,0.349,0.139000,0.184615,0.171429,0.362500
3,2020-06-04,0.164286,0.245000,0.349,0.139000,0.184615,0.171429,0.362500
4,2020-06-05,0.164286,0.245000,0.349,0.139000,0.184615,0.171429,0.362500
...,...,...,...,...,...,...,...,...
940,2022-12-28,0.269277,0.240776,0.299,0.146901,0.163073,0.498413,0.384387
941,2022-12-29,0.271521,0.240225,0.299,0.151413,0.163102,0.180952,0.382175
942,2022-12-30,0.281100,0.239563,0.299,0.151419,0.169965,0.164286,0.397100
943,2022-12-31,0.282040,0.240655,0.299,0.151167,0.156069,0.661905,0.399979
944,2023-01-01,0.274945,0.242950,0.332,0.163250,0.157173,0.157143,0.392000

In [47]:
wtd_df.columns

Index(['DATE', 'B07D5D9NWT_PPML_MRP', 'B07D5FG9R5_PPML_MRP',
       'B07G2VBBCJ_PPML_MRP', 'CAFF5FY5KXWSZCUC_PPML_MRP',
       'CAFF5FY5RHXEY22G_PPML_MRP', 'CAFF7THHYGH5DKVD_PPML_MRP',
       'B07D5D9NWT_PPML_SP', 'B07D5FG9R5_PPML_SP', 'B07G2VBBCJ_PPML_SP',
       'CAFF5FY5KXWSZCUC_PPML_SP', 'CAFF5FY5RHXEY22G_PPML_SP',
       'CAFF7THHYGH5DKVD_PPML_SP', 'B07D5D9NWT_MRP', 'B07D5FG9R5_MRP',
       'B07G2VBBCJ_MRP', 'CAFF5FY5KXWSZCUC_MRP', 'CAFF5FY5RHXEY22G_MRP',
       'CAFF7THHYGH5DKVD_MRP', 'B07D5D9NWT_SP', 'B07D5FG9R5_SP',
       'B07G2VBBCJ_SP', 'CAFF5FY5KXWSZCUC_SP', 'CAFF5FY5RHXEY22G_SP',
       'CAFF7THHYGH5DKVD_SP', 'B07D5D9NWT_VOLUME', 'B07D5FG9R5_VOLUME',
       'B07G2VBBCJ_VOLUME', 'CAFF5FY5KXWSZCUC_VOLUME',
       'CAFF5FY5RHXEY22G_VOLUME', 'CAFF7THHYGH5DKVD_VOLUME',
       'SAFFOLA_OATS_WTD_MRP_AMAZON', 'SAFFOLA_OATS_WTD_MRP_FLIPKART',
       'SAFFOLA_OATS_WTD_SP_AMAZON', 'SAFFOLA_OATS_WTD_SP_FLIPKART',
       'SAFFOLA_OATS_WTD_PPML_SP_AMAZON', 'SAFFOLA_OATS_WTD_PPML_SP_FLIPKART',
       'SAFFOLA_OATS_WTD_PPML_MRP_AMAZON',
       'SAFFOLA_OATS_WTD_PPML_MRP_FLIPKART',
       'SAFFOLA_OATS_WTD_DISCOUNT%_AMAZON',
       'SAFFOLA_OATS_WTD_DISCOUNT%_FLIPKART',
       'SAFFOLA_OATS_TOTAL_VOLUME_AMAZON',
       'SAFFOLA_OATS_TOTAL_VOLUME_FLIPKART', 'AMAZON_WTD_MRP',
       'FLIPKART_WTD_MRP', 'AMAZON_WTD_SP', 'FLIPKART_WTD_SP',
       'AMAZON_WTD_PPML_SP', 'FLIPKART_WTD_PPML_SP', 'AMAZON_WTD_PPML_MRP',
       'FLIPKART_WTD_PPML_MRP', 'AMAZON_ABS_DISCOUNT', 'FLIPKART_ABS_DISCOUNT',
       'AMAZON_WTD_DISCOUNT%', 'FLIPKART_WTD_DISCOUNT%', 'AMAZON_TOTAL_VOLUME',
       'FLIPKART_TOTAL_VOLUME', 'TOTAL_ABS_DISCOUNT', 'TOTAL_VOLUME'],
      dtype='object')

In [49]:
sp_index_df = calculate_sp_index(wtd_df, comp_df, 'Masala Oats')
sp_index_df

,DATE,Masala Oats_MAGGI_SP_INDEX,Masala Oats_QUAKER MASALA OATS_SP_INDEX,Masala Oats_SAFFOLA OATS_SP_INDEX,Masala Oats_SOLIMO_SP_INDEX,Masala Oats_SUNFEAST YIPPEE_SP_INDEX,Masala Oats_WAI WAI_SP_INDEX,Masala Oats_YOGA BAR_SP_INDEX
0,2020-06-01,1.990972,1.335054,1.116342,2.353153,1.771728,1.908015,0.902313
1,2020-06-02,2.056307,1.378865,1.093275,2.430374,1.829869,1.970628,0.931923
2,2020-06-03,2.099224,1.407643,0.988174,2.481098,1.868060,2.011757,0.951373
3,2020-06-04,2.124270,1.424438,0.999963,2.510699,1.890347,2.035759,0.962723
4,2020-06-05,2.025265,1.358050,0.953359,2.393685,1.802245,1.940879,0.917854
...,...,...,...,...,...,...,...,...
940,2022-12-28,1.235111,1.381310,1.112331,2.264021,2.039503,0.667292,0.865239
941,2022-12-29,1.219711,1.378613,1.107616,2.187245,2.030489,1.830190,0.866559
942,2022-12-30,0.909524,1.067223,0.855075,1.688481,1.504234,1.556237,0.643837
943,2022-12-31,1.134664,1.329786,1.070302,2.117002,2.050498,0.483484,0.800092
944,2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
tot_vol = overall_volume(tot_vol_data, mat_grp_codes)
tot_vol

C:\Users\Abdul Rehaman\AppData\Local\Temp\ipykernel_13520\592441061.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data['OVERALL_VOLUME'] = data.sum(axis=1)

,DATE,Amazon_volume,Big Basket_volume,Flipkart_volume,OVERALL_VOLUME,IndexBPM
0,2020-06-01,599.500,420.356797,962.292906,1982.149703,4.791982
1,2020-06-02,740.500,451.595657,464.474705,1656.570363,4.004871
2,2020-06-03,830.500,410.589454,395.426153,1636.515607,3.956388
3,2020-06-04,646.152,397.396731,181.855515,1225.404246,2.962498
4,2020-06-05,682.000,431.432139,265.733913,1379.166052,3.334228
...,...,...,...,...,...,...
939,2022-12-27,466.500,221.209497,1149.825886,1837.535383,4.442347
940,2022-12-28,559.500,222.268473,1261.286130,2043.054603,4.939222
941,2022-12-29,560.000,245.287981,1208.770180,2014.058161,4.869066
942,2022-12-30,535.500,287.129448,2586.851951,3409.481399,8.242655
943,2022-12-31,434.000,343.708918,1464.173668,2241.882586,5.419876

In [51]:
df1 = pd.merge(date_df, digi_spends_df, on = 'DATE', how = 'left')
df2 = pd.merge(df1, jbp_amz, on = 'DATE', how = 'left')
df3 = pd.merge(df2, jbp_oth[['Month_Year', 'JBP_FLIPKART', 'JBP_BIG_BASKET']], on = 'Month_Year', how = 'left')
df4 = pd.merge(df3, pla_df, on = 'DATE', how = 'left')
df5 = pd.merge(df4, pca_df, on = 'DATE', how = 'left')
df5 = df5.fillna(0)
df5['JBP_FLIPKART_TRUE'] =  df5['JBP_FLIPKART'] - df5['PLA_SPENDS'] - df5['PCA_SPENDS']
df6 = pd.merge(df5, tv_df, on = 'DATE', how = 'left')
df6

,DATE,Month_Year,FRIDAY,MONDAY,SATURDAY,SUNDAY,THURSDAY,TUESDAY,WEDNESDAY,ISWEEKEND,...,INSTAGRAM_SPEND,YOUTUBE_SPEND,JBP_AMAZON,JBP_FLIPKART,JBP_BIG_BASKET,PLA_SPENDS,PCA_SPENDS,JBP_FLIPKART_TRUE,Brand,TV_spend
0,2020-06-01,2020-06,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.00,0.00,14189.559190,11181.190813,0.0,0.0,14189.559190,NaN,NaN
1,2020-06-02,2020-06,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0.0,0.00,2023.80,14189.559190,11181.190813,0.0,0.0,14189.559190,NaN,NaN
2,2020-06-03,2020-06,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0.0,0.00,25089.60,14189.559190,11181.190813,0.0,0.0,14189.559190,NaN,NaN
3,2020-06-04,2020-06,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,0.0,0.00,4308.60,14189.559190,11181.190813,0.0,0.0,14189.559190,NaN,NaN
4,2020-06-05,2020-06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,37175.04,425.60,14189.559190,11181.190813,0.0,0.0,14189.559190,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2022-12-27,2022-12,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0.0,0.00,26306.64,4516.129032,12903.225806,0.0,0.0,4516.129032,NaN,NaN
940,2022-12-28,2022-12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0.0,0.00,5979.00,4516.129032,12903.225806,0.0,0.0,4516.129032,NaN,NaN
941,2022-12-29,2022-12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,0.0,0.00,32430.12,4516.129032,12903.225806,0.0,0.0,4516.129032,NaN,NaN
942,2022-12-30,2022-12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.00,0.00,4516.129032,12903.225806,0.0,0.0,4516.129032,NaN,NaN
943,2022-12-31,2022-12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,...,0.0,0.00,0.00,4516.129032,12903.225806,0.0,0.0,4516.129032,NaN,NaN

In [52]:
df6 = df6.fillna(0)
df6.columns

Index(['DATE', 'Month_Year', 'FRIDAY', 'MONDAY', 'SATURDAY', 'SUNDAY',
       'THURSDAY', 'TUESDAY', 'WEDNESDAY', 'ISWEEKEND', 'ISWEEKDAY',
       'AMS_DISPLAY_CLICKS', 'AMS_SEARCH_CLICKS', 'AMS_SEARCH_SP_CLICKS',
       'DISPLAY_CLICKS', 'FACEBOOK_CLICKS', 'G_ADWORDS_CLICKS',
       'INSTAGRAM_CLICKS', 'YOUTUBE_CLICKS', 'AMS_DISPLAY_IMPRESSIONS',
       'AMS_SEARCH_IMPRESSIONS', 'AMS_SEARCH_SP_IMPRESSIONS',
       'DISPLAY_IMPRESSIONS', 'FACEBOOK_IMPRESSIONS', 'G_ADWORDS_IMPRESSIONS',
       'INSTAGRAM_IMPRESSIONS', 'YOUTUBE_IMPRESSIONS', 'AMS_DISPLAY_SPEND',
       'AMS_SEARCH_SPEND', 'AMS_SEARCH_SP_SPEND', 'DISPLAY_SPEND',
       'FACEBOOK_SPEND', 'G_ADWORDS_SPEND', 'INSTAGRAM_SPEND', 'YOUTUBE_SPEND',
       'JBP_AMAZON', 'JBP_FLIPKART', 'JBP_BIG_BASKET', 'PLA_SPENDS',
       'PCA_SPENDS', 'JBP_FLIPKART_TRUE', 'Brand', 'TV_spend'],
      dtype='object')

## List Digital Spends columns and JBP, PLA, PCA columns seperately

In [53]:
dig_sp = ['AMS_DISPLAY_SPEND',
       'AMS_SEARCH_SPEND', 'AMS_SEARCH_SP_SPEND', 'DISPLAY_SPEND',
       'FACEBOOK_SPEND', 'G_ADWORDS_SPEND', 'INSTAGRAM_SPEND', 'YOUTUBE_SPEND',]
jbp_sp = ['JBP_AMAZON','JBP_BIG_BASKET', 'PLA_SPENDS',
       'PCA_SPENDS', 'JBP_FLIPKART_TRUE']

In [57]:
lag_df = create_lags(df6, dig_sp, jbp_sp)
lag_df

,DATE,AMS_DISPLAY_SPEND_LAG_1,AMS_DISPLAY_SPEND_LAG_3,AMS_DISPLAY_SPEND_LAG_5,AMS_DISPLAY_SPEND_LAG_7,AMS_DISPLAY_SPEND_LAG_10,AMS_DISPLAY_SPEND_LAG_14,AMS_DISPLAY_SPEND_LAG_21,AMS_DISPLAY_SPEND_LAG_30,AMS_SEARCH_SPEND_LAG_1,...,JBP_AMAZON_LAG_15,JBP_AMAZON_LAG_30,JBP_BIG_BASKET_LAG_15,JBP_BIG_BASKET_LAG_30,PLA_SPENDS_LAG_15,PLA_SPENDS_LAG_30,PCA_SPENDS_LAG_15,PCA_SPENDS_LAG_30,JBP_FLIPKART_TRUE_LAG_15,JBP_FLIPKART_TRUE_LAG_30
0,2020-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
1,2020-06-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
2,2020-06-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
3,2020-06-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
4,2020-06-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2022-12-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.0,12903.225806,3333.333333,0.0,0.0,0.0,0.0,4516.129032,12466.666667
940,2022-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1738.80,0.0,12903.225806,3333.333333,0.0,0.0,0.0,0.0,4516.129032,12466.666667
941,2022-12-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,22156.4,12903.225806,3333.333333,0.0,0.0,0.0,0.0,4516.129032,12466.666667
942,2022-12-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27389.28,26589.4,12903.225806,3333.333333,0.0,0.0,0.0,0.0,4516.129032,12466.666667
943,2022-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,21557.08,0.0,12903.225806,12903.225806,0.0,0.0,0.0,0.0,4516.129032,4516.129032

In [58]:
df7 = pd.merge(df6, lag_df, on = 'DATE', how = 'left')
df7

,DATE,Month_Year,FRIDAY,MONDAY,SATURDAY,SUNDAY,THURSDAY,TUESDAY,WEDNESDAY,ISWEEKEND,...,JBP_AMAZON_LAG_15,JBP_AMAZON_LAG_30,JBP_BIG_BASKET_LAG_15,JBP_BIG_BASKET_LAG_30,PLA_SPENDS_LAG_15,PLA_SPENDS_LAG_30,PCA_SPENDS_LAG_15,PCA_SPENDS_LAG_30,JBP_FLIPKART_TRUE_LAG_15,JBP_FLIPKART_TRUE_LAG_30
0,2020-06-01,2020-06,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,...,0.00,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
1,2020-06-02,2020-06,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0.00,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
2,2020-06-03,2020-06,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0.00,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
3,2020-06-04,2020-06,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,0.00,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
4,2020-06-05,2020-06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.00,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2022-12-27,2022-12,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0.00,0.0,12903.225806,3333.333333,0.0,0.0,0.0,0.0,4516.129032,12466.666667
940,2022-12-28,2022-12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,1738.80,0.0,12903.225806,3333.333333,0.0,0.0,0.0,0.0,4516.129032,12466.666667
941,2022-12-29,2022-12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,0.00,22156.4,12903.225806,3333.333333,0.0,0.0,0.0,0.0,4516.129032,12466.666667
942,2022-12-30,2022-12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,27389.28,26589.4,12903.225806,3333.333333,0.0,0.0,0.0,0.0,4516.129032,12466.666667
943,2022-12-31,2022-12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,...,21557.08,0.0,12903.225806,12903.225806,0.0,0.0,0.0,0.0,4516.129032,4516.129032

In [59]:
df8 = pd.merge(df7, wtd_df, on = 'DATE', how = 'left')
df9 = pd.merge(df8, comp_df, on = 'DATE', how = 'left')
df10 = pd.merge(df9, sp_index_df, on = 'DATE', how = 'left')
df11 = pd.merge(df10, events_data, on = 'DATE', how = 'left')
df12 = pd.merge(df11, tot_vol, on = 'DATE', how = 'left')
df12

,DATE,Month_Year,FRIDAY,MONDAY,SATURDAY,SUNDAY,THURSDAY,TUESDAY,WEDNESDAY,ISWEEKEND,...,Flipkart Women's Day Sale,Flipkart Big Bachath Dhamaal,Amazon Super Value Days,Amazon Great Republic Day Sale,Amazon Women's Day Sales,Amazon_volume,Big Basket_volume,Flipkart_volume,OVERALL_VOLUME,IndexBPM
0,2020-06-01,2020-06,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,599.500,420.356797,962.292906,1982.149703,4.791982
1,2020-06-02,2020-06,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0,0,0,0,0,740.500,451.595657,464.474705,1656.570363,4.004871
2,2020-06-03,2020-06,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0,0,0,0,0,830.500,410.589454,395.426153,1636.515607,3.956388
3,2020-06-04,2020-06,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,0,0,0,0,0,646.152,397.396731,181.855515,1225.404246,2.962498
4,2020-06-05,2020-06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,682.000,431.432139,265.733913,1379.166052,3.334228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2022-12-27,2022-12,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0,0,0,0,0,466.500,221.209497,1149.825886,1837.535383,4.442347
940,2022-12-28,2022-12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0,0,0,0,0,559.500,222.268473,1261.286130,2043.054603,4.939222
941,2022-12-29,2022-12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,0,0,0,0,0,560.000,245.287981,1208.770180,2014.058161,4.869066
942,2022-12-30,2022-12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,0,0,0,535.500,287.129448,2586.851951,3409.481399,8.242655
943,2022-12-31,2022-12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,...,0,0,0,0,0,434.000,343.708918,1464.173668,2241.882586,5.419876

In [60]:
list(df12.columns)

['DATE',
 'Month_Year',
 'FRIDAY',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'WEDNESDAY',
 'ISWEEKEND',
 'ISWEEKDAY',
 'AMS_DISPLAY_CLICKS',
 'AMS_SEARCH_CLICKS',
 'AMS_SEARCH_SP_CLICKS',
 'DISPLAY_CLICKS',
 'FACEBOOK_CLICKS',
 'G_ADWORDS_CLICKS',
 'INSTAGRAM_CLICKS',
 'YOUTUBE_CLICKS',
 'AMS_DISPLAY_IMPRESSIONS',
 'AMS_SEARCH_IMPRESSIONS',
 'AMS_SEARCH_SP_IMPRESSIONS',
 'DISPLAY_IMPRESSIONS',
 'FACEBOOK_IMPRESSIONS',
 'G_ADWORDS_IMPRESSIONS',
 'INSTAGRAM_IMPRESSIONS',
 'YOUTUBE_IMPRESSIONS',
 'AMS_DISPLAY_SPEND',
 'AMS_SEARCH_SPEND',
 'AMS_SEARCH_SP_SPEND',
 'DISPLAY_SPEND',
 'FACEBOOK_SPEND',
 'G_ADWORDS_SPEND',
 'INSTAGRAM_SPEND',
 'YOUTUBE_SPEND',
 'JBP_AMAZON',
 'JBP_FLIPKART',
 'JBP_BIG_BASKET',
 'PLA_SPENDS',
 'PCA_SPENDS',
 'JBP_FLIPKART_TRUE',
 'Brand',
 'TV_spend',
 'AMS_DISPLAY_SPEND_LAG_1',
 'AMS_DISPLAY_SPEND_LAG_3',
 'AMS_DISPLAY_SPEND_LAG_5',
 'AMS_DISPLAY_SPEND_LAG_7',
 'AMS_DISPLAY_SPEND_LAG_10',
 'AMS_DISPLAY_SPEND_LAG_14',
 'AMS_DISPLAY_SPEND_LAG_21',
 'AMS_DISPLAY_SPEND_LAG_30',
 'AMS_SEARCH_SPEND_LAG_1',
 'AMS_SEARCH_SPEND_LAG_3',
 'AMS_SEARCH_SPEND_LAG_5',
 'AMS_SEARCH_SPEND_LAG_7',
 'AMS_SEARCH_SPEND_LAG_10',
 'AMS_SEARCH_SPEND_LAG_14',
 'AMS_SEARCH_SPEND_LAG_21',
 'AMS_SEARCH_SPEND_LAG_30',
 'AMS_SEARCH_SP_SPEND_LAG_1',
 'AMS_SEARCH_SP_SPEND_LAG_3',
 'AMS_SEARCH_SP_SPEND_LAG_5',
 'AMS_SEARCH_SP_SPEND_LAG_7',
 'AMS_SEARCH_SP_SPEND_LAG_10',
 'AMS_SEARCH_SP_SPEND_LAG_14',
 'AMS_SEARCH_SP_SPEND_LAG_21',
 'AMS_SEARCH_SP_SPEND_LAG_30',
 'DISPLAY_SPEND_LAG_1',
 'DISPLAY_SPEND_LAG_3',
 'DISPLAY_SPEND_LAG_5',
 'DISPLAY_SPEND_LAG_7',
 'DISPLAY_SPEND_LAG_10',
 'DISPLAY_SPEND_LAG_14',
 'DISPLAY_SPEND_LAG_21',
 'DISPLAY_SPEND_LAG_30',
 'FACEBOOK_SPEND_LAG_1',
 'FACEBOOK_SPEND_LAG_3',
 'FACEBOOK_SPEND_LAG_5',
 'FACEBOOK_SPEND_LAG_7',
 'FACEBOOK_SPEND_LAG_10',
 'FACEBOOK_SPEND_LAG_14',
 'FACEBOOK_SPEND_LAG_21',
 'FACEBOOK_SPEND_LAG_30',
 'G_ADWORDS_SPEND_LAG_1',
 'G_ADWORDS_SPEND_LAG_3',
 'G_ADWORDS_SPEND_LAG_5',
 'G_ADWORDS_SPEND_LAG_7',
 'G_ADWORDS_SPEND_LAG_10',
 'G_ADWORDS_SPEND_LAG_14',
 'G_ADWORDS_SPEND_LAG_21',
 'G_ADWORDS_SPEND_LAG_30',
 'INSTAGRAM_SPEND_LAG_1',
 'INSTAGRAM_SPEND_LAG_3',
 'INSTAGRAM_SPEND_LAG_5',
 'INSTAGRAM_SPEND_LAG_7',
 'INSTAGRAM_SPEND_LAG_10',
 'INSTAGRAM_SPEND_LAG_14',
 'INSTAGRAM_SPEND_LAG_21',
 'INSTAGRAM_SPEND_LAG_30',
 'YOUTUBE_SPEND_LAG_1',
 'YOUTUBE_SPEND_LAG_3',
 'YOUTUBE_SPEND_LAG_5',
 'YOUTUBE_SPEND_LAG_7',
 'YOUTUBE_SPEND_LAG_10',
 'YOUTUBE_SPEND_LAG_14',
 'YOUTUBE_SPEND_LAG_21',
 'YOUTUBE_SPEND_LAG_30',
 'JBP_AMAZON_LAG_15',
 'JBP_AMAZON_LAG_30',
 'JBP_BIG_BASKET_LAG_15',
 'JBP_BIG_BASKET_LAG_30',
 'PLA_SPENDS_LAG_15',
 'PLA_SPENDS_LAG_30',
 'PCA_SPENDS_LAG_15',
 'PCA_SPENDS_LAG_30',
 'JBP_FLIPKART_TRUE_LAG_15',
 'JBP_FLIPKART_TRUE_LAG_30',
 'B07D5D9NWT_PPML_MRP',
 'B07D5FG9R5_PPML_MRP',
 'B07G2VBBCJ_PPML_MRP',
 'CAFF5FY5KXWSZCUC_PPML_MRP',
 'CAFF5FY5RHXEY22G_PPML_MRP',
 'CAFF7THHYGH5DKVD_PPML_MRP',
 'B07D5D9NWT_PPML_SP',
 'B07D5FG9R5_PPML_SP',
 'B07G2VBBCJ_PPML_SP',
 'CAFF5FY5KXWSZCUC_PPML_SP',
 'CAFF5FY5RHXEY22G_PPML_SP',
 'CAFF7THHYGH5DKVD_PPML_SP',
 'B07D5D9NWT_MRP',
 'B07D5FG9R5_MRP',
 'B07G2VBBCJ_MRP',
 'CAFF5FY5KXWSZCUC_MRP',
 'CAFF5FY5RHXEY22G_MRP',
 'CAFF7THHYGH5DKVD_MRP',
 'B07D5D9NWT_SP',
 'B07D5FG9R5_SP',
 'B07G2VBBCJ_SP',
 'CAFF5FY5KXWSZCUC_SP',
 'CAFF5FY5RHXEY22G_SP',
 'CAFF7THHYGH5DKVD_SP',
 'B07D5D9NWT_VOLUME',
 'B07D5FG9R5_VOLUME',
 'B07G2VBBCJ_VOLUME',
 'CAFF5FY5KXWSZCUC_VOLUME',
 'CAFF5FY5RHXEY22G_VOLUME',
 'CAFF7THHYGH5DKVD_VOLUME',
 'SAFFOLA_OATS_WTD_MRP_AMAZON',
 'SAFFOLA_OATS_WTD_MRP_FLIPKART',
 'SAFFOLA_OATS_WTD_SP_AMAZON',
 'SAFFOLA_OATS_WTD_SP_FLIPKART',
 'SAFFOLA_OATS_WTD_PPML_SP_AMAZON',
 'SAFFOLA_OATS_WTD_PPML_SP_FLIPKART',
 'SAFFOLA_OATS_WTD_PPML_MRP_AMAZON',
 'SAFFOLA_OATS_WTD_PPML_MRP_FLIPKART',
 'SAFFOLA_OATS_WTD_DISCOUNT%_AMAZON',
 'SAFFOLA_OATS_WTD_DISCOUNT%_FLIPKART',
 'SAFFOLA_OATS_TOTAL_VOLUME_AMAZON',
 'SAFFOLA_OATS_TOTAL_VOLUME_FLIPKART',
 'AMAZON_WTD_MRP',
 'FLIPKART_WTD_MRP',
 'AMAZON_WTD_SP',
 'FLIPKART_WTD_SP',
 'AMAZON_WTD_PPML_SP',
 'FLIPKART_WTD_PPML_SP',
 'AMAZON_WTD_PPML_MRP',
 'FLIPKART_WTD_PPML_MRP',
 'AMAZON_ABS_DISCOUNT',
 'FLIPKART_ABS_DISCOUNT',
 'AMAZON_WTD_DISCOUNT%',
 'FLIPKART_WTD_DISCOUNT%',
 'AMAZON_TOTAL_VOLUME',
 'FLIPKART_TOTAL_VOLUME',
 'TOTAL_ABS_DISCOUNT',
 'TOTAL_VOLUME',
 'WTD_PPML',
 'MAGGI_COMP_PPML',
 'QUAKER MASALA OATS_COMP_PPML',
 'SAFFOLA OATS_COMP_PPML',
 'SOLIMO_COMP_PPML',
 'SUNFEAST YIPPEE_COMP_PPML',
 'WAI WAI_COMP_PPML',
 'YOGA BAR_COMP_PPML',
 'Masala Oats_MAGGI_SP_INDEX',
 'Masala Oats_QUAKER MASALA OATS_SP_INDEX',
 'Masala Oats_SAFFOLA OATS_SP_INDEX',
 'Masala Oats_SOLIMO_SP_INDEX',
 'Masala Oats_SUNFEAST YIPPEE_SP_INDEX',
 'Masala Oats_WAI WAI_SP_INDEX',
 'Masala Oats_YOGA BAR_SP_INDEX',
 'Flipkart Shop from Home Days',
 'Flipkart Mega Big Savings Day',
 'FLIPKART BIG SAVINGS DAY',
 'FLIPKART PAY DAY SALES',
 'FLIPKART BIG BILLION DAYS',
 'Amazon Freedom Sales',
 'AMAZON_GREAT INDIA FESTIVAL',
 'Amazon SVD',
 'FLIPKART BIG DIWALI SALE',
 'FLIPKART DECEMBER SALES',
 'FLIPKART BIG SAVINGS Day_Republic Day',
 'Flipkart New Year Sale',
 "Flipkart Women's Day Sale",
 'Flipkart Big Bachath Dhamaal',
 'Amazon Super Value Days',
 'Amazon Great Republic Day Sale',
 "Amazon Women's Day Sales",
 'Amazon_volume',
 'Big Basket_volume',
 'Flipkart_volume',
 'OVERALL_VOLUME',
 'IndexBPM']

In [61]:
yt_df = youtube_spends_by_years(df12)
yt_df

          DATE  YOUTUBE_SPEND_2020  YOUTUBE_SPEND_2021  YOUTUBE_SPEND_2022
0   2020-06-01                0.00                 0.0                 0.0
1   2020-06-02                0.00                 0.0                 0.0
2   2020-06-03                0.00                 0.0                 0.0
3   2020-06-04                0.00                 0.0                 0.0
4   2020-06-05            37175.04                 0.0                 0.0
..         ...                 ...                 ...                 ...
939 2022-12-27                0.00                 0.0                 0.0
940 2022-12-28                0.00                 0.0                 0.0
941 2022-12-29                0.00                 0.0                 0.0
942 2022-12-30                0.00                 0.0                 0.0
943 2022-12-31                0.00                 0.0                 0.0

[944 rows x 4 columns]

In [62]:
df13 = pd.merge(df12, yt_df, on = 'DATE', how = 'left')
df13

,DATE,Month_Year,FRIDAY,MONDAY,SATURDAY,SUNDAY,THURSDAY,TUESDAY,WEDNESDAY,ISWEEKEND,...,Amazon Great Republic Day Sale,Amazon Women's Day Sales,Amazon_volume,Big Basket_volume,Flipkart_volume,OVERALL_VOLUME,IndexBPM,YOUTUBE_SPEND_2020,YOUTUBE_SPEND_2021,YOUTUBE_SPEND_2022
0,2020-06-01,2020-06,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,599.500,420.356797,962.292906,1982.149703,4.791982,0.00,0.0,0.0
1,2020-06-02,2020-06,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0,0,740.500,451.595657,464.474705,1656.570363,4.004871,0.00,0.0,0.0
2,2020-06-03,2020-06,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0,0,830.500,410.589454,395.426153,1636.515607,3.956388,0.00,0.0,0.0
3,2020-06-04,2020-06,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,0,0,646.152,397.396731,181.855515,1225.404246,2.962498,0.00,0.0,0.0
4,2020-06-05,2020-06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,682.000,431.432139,265.733913,1379.166052,3.334228,37175.04,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2022-12-27,2022-12,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0,0,466.500,221.209497,1149.825886,1837.535383,4.442347,0.00,0.0,0.0
940,2022-12-28,2022-12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0,0,559.500,222.268473,1261.286130,2043.054603,4.939222,0.00,0.0,0.0
941,2022-12-29,2022-12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,0,0,560.000,245.287981,1208.770180,2014.058161,4.869066,0.00,0.0,0.0
942,2022-12-30,2022-12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0,535.500,287.129448,2586.851951,3409.481399,8.242655,0.00,0.0,0.0
943,2022-12-31,2022-12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,...,0,0,434.000,343.708918,1464.173668,2241.882586,5.419876,0.00,0.0,0.0

In [63]:
mention_ratings = pd.merge(ratings_df,mentions_df,on=['DATE'],how ='outer')
mention_ratings

,DATE,SPRINKLER_AUTOMATIC_ALERTS_NEGATIVE_MENTIONS,SPRINKLER_AUTOMATIC_ALERTS_NEUTRAL_MENTIONS,SPRINKLER_AUTOMATIC_ALERTS_POSITIVE_MENTIONS,SPRINKLER_BLOGS/WEBSITES_NEGATIVE_MENTIONS,SPRINKLER_BLOGS/WEBSITES_NEUTRAL_MENTIONS,SPRINKLER_BLOGS/WEBSITES_POSITIVE_MENTIONS,SPRINKLER_BLOG_COMMENTS_NEUTRAL_MENTIONS,SPRINKLER_DATA_INGESTION_NEGATIVE_MENTIONS,SPRINKLER_DATA_INGESTION_NEUTRAL_MENTIONS,...,SPRINKLER_TWITTER_NEGATIVE_MENTIONS,SPRINKLER_TWITTER_NEUTRAL_MENTIONS,SPRINKLER_TWITTER_POSITIVE_MENTIONS,SPRINKLER_TWITTER_UNCATEGORIZED_MENTIONS,SPRINKLER_VIDEOS_NEUTRAL_MENTIONS,SPRINKLER_VIDEOS_POSITIVE_MENTIONS,SPRINKLER_WORDPRESS_NEUTRAL_MENTIONS,SPRINKLER_WORDPRESS_POSITIVE_MENTIONS,SPRINKLER_YOUTUBE_NEUTRAL_MENTIONS,SPRINKLER_YOUTUBE_POSITIVE_MENTIONS
0,2020-06-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-06-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-06-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-06-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-06-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,2022-12-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
877,2022-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
878,2022-12-29,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
879,2022-12-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,24.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
880,2022-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
df14 = pd.merge(df13, mention_ratings, on = 'DATE', how = 'left')
df14

,DATE,Month_Year,FRIDAY,MONDAY,SATURDAY,SUNDAY,THURSDAY,TUESDAY,WEDNESDAY,ISWEEKEND,...,SPRINKLER_TWITTER_NEGATIVE_MENTIONS,SPRINKLER_TWITTER_NEUTRAL_MENTIONS,SPRINKLER_TWITTER_POSITIVE_MENTIONS,SPRINKLER_TWITTER_UNCATEGORIZED_MENTIONS,SPRINKLER_VIDEOS_NEUTRAL_MENTIONS,SPRINKLER_VIDEOS_POSITIVE_MENTIONS,SPRINKLER_WORDPRESS_NEUTRAL_MENTIONS,SPRINKLER_WORDPRESS_POSITIVE_MENTIONS,SPRINKLER_YOUTUBE_NEUTRAL_MENTIONS,SPRINKLER_YOUTUBE_POSITIVE_MENTIONS
0,2020-06-01,2020-06,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-06-02,2020-06,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-06-03,2020-06,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-06-04,2020-06,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-06-05,2020-06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2022-12-27,2022-12,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,2022-12-28,2022-12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,2022-12-29,2022-12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,2022-12-30,2022-12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,24.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,2022-12-31,2022-12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
senti_df = net_sentiments_calcaulation(df14)
senti_df

,DATE,NEWS_NET_SENTIMENT_MENTIONS,TWITTER_NET_SENTIMENT_MENTIONS,WORDPRESS_NET_SENTIMENT_MENTIONS,AUTOMATIC_ALERTS_NET_SENTIMENT_MENTIONS,TUMBLR_NET_SENTIMENT_MENTIONS,PRINT_NET_SENTIMENT_MENTIONS,FACEBOOK_NET_SENTIMENT_MENTIONS,REDDIT_NET_SENTIMENT_MENTIONS,REVIEWS_NET_SENTIMENT_MENTIONS,...,FORUMS_NET_SENTIMENT_MENTIONS,YOUTUBE_NET_SENTIMENT_MENTIONS,INSTAGRAM_NET_SENTIMENT_MENTIONS,BLOGS/WEBSITES_NET_SENTIMENT_MENTIONS,DATA_INGESTION_NET_SENTIMENT_MENTIONS,VIDEOS_NET_SENTIMENT_MENTIONS,POSITIVE_MENTIONS,NEGATIVE_MENTIONS,NEUTRAL_MENTIONS,NET_SENTIMENT_MENTIONS
0,2020-06-01,0.0,0.000000,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2020-06-02,0.0,-0.500000,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,1.000000,0.0,0.0,0.0,1.0,1.0,1.0,0.000000
2,2020-06-03,0.0,0.666667,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,2.0,0.0,3.0,0.400000
3,2020-06-04,0.0,0.000000,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.000000
4,2020-06-05,0.0,0.000000,0.0,0.0,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,1.000000,0.0,0.0,0.0,2.0,0.0,0.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2022-12-27,0.0,0.000000,0.0,0.0,0.0,0.0,0.00,0.0,1.0,...,0.0,0.0,0.928571,0.0,0.0,0.0,20.0,0.0,1.0,0.952381
940,2022-12-28,0.0,0.000000,0.0,0.0,0.0,0.0,0.50,0.0,1.0,...,0.0,0.0,0.750000,0.0,0.0,0.0,14.0,0.0,4.0,0.777778
941,2022-12-29,0.0,0.000000,0.0,0.0,0.0,0.0,0.75,0.0,1.0,...,0.0,0.0,0.888889,0.0,0.0,0.0,22.0,0.0,4.0,0.846154
942,2022-12-30,0.0,0.250000,0.0,0.0,0.0,0.0,1.00,0.0,1.0,...,0.0,0.0,0.857143,0.0,0.0,0.0,25.0,0.0,27.0,0.480769
943,2022-12-31,0.0,-1.000000,0.0,0.0,0.0,0.0,0.00,0.0,1.0,...,0.0,0.0,0.666667,0.0,0.0,0.0,4.0,1.0,1.0,0.500000

In [66]:
df15 = pd.merge(df14, senti_df, on = 'DATE', how = 'left')
df15

,DATE,Month_Year,FRIDAY,MONDAY,SATURDAY,SUNDAY,THURSDAY,TUESDAY,WEDNESDAY,ISWEEKEND,...,FORUMS_NET_SENTIMENT_MENTIONS,YOUTUBE_NET_SENTIMENT_MENTIONS,INSTAGRAM_NET_SENTIMENT_MENTIONS,BLOGS/WEBSITES_NET_SENTIMENT_MENTIONS,DATA_INGESTION_NET_SENTIMENT_MENTIONS,VIDEOS_NET_SENTIMENT_MENTIONS,POSITIVE_MENTIONS,NEGATIVE_MENTIONS,NEUTRAL_MENTIONS,NET_SENTIMENT_MENTIONS
0,2020-06-01,2020-06,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2020-06-02,2020-06,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0.0,0.0,1.000000,0.0,0.0,0.0,1.0,1.0,1.0,0.000000
2,2020-06-03,2020-06,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0.0,0.0,0.000000,0.0,0.0,0.0,2.0,0.0,3.0,0.400000
3,2020-06-04,2020-06,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.000000
4,2020-06-05,2020-06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,1.000000,0.0,0.0,0.0,2.0,0.0,0.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2022-12-27,2022-12,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,...,0.0,0.0,0.928571,0.0,0.0,0.0,20.0,0.0,1.0,0.952381
940,2022-12-28,2022-12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0.0,0.0,0.750000,0.0,0.0,0.0,14.0,0.0,4.0,0.777778
941,2022-12-29,2022-12,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,...,0.0,0.0,0.888889,0.0,0.0,0.0,22.0,0.0,4.0,0.846154
942,2022-12-30,2022-12,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.857143,0.0,0.0,0.0,25.0,0.0,27.0,0.480769
943,2022-12-31,2022-12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,...,0.0,0.0,0.666667,0.0,0.0,0.0,4.0,1.0,1.0,0.500000

In [67]:
list(df15.columns)

['DATE',
 'Month_Year',
 'FRIDAY',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'WEDNESDAY',
 'ISWEEKEND',
 'ISWEEKDAY',
 'AMS_DISPLAY_CLICKS',
 'AMS_SEARCH_CLICKS',
 'AMS_SEARCH_SP_CLICKS',
 'DISPLAY_CLICKS',
 'FACEBOOK_CLICKS',
 'G_ADWORDS_CLICKS',
 'INSTAGRAM_CLICKS',
 'YOUTUBE_CLICKS',
 'AMS_DISPLAY_IMPRESSIONS',
 'AMS_SEARCH_IMPRESSIONS',
 'AMS_SEARCH_SP_IMPRESSIONS',
 'DISPLAY_IMPRESSIONS',
 'FACEBOOK_IMPRESSIONS',
 'G_ADWORDS_IMPRESSIONS',
 'INSTAGRAM_IMPRESSIONS',
 'YOUTUBE_IMPRESSIONS',
 'AMS_DISPLAY_SPEND',
 'AMS_SEARCH_SPEND',
 'AMS_SEARCH_SP_SPEND',
 'DISPLAY_SPEND',
 'FACEBOOK_SPEND',
 'G_ADWORDS_SPEND',
 'INSTAGRAM_SPEND',
 'YOUTUBE_SPEND',
 'JBP_AMAZON',
 'JBP_FLIPKART',
 'JBP_BIG_BASKET',
 'PLA_SPENDS',
 'PCA_SPENDS',
 'JBP_FLIPKART_TRUE',
 'Brand',
 'TV_spend',
 'AMS_DISPLAY_SPEND_LAG_1',
 'AMS_DISPLAY_SPEND_LAG_3',
 'AMS_DISPLAY_SPEND_LAG_5',
 'AMS_DISPLAY_SPEND_LAG_7',
 'AMS_DISPLAY_SPEND_LAG_10',
 'AMS_DISPLAY_SPEND_LAG_14',
 'AMS_DISPLAY_SPEND_LAG_21',
 'AMS_DISPLAY_SPEND_LAG_30',
 'AMS_SEARCH_SPEND_LAG_1',
 'AMS_SEARCH_SPEND_LAG_3',
 'AMS_SEARCH_SPEND_LAG_5',
 'AMS_SEARCH_SPEND_LAG_7',
 'AMS_SEARCH_SPEND_LAG_10',
 'AMS_SEARCH_SPEND_LAG_14',
 'AMS_SEARCH_SPEND_LAG_21',
 'AMS_SEARCH_SPEND_LAG_30',
 'AMS_SEARCH_SP_SPEND_LAG_1',
 'AMS_SEARCH_SP_SPEND_LAG_3',
 'AMS_SEARCH_SP_SPEND_LAG_5',
 'AMS_SEARCH_SP_SPEND_LAG_7',
 'AMS_SEARCH_SP_SPEND_LAG_10',
 'AMS_SEARCH_SP_SPEND_LAG_14',
 'AMS_SEARCH_SP_SPEND_LAG_21',
 'AMS_SEARCH_SP_SPEND_LAG_30',
 'DISPLAY_SPEND_LAG_1',
 'DISPLAY_SPEND_LAG_3',
 'DISPLAY_SPEND_LAG_5',
 'DISPLAY_SPEND_LAG_7',
 'DISPLAY_SPEND_LAG_10',
 'DISPLAY_SPEND_LAG_14',
 'DISPLAY_SPEND_LAG_21',
 'DISPLAY_SPEND_LAG_30',
 'FACEBOOK_SPEND_LAG_1',
 'FACEBOOK_SPEND_LAG_3',
 'FACEBOOK_SPEND_LAG_5',
 'FACEBOOK_SPEND_LAG_7',
 'FACEBOOK_SPEND_LAG_10',
 'FACEBOOK_SPEND_LAG_14',
 'FACEBOOK_SPEND_LAG_21',
 'FACEBOOK_SPEND_LAG_30',
 'G_ADWORDS_SPEND_LAG_1',
 'G_ADWORDS_SPEND_LAG_3',
 'G_ADWORDS_SPEND_LAG_5',
 'G_ADWORDS_SPEND_LAG_7',
 'G_ADWORDS_SPEND_LAG_10',
 'G_ADWORDS_SPEND_LAG_14',
 'G_ADWORDS_SPEND_LAG_21',
 'G_ADWORDS_SPEND_LAG_30',
 'INSTAGRAM_SPEND_LAG_1',
 'INSTAGRAM_SPEND_LAG_3',
 'INSTAGRAM_SPEND_LAG_5',
 'INSTAGRAM_SPEND_LAG_7',
 'INSTAGRAM_SPEND_LAG_10',
 'INSTAGRAM_SPEND_LAG_14',
 'INSTAGRAM_SPEND_LAG_21',
 'INSTAGRAM_SPEND_LAG_30',
 'YOUTUBE_SPEND_LAG_1',
 'YOUTUBE_SPEND_LAG_3',
 'YOUTUBE_SPEND_LAG_5',
 'YOUTUBE_SPEND_LAG_7',
 'YOUTUBE_SPEND_LAG_10',
 'YOUTUBE_SPEND_LAG_14',
 'YOUTUBE_SPEND_LAG_21',
 'YOUTUBE_SPEND_LAG_30',
 'JBP_AMAZON_LAG_15',
 'JBP_AMAZON_LAG_30',
 'JBP_BIG_BASKET_LAG_15',
 'JBP_BIG_BASKET_LAG_30',
 'PLA_SPENDS_LAG_15',
 'PLA_SPENDS_LAG_30',
 'PCA_SPENDS_LAG_15',
 'PCA_SPENDS_LAG_30',
 'JBP_FLIPKART_TRUE_LAG_15',
 'JBP_FLIPKART_TRUE_LAG_30',
 'B07D5D9NWT_PPML_MRP',
 'B07D5FG9R5_PPML_MRP',
 'B07G2VBBCJ_PPML_MRP',
 'CAFF5FY5KXWSZCUC_PPML_MRP',
 'CAFF5FY5RHXEY22G_PPML_MRP',
 'CAFF7THHYGH5DKVD_PPML_MRP',
 'B07D5D9NWT_PPML_SP',
 'B07D5FG9R5_PPML_SP',
 'B07G2VBBCJ_PPML_SP',
 'CAFF5FY5KXWSZCUC_PPML_SP',
 'CAFF5FY5RHXEY22G_PPML_SP',
 'CAFF7THHYGH5DKVD_PPML_SP',
 'B07D5D9NWT_MRP',
 'B07D5FG9R5_MRP',
 'B07G2VBBCJ_MRP',
 'CAFF5FY5KXWSZCUC_MRP',
 'CAFF5FY5RHXEY22G_MRP',
 'CAFF7THHYGH5DKVD_MRP',
 'B07D5D9NWT_SP',
 'B07D5FG9R5_SP',
 'B07G2VBBCJ_SP',
 'CAFF5FY5KXWSZCUC_SP',
 'CAFF5FY5RHXEY22G_SP',
 'CAFF7THHYGH5DKVD_SP',
 'B07D5D9NWT_VOLUME',
 'B07D5FG9R5_VOLUME',
 'B07G2VBBCJ_VOLUME',
 'CAFF5FY5KXWSZCUC_VOLUME',
 'CAFF5FY5RHXEY22G_VOLUME',
 'CAFF7THHYGH5DKVD_VOLUME',
 'SAFFOLA_OATS_WTD_MRP_AMAZON',
 'SAFFOLA_OATS_WTD_MRP_FLIPKART',
 'SAFFOLA_OATS_WTD_SP_AMAZON',
 'SAFFOLA_OATS_WTD_SP_FLIPKART',
 'SAFFOLA_OATS_WTD_PPML_SP_AMAZON',
 'SAFFOLA_OATS_WTD_PPML_SP_FLIPKART',
 'SAFFOLA_OATS_WTD_PPML_MRP_AMAZON',
 'SAFFOLA_OATS_WTD_PPML_MRP_FLIPKART',
 'SAFFOLA_OATS_WTD_DISCOUNT%_AMAZON',
 'SAFFOLA_OATS_WTD_DISCOUNT%_FLIPKART',
 'SAFFOLA_OATS_TOTAL_VOLUME_AMAZON',
 'SAFFOLA_OATS_TOTAL_VOLUME_FLIPKART',
 'AMAZON_WTD_MRP',
 'FLIPKART_WTD_MRP',
 'AMAZON_WTD_SP',
 'FLIPKART_WTD_SP',
 'AMAZON_WTD_PPML_SP',
 'FLIPKART_WTD_PPML_SP',
 'AMAZON_WTD_PPML_MRP',
 'FLIPKART_WTD_PPML_MRP',
 'AMAZON_ABS_DISCOUNT',
 'FLIPKART_ABS_DISCOUNT',
 'AMAZON_WTD_DISCOUNT%',
 'FLIPKART_WTD_DISCOUNT%',
 'AMAZON_TOTAL_VOLUME',
 'FLIPKART_TOTAL_VOLUME',
 'TOTAL_ABS_DISCOUNT',
 'TOTAL_VOLUME',
 'WTD_PPML',
 'MAGGI_COMP_PPML',
 'QUAKER MASALA OATS_COMP_PPML',
 'SAFFOLA OATS_COMP_PPML',
 'SOLIMO_COMP_PPML',
 'SUNFEAST YIPPEE_COMP_PPML',
 'WAI WAI_COMP_PPML',
 'YOGA BAR_COMP_PPML',
 'Masala Oats_MAGGI_SP_INDEX',
 'Masala Oats_QUAKER MASALA OATS_SP_INDEX',
 'Masala Oats_SAFFOLA OATS_SP_INDEX',
 'Masala Oats_SOLIMO_SP_INDEX',
 'Masala Oats_SUNFEAST YIPPEE_SP_INDEX',
 'Masala Oats_WAI WAI_SP_INDEX',
 'Masala Oats_YOGA BAR_SP_INDEX',
 'Flipkart Shop from Home Days',
 'Flipkart Mega Big Savings Day',
 'FLIPKART BIG SAVINGS DAY',
 'FLIPKART PAY DAY SALES',
 'FLIPKART BIG BILLION DAYS',
 'Amazon Freedom Sales',
 'AMAZON_GREAT INDIA FESTIVAL',
 'Amazon SVD',
 'FLIPKART BIG DIWALI SALE',
 'FLIPKART DECEMBER SALES',
 'FLIPKART BIG SAVINGS Day_Republic Day',
 'Flipkart New Year Sale',
 "Flipkart Women's Day Sale",
 'Flipkart Big Bachath Dhamaal',
 'Amazon Super Value Days',
 'Amazon Great Republic Day Sale',
 "Amazon Women's Day Sales",
 'Amazon_volume',
 'Big Basket_volume',
 'Flipkart_volume',
 'OVERALL_VOLUME',
 'IndexBPM',
 'YOUTUBE_SPEND_2020',
 'YOUTUBE_SPEND_2021',
 'YOUTUBE_SPEND_2022',
 'SPRINKLER_AUTOMATIC_ALERTS_NEGATIVE_MENTIONS',
 'SPRINKLER_AUTOMATIC_ALERTS_NEUTRAL_MENTIONS',
 'SPRINKLER_AUTOMATIC_ALERTS_POSITIVE_MENTIONS',
 'SPRINKLER_BLOGS/WEBSITES_NEGATIVE_MENTIONS',
 'SPRINKLER_BLOGS/WEBSITES_NEUTRAL_MENTIONS',
 'SPRINKLER_BLOGS/WEBSITES_POSITIVE_MENTIONS',
 'SPRINKLER_BLOG_COMMENTS_NEUTRAL_MENTIONS',
 'SPRINKLER_DATA_INGESTION_NEGATIVE_MENTIONS',
 'SPRINKLER_DATA_INGESTION_NEUTRAL_MENTIONS',
 'SPRINKLER_DATA_INGESTION_POSITIVE_MENTIONS',
 'SPRINKLER_FACEBOOK_NEGATIVE_MENTIONS',
 'SPRINKLER_FACEBOOK_NEUTRAL_MENTIONS',
 'SPRINKLER_FACEBOOK_POSITIVE_MENTIONS',
 'SPRINKLER_FACEBOOK_UNCATEGORIZED_MENTIONS',
 'SPRINKLER_FORUMS_NEGATIVE_MENTIONS',
 'SPRINKLER_FORUMS_NEUTRAL_MENTIONS',
 'SPRINKLER_FORUMS_POSITIVE_MENTIONS',
 'SPRINKLER_INSTAGRAM_NEGATIVE_MENTIONS',
 'SPRINKLER_INSTAGRAM_NEUTRAL_MENTIONS',
 'SPRINKLER_INSTAGRAM_POSITIVE_MENTIONS',
 'SPRINKLER_INSTAGRAM_UNCATEGORIZED_MENTIONS',
 'SPRINKLER_NEWS_NEGATIVE_MENTIONS',
 'SPRINKLER_NEWS_NEUTRAL_MENTIONS',
 'SPRINKLER_NEWS_POSITIVE_MENTIONS',
 'SPRINKLER_PRINT_NEUTRAL_MENTIONS',
 'SPRINKLER_PRINT_POSITIVE_MENTIONS',
 'SPRINKLER_REDDIT_NEGATIVE_MENTIONS',
 'SPRINKLER_REDDIT_NEUTRAL_MENTIONS',
 'SPRINKLER_REDDIT_POSITIVE_MENTIONS',
 'SPRINKLER_REVIEWS_NEGATIVE_MENTIONS',
 'SPRINKLER_REVIEWS_NEUTRAL_MENTIONS',
 'SPRINKLER_REVIEWS_POSITIVE_MENTIONS',
 'SPRINKLER_REVIEWS_UNCATEGORIZED_MENTIONS',
 'SPRINKLER_TUMBLR_NEGATIVE_MENTIONS',
 'SPRINKLER_TUMBLR_NEUTRAL_MENTIONS',
 'SPRINKLER_TUMBLR_POSITIVE_MENTIONS',
 'SPRINKLER_TUMBLR_UNCATEGORIZED_MENTIONS',
 'SPRINKLER_TWITTER_NEGATIVE_MENTIONS',
 'SPRINKLER_TWITTER_NEUTRAL_MENTIONS',
 'SPRINKLER_TWITTER_POSITIVE_MENTIONS',
 'SPRINKLER_TWITTER_UNCATEGORIZED_MENTIONS',
 'SPRINKLER_VIDEOS_NEUTRAL_MENTIONS',
 'SPRINKLER_VIDEOS_POSITIVE_MENTIONS',
 'SPRINKLER_WORDPRESS_NEUTRAL_MENTIONS',
 'SPRINKLER_WORDPRESS_POSITIVE_MENTIONS',
 'SPRINKLER_YOUTUBE_NEUTRAL_MENTIONS',
 'SPRINKLER_YOUTUBE_POSITIVE_MENTIONS',
 'NEWS_NET_SENTIMENT_MENTIONS',
 'TWITTER_NET_SENTIMENT_MENTIONS',
 'WORDPRESS_NET_SENTIMENT_MENTIONS',
 'AUTOMATIC_ALERTS_NET_SENTIMENT_MENTIONS',
 'TUMBLR_NET_SENTIMENT_MENTIONS',
 'PRINT_NET_SENTIMENT_MENTIONS',
 'FACEBOOK_NET_SENTIMENT_MENTIONS',
 'REDDIT_NET_SENTIMENT_MENTIONS',
 'REVIEWS_NET_SENTIMENT_MENTIONS',
 'BLOG_COMMENTS_NET_SENTIMENT_MENTIONS',
 'FORUMS_NET_SENTIMENT_MENTIONS',
 'YOUTUBE_NET_SENTIMENT_MENTIONS',
 'INSTAGRAM_NET_SENTIMENT_MENTIONS',
 'BLOGS/WEBSITES_NET_SENTIMENT_MENTIONS',
 'DATA_INGESTION_NET_SENTIMENT_MENTIONS',
 'VIDEOS_NET_SENTIMENT_MENTIONS',
 'POSITIVE_MENTIONS',
 'NEGATIVE_MENTIONS',
 'NEUTRAL_MENTIONS',
 'NET_SENTIMENT_MENTIONS']

In [68]:
tot_stat_df = pd.concat([df15.describe(), df15.quantile([0.05])])
tot_stat_df

,FRIDAY,MONDAY,SATURDAY,SUNDAY,THURSDAY,TUESDAY,WEDNESDAY,ISWEEKEND,ISWEEKDAY,AMS_DISPLAY_CLICKS,...,FORUMS_NET_SENTIMENT_MENTIONS,YOUTUBE_NET_SENTIMENT_MENTIONS,INSTAGRAM_NET_SENTIMENT_MENTIONS,BLOGS/WEBSITES_NET_SENTIMENT_MENTIONS,DATA_INGESTION_NET_SENTIMENT_MENTIONS,VIDEOS_NET_SENTIMENT_MENTIONS,POSITIVE_MENTIONS,NEGATIVE_MENTIONS,NEUTRAL_MENTIONS,NET_SENTIMENT_MENTIONS
count,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,...,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,881.000000
mean,0.143008,0.143008,0.143008,0.141949,0.143008,0.143008,0.143008,0.284958,0.715042,16.923729,...,0.024327,0.021716,0.521115,0.014831,0.037076,0.001059,10.869703,0.864407,2.315678,0.681309
std,0.350267,0.350267,0.350267,0.349183,0.350267,0.350267,0.350267,0.451634,0.451634,173.947026,...,0.172155,0.144920,0.455854,0.127576,0.210293,0.032547,8.734020,1.171708,2.700286,0.249451
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,-0.833333
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,1.000000,0.545455
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.645833,0.000000,0.000000,0.000000,9.000000,0.000000,2.000000,0.733333
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,15.000000,1.000000,3.000000,0.857143
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2608.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,57.000000,11.000000,27.000000,1.000000
0.05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.222222

In [69]:
dataset_name = 'Masala_Oats_Dataset_test'
with pd.ExcelWriter(dataset_name+'.xlsx') as writer:
    df15.fillna(0).to_excel(writer, sheet_name='Dataset', index = False)
    tot_stat_df.reset_index().to_excel(writer, sheet_name='Stats', index = False)