This code is perfect!!

In [1]:
import numpy as np
import pandas as pd
import xlsxwriter
import math
import warnings
warnings.filterwarnings("ignore") 

import marshal

In [2]:
s = open(r"C:\Users\Abdul Rehaman\Downloads\pyc files\Min_Max_supporting_code.pyc", 'rb')
s.seek(16)  # go past first eight bytes
code_obj = marshal.load(s)
exec(code_obj)

In [3]:
# s.close()

## Read the dataset from path

In [5]:
df = pd.read_excel(r"C:\Users\Abdul Rehaman\Desktop\Model Refresh Feb 2023\Livon\Livon_Dataset.xlsx", sheet_name = 'Dataset')
df

,DATE,Month_Year,FRIDAY,MONDAY,SATURDAY,SUNDAY,THURSDAY,TUESDAY,WEDNESDAY,ISWEEKEND,...,TWITTER_NET_SENTIMENT_MENTIONS,VIDEOS_NET_SENTIMENT_MENTIONS,TUMBLR_NET_SENTIMENT_MENTIONS,AUTOMATIC_ALERTS_NET_SENTIMENT_MENTIONS,FORUMS_NET_SENTIMENT_MENTIONS,PRINT_NET_SENTIMENT_MENTIONS,POSITIVE_MENTIONS,NEGATIVE_MENTIONS,NEUTRAL_MENTIONS,NET_SENTIMENT_MENTIONS
0,2020-06-01,2020-06,0,1,0,0,0,0,0,0,...,0.000000,0,0.0,0,0.0,0.0,54,2,43,0.525253
1,2020-06-02,2020-06,0,0,0,0,0,1,0,0,...,0.000000,0,0.0,0,0.0,0.0,50,2,35,0.551724
2,2020-06-03,2020-06,0,0,0,0,0,0,1,0,...,-0.125000,0,0.0,0,0.0,0.0,36,12,31,0.303797
3,2020-06-04,2020-06,0,0,0,0,1,0,0,0,...,0.000000,0,0.0,0,0.0,0.0,29,6,27,0.370968
4,2020-06-05,2020-06,1,0,0,0,0,0,0,0,...,0.000000,0,0.0,0,0.0,0.0,68,4,25,0.659794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2022-12-27,2022-12,0,0,0,0,0,1,0,0,...,0.347826,0,0.0,0,0.0,0.0,25,6,16,0.404255
940,2022-12-28,2022-12,0,0,0,0,0,0,1,0,...,0.268293,0,0.0,0,0.0,0.0,25,1,33,0.406780
941,2022-12-29,2022-12,0,0,0,0,1,0,0,0,...,0.000000,0,0.0,0,0.0,0.0,14,1,5,0.650000
942,2022-12-30,2022-12,1,0,0,0,0,0,0,0,...,0.333333,0,0.0,0,0.0,0.0,9,0,4,0.692308
943,2022-12-31,2022-12,0,0,1,0,0,0,0,1,...,0.259259,0,0.0,0,0.0,0.0,22,13,22,0.157895

In [6]:
mat_codes= ['LIVON S-R', 'LVN_SR_DR', 'LIVON 2.0', 'LVN_SRSNS']

## Read events data daily file

In [7]:
event_daily = pd.read_excel(r"C:\Users\Abdul Rehaman\Desktop\Model Refresh Feb 2023\data files\Events Data_monthly_daily.xlsx", sheet_name='Daily')
event_daily

          Date Amazon_event1 Flipkart_event1 Amazon_event Flipkart_event
0   2020-04-01     Non Event       Non Event    Non Event      Non Event
1   2020-04-02     Non Event       Non Event    Non Event      Non Event
2   2020-04-03     Non Event       Non Event    Non Event      Non Event
3   2020-04-04     Non Event       Non Event    Non Event      Non Event
4   2020-04-05     Non Event       Non Event    Non Event      Non Event
..         ...           ...             ...          ...            ...
816 2022-06-26     Non Event       Non Event    Non Event      Non Event
817 2022-06-27     Non Event       Non Event    Non Event      Non Event
818 2022-06-28     Non Event       Non Event    Non Event      Non Event
819 2022-06-29     Non Event       Non Event    Non Event      Non Event
820 2022-06-30     Non Event       Non Event    Non Event      Non Event

[821 rows x 5 columns]

## Read events data monthly file

In [11]:
event_monthly = pd.read_excel(r"C:\Users\Abdul Rehaman\Desktop\Model Refresh Feb 2023\data files\Events Data_monthly_daily.xlsx", sheet_name='Monthly')
event_monthly['Month_Year'] = pd.to_datetime(event_monthly['Month_Year']).dt.strftime("%Y-%m")
event_monthly

   Month_Year Amazon Event Flipkart Event BigBasket Event
0     2020-04    Non Event      Non Event       Non Event
1     2020-05        Event          Event           Event
2     2020-06    Non Event      Non Event       Non Event
3     2020-07        Event          Event           Event
4     2020-08        Event          Event           Event
5     2020-09    Non Event      Non Event       Non Event
6     2020-10        Event          Event           Event
7     2020-11        Event          Event           Event
8     2020-12    Non Event      Non Event       Non Event
9     2021-01        Event          Event           Event
10    2021-02    Non Event      Non Event       Non Event
11    2021-03    Non Event      Non Event       Non Event
12    2021-04    Non Event      Non Event       Non Event
13    2021-05        Event          Event           Event
14    2021-06    Non Event      Non Event       Non Event
15    2021-07        Event          Event           Event
16    2021-08        Event          Event           Event
17    2021-09    Non Event      Non Event       Non Event
18    2021-10        Event          Event           Event
19    2021-11        Event          Event           Event
20    2021-12    Non Event      Non Event       Non Event
21    2022-01        Event          Event           Event
22    2022-02    Non Event      Non Event       Non Event
23    2022-03    Non Event      Non Event       Non Event
24    2022-04    Non Event      Non Event       Non Event
25    2022-05        Event          Event           Event
26    2022-06    Non Event      Non Event       Non Event
27    2022-07        Event          Event           Event
28    2022-08        Event          Event           Event
29    2022-09        Event          Event           Event
30    2022-10        Event          Event           Event
31    2022-11    Non Event      Non Event       Non Event
32    2022-12    Non Event      Non Event       Non Event

## Run this cell only if Super event is observed

In [9]:
tot_df = pd.read_excel(r"C:\Users\Abdul Rehaman\Desktop\Model Refresh Feb 2023\data files\All_SKUs_Volume_till_Dec2022.xlsx", sheet_name = 'Sheet1')
tot_df['material_group_code'].unique()
tot_df

,date,asin,volume,adj_vol_in_rum,platform_name,material_group_code,uom_reporting,vol_per_unit,IndexBPM
0,2020-06-01,100554,1537.248746,1.537249,Big Basket,SAFF KOCO,KL,1000.0,2.258779
1,2020-06-02,100554,1608.260236,1.608260,Big Basket,SAFF KOCO,KL,1000.0,2.363121
2,2020-06-03,100554,1618.261855,1.618262,Big Basket,SAFF KOCO,KL,1000.0,2.377817
3,2020-06-04,100554,1384.223984,1.384224,Big Basket,SAFF KOCO,KL,1000.0,2.033930
4,2020-06-05,100554,1358.219777,1.358220,Big Basket,SAFF KOCO,KL,1000.0,1.995720
...,...,...,...,...,...,...,...,...,...
249797,2022-12-01,EDOFME2RCZ9AVURA,381.715333,0.381715,Flipkart,SAFF KO,KL,1000.0,0.676460
249798,2022-12-02,EDOFME2RCZ9AVURA,294.139746,0.294140,Flipkart,SAFF KO,KL,1000.0,0.521262
249799,2022-12-03,EDOFME2RCZ9AVURA,287.476386,0.287476,Flipkart,SAFF KO,KL,1000.0,0.509453
249800,2022-12-04,EDOFME2RCZ9AVURA,246.544317,0.246544,Flipkart,SAFF KO,KL,1000.0,0.436915
249801,2022-12-05,EDOFME2RCZ9AVURA,121.844296,0.121844,Flipkart,SAFF KO,KL,1000.0,0.215927

In [10]:
df1 = df.fillna(0)

In [12]:
list(df1.columns)

['DATE',
 'Month_Year',
 'FRIDAY',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'WEDNESDAY',
 'ISWEEKEND',
 'ISWEEKDAY',
 'AMS_DISPLAY_CLICKS',
 'AMS_SEARCH_CLICKS',
 'AMS_SEARCH_SP_CLICKS',
 'DISPLAY_CLICKS',
 'FACEBOOK_CLICKS',
 'G_ADWORDS_CLICKS',
 'INSTAGRAM_CLICKS',
 'YOUTUBE_CLICKS',
 'AMS_DISPLAY_IMPRESSIONS',
 'AMS_SEARCH_IMPRESSIONS',
 'AMS_SEARCH_SP_IMPRESSIONS',
 'DISPLAY_IMPRESSIONS',
 'FACEBOOK_IMPRESSIONS',
 'G_ADWORDS_IMPRESSIONS',
 'INSTAGRAM_IMPRESSIONS',
 'YOUTUBE_IMPRESSIONS',
 'AMS_DISPLAY_SPEND',
 'AMS_SEARCH_SPEND',
 'AMS_SEARCH_SP_SPEND',
 'DISPLAY_SPEND',
 'FACEBOOK_SPEND',
 'G_ADWORDS_SPEND',
 'INSTAGRAM_SPEND',
 'YOUTUBE_SPEND',
 'JBP_AMAZON',
 'JBP_FLIPKART',
 'JBP_BIG_BASKET',
 'PLA_SPENDS',
 'PCA_SPENDS',
 'JBP_FLIPKART_TRUE',
 'Brand',
 'TV_spend',
 'AMS_DISPLAY_SPEND_LAG_1',
 'AMS_DISPLAY_SPEND_LAG_3',
 'AMS_DISPLAY_SPEND_LAG_5',
 'AMS_DISPLAY_SPEND_LAG_7',
 'AMS_DISPLAY_SPEND_LAG_10',
 'AMS_DISPLAY_SPEND_LAG_14',
 'AMS_DISPLAY_SPEND_LAG_21',
 'AMS_DISPLAY_SPEND_LAG_30',
 'AMS_SEARCH_SPEND_LAG_1',
 'AMS_SEARCH_SPEND_LAG_3',
 'AMS_SEARCH_SPEND_LAG_5',
 'AMS_SEARCH_SPEND_LAG_7',
 'AMS_SEARCH_SPEND_LAG_10',
 'AMS_SEARCH_SPEND_LAG_14',
 'AMS_SEARCH_SPEND_LAG_21',
 'AMS_SEARCH_SPEND_LAG_30',
 'AMS_SEARCH_SP_SPEND_LAG_1',
 'AMS_SEARCH_SP_SPEND_LAG_3',
 'AMS_SEARCH_SP_SPEND_LAG_5',
 'AMS_SEARCH_SP_SPEND_LAG_7',
 'AMS_SEARCH_SP_SPEND_LAG_10',
 'AMS_SEARCH_SP_SPEND_LAG_14',
 'AMS_SEARCH_SP_SPEND_LAG_21',
 'AMS_SEARCH_SP_SPEND_LAG_30',
 'DISPLAY_SPEND_LAG_1',
 'DISPLAY_SPEND_LAG_3',
 'DISPLAY_SPEND_LAG_5',
 'DISPLAY_SPEND_LAG_7',
 'DISPLAY_SPEND_LAG_10',
 'DISPLAY_SPEND_LAG_14',
 'DISPLAY_SPEND_LAG_21',
 'DISPLAY_SPEND_LAG_30',
 'FACEBOOK_SPEND_LAG_1',
 'FACEBOOK_SPEND_LAG_3',
 'FACEBOOK_SPEND_LAG_5',
 'FACEBOOK_SPEND_LAG_7',
 'FACEBOOK_SPEND_LAG_10',
 'FACEBOOK_SPEND_LAG_14',
 'FACEBOOK_SPEND_LAG_21',
 'FACEBOOK_SPEND_LAG_30',
 'G_ADWORDS_SPEND_LAG_1',
 'G_ADWORDS_SPEND_LAG_3',
 'G_ADWORDS_SPEND_LAG_5',
 'G_ADWORDS_SPEND_LAG_7',
 'G_ADWORDS_SPEND_LAG_10',
 'G_ADWORDS_SPEND_LAG_14',
 'G_ADWORDS_SPEND_LAG_21',
 'G_ADWORDS_SPEND_LAG_30',
 'INSTAGRAM_SPEND_LAG_1',
 'INSTAGRAM_SPEND_LAG_3',
 'INSTAGRAM_SPEND_LAG_5',
 'INSTAGRAM_SPEND_LAG_7',
 'INSTAGRAM_SPEND_LAG_10',
 'INSTAGRAM_SPEND_LAG_14',
 'INSTAGRAM_SPEND_LAG_21',
 'INSTAGRAM_SPEND_LAG_30',
 'YOUTUBE_SPEND_LAG_1',
 'YOUTUBE_SPEND_LAG_3',
 'YOUTUBE_SPEND_LAG_5',
 'YOUTUBE_SPEND_LAG_7',
 'YOUTUBE_SPEND_LAG_10',
 'YOUTUBE_SPEND_LAG_14',
 'YOUTUBE_SPEND_LAG_21',
 'YOUTUBE_SPEND_LAG_30',
 'JBP_AMAZON_LAG_15',
 'JBP_AMAZON_LAG_30',
 'JBP_BIG_BASKET_LAG_15',
 'JBP_BIG_BASKET_LAG_30',
 'PLA_SPENDS_LAG_15',
 'PLA_SPENDS_LAG_30',
 'PCA_SPENDS_LAG_15',
 'PCA_SPENDS_LAG_30',
 'JBP_FLIPKART_TRUE_LAG_15',
 'JBP_FLIPKART_TRUE_LAG_30',
 'B00CBRILZQ_PPML_MRP',
 'B07GVT58MX_PPML_MRP',
 'B07MBFFRB1_PPML_MRP',
 'B0854ZJKP4_PPML_MRP',
 'B0854ZTT7N_PPML_MRP',
 'HSMDDAZEGXVQ2PD4_PPML_MRP',
 'HSMEMWKET3P2MXFA_PPML_MRP',
 'HSMFBB94CYFZJBMZ_PPML_MRP',
 'HSMFBEEKKMCFFRT7_PPML_MRP',
 'B00CBRILZQ_PPML_SP',
 'B07GVT58MX_PPML_SP',
 'B07MBFFRB1_PPML_SP',
 'B0854ZJKP4_PPML_SP',
 'B0854ZTT7N_PPML_SP',
 'HSMDDAZEGXVQ2PD4_PPML_SP',
 'HSMEMWKET3P2MXFA_PPML_SP',
 'HSMFBB94CYFZJBMZ_PPML_SP',
 'HSMFBEEKKMCFFRT7_PPML_SP',
 'B00CBRILZQ_MRP',
 'B07GVT58MX_MRP',
 'B07MBFFRB1_MRP',
 'B0854ZJKP4_MRP',
 'B0854ZTT7N_MRP',
 'HSMDDAZEGXVQ2PD4_MRP',
 'HSMEMWKET3P2MXFA_MRP',
 'HSMFBB94CYFZJBMZ_MRP',
 'HSMFBEEKKMCFFRT7_MRP',
 'B00CBRILZQ_SP',
 'B07GVT58MX_SP',
 'B07MBFFRB1_SP',
 'B0854ZJKP4_SP',
 'B0854ZTT7N_SP',
 'HSMDDAZEGXVQ2PD4_SP',
 'HSMEMWKET3P2MXFA_SP',
 'HSMFBB94CYFZJBMZ_SP',
 'HSMFBEEKKMCFFRT7_SP',
 'B00CBRILZQ_VOLUME',
 'B07GVT58MX_VOLUME',
 'B07MBFFRB1_VOLUME',
 'B0854ZJKP4_VOLUME',
 'B0854ZTT7N_VOLUME',
 'HSMDDAZEGXVQ2PD4_VOLUME',
 'HSMEMWKET3P2MXFA_VOLUME',
 'HSMFBB94CYFZJBMZ_VOLUME',
 'HSMFBEEKKMCFFRT7_VOLUME',
 'LIVON_WTD_MRP_AMAZON',
 'LIVON_WTD_MRP_FLIPKART',
 'LIVON_WTD_SP_AMAZON',
 'LIVON_WTD_SP_FLIPKART',
 'LIVON_WTD_PPML_SP_AMAZON',
 'LIVON_WTD_PPML_SP_FLIPKART',
 'LIVON_WTD_PPML_MRP_AMAZON',
 'LIVON_WTD_PPML_MRP_FLIPKART',
 'LIVON_WTD_DISCOUNT%_AMAZON',
 'LIVON_WTD_DISCOUNT%_FLIPKART',
 'LIVON_TOTAL_VOLUME_AMAZON',
 'LIVON_TOTAL_VOLUME_FLIPKART',
 'AMAZON_WTD_MRP',
 'FLIPKART_WTD_MRP',
 'AMAZON_WTD_SP',
 'FLIPKART_WTD_SP',
 'AMAZON_WTD_PPML_SP',
 'FLIPKART_WTD_PPML_SP',
 'AMAZON_WTD_PPML_MRP',
 'FLIPKART_WTD_PPML_MRP',
 'AMAZON_ABS_DISCOUNT',
 'FLIPKART_ABS_DISCOUNT',
 'AMAZON_WTD_DISCOUNT%',
 'FLIPKART_WTD_DISCOUNT%',
 'AMAZON_TOTAL_VOLUME',
 'FLIPKART_TOTAL_VOLUME',
 'TOTAL_ABS_DISCOUNT',
 'TOTAL_VOLUME',
 'WTD_PPML',
 'BIOLAGE_COMP_PPML',
 "L'OREAL PARIS_COMP_PPML",
 'STREAX_COMP_PPML',
 'TRESEMME_COMP_PPML',
 'Livon_BIOLAGE_SP_INDEX',
 "Livon_L'OREAL PARIS_SP_INDEX",
 'Livon_STREAX_SP_INDEX',
 'Livon_TRESEMME_SP_INDEX',
 'Flipkart Shop from Home Days',
 'Flipkart Mega Big Savings Day',
 'FLIPKART BIG SAVINGS DAY',
 'FLIPKART PAY DAY SALES',
 'FLIPKART BIG BILLION DAYS',
 'Amazon Freedom Sales',
 'AMAZON_GREAT INDIA FESTIVAL',
 'Amazon SVD',
 'FLIPKART BIG DIWALI SALE',
 'FLIPKART DECEMBER SALES',
 'FLIPKART BIG SAVINGS Day_Republic Day',
 'Flipkart New Year Sale',
 "Flipkart Women's Day Sale",
 'Flipkart Big Bachath Dhamaal',
 'Amazon Super Value Days',
 'Amazon Great Republic Day Sale',
 "Amazon Women's Day Sales",
 'Amazon_volume',
 'Big Basket_volume',
 'Flipkart_volume',
 'OVERALL_VOLUME',
 'IndexBPM',
 'YOUTUBE_SPEND_2020',
 'YOUTUBE_SPEND_2021',
 'YOUTUBE_SPEND_2022',
 'SPRINKLER_AMAZONIN_RATING_RATING',
 'SPRINKLER_FLIPKARTCOM_RATING_RATING',
 'SPRINKLER_NYKAACOM_RATING_RATING',
 'SPRINKLER_AUTOMATIC_ALERTS_NEUTRAL_MENTIONS',
 'SPRINKLER_AUTOMATIC_ALERTS_POSITIVE_MENTIONS',
 'SPRINKLER_AUTOMATIC_ALERTS_UNCATEGORIZED_MENTIONS',
 'SPRINKLER_BLOGS/WEBSITES_NEGATIVE_MENTIONS',
 'SPRINKLER_BLOGS/WEBSITES_NEUTRAL_MENTIONS',
 'SPRINKLER_BLOGS/WEBSITES_POSITIVE_MENTIONS',
 'SPRINKLER_DATA_INGESTION_NEGATIVE_MENTIONS',
 'SPRINKLER_DATA_INGESTION_NEUTRAL_MENTIONS',
 'SPRINKLER_DATA_INGESTION_POSITIVE_MENTIONS',
 'SPRINKLER_FACEBOOK_NEGATIVE_MENTIONS',
 'SPRINKLER_FACEBOOK_NEUTRAL_MENTIONS',
 'SPRINKLER_FACEBOOK_POSITIVE_MENTIONS',
 'SPRINKLER_FACEBOOK_UNCATEGORIZED_MENTIONS',
 'SPRINKLER_FORUMS_NEGATIVE_MENTIONS',
 'SPRINKLER_FORUMS_NEUTRAL_MENTIONS',
 'SPRINKLER_FORUMS_POSITIVE_MENTIONS',
 'SPRINKLER_INSTAGRAM_NEGATIVE_MENTIONS',
 'SPRINKLER_INSTAGRAM_NEUTRAL_MENTIONS',
 'SPRINKLER_INSTAGRAM_POSITIVE_MENTIONS',
 'SPRINKLER_INSTAGRAM_UNCATEGORIZED_MENTIONS',
 'SPRINKLER_NEWS_NEGATIVE_MENTIONS',
 'SPRINKLER_NEWS_NEUTRAL_MENTIONS',
 'SPRINKLER_NEWS_POSITIVE_MENTIONS',
 'SPRINKLER_PRINT_NEGATIVE_MENTIONS',
 'SPRINKLER_PRINT_NEUTRAL_MENTIONS',
 'SPRINKLER_PRINT_POSITIVE_MENTIONS',
 'SPRINKLER_REDDIT_NEGATIVE_MENTIONS',
 'SPRINKLER_REDDIT_NEUTRAL_MENTIONS',
 'SPRINKLER_REDDIT_POSITIVE_MENTIONS',
 'SPRINKLER_REDDIT_UNCATEGORIZED_MENTIONS',
 'SPRINKLER_REVIEWS_NEGATIVE_MENTIONS',
 'SPRINKLER_REVIEWS_NEUTRAL_MENTIONS',
 'SPRINKLER_REVIEWS_POSITIVE_MENTIONS',
 'SPRINKLER_REVIEWS_UNCATEGORIZED_MENTIONS',
 'SPRINKLER_TUMBLR_NEUTRAL_MENTIONS',
 'SPRINKLER_TUMBLR_POSITIVE_MENTIONS',
 'SPRINKLER_TUMBLR_UNCATEGORIZED_MENTIONS',
 'SPRINKLER_TWITTER_NEGATIVE_MENTIONS',
 'SPRINKLER_TWITTER_NEUTRAL_MENTIONS',
 'SPRINKLER_TWITTER_POSITIVE_MENTIONS',
 'SPRINKLER_TWITTER_UNCATEGORIZED_MENTIONS',
 'SPRINKLER_VIDEOS_NEUTRAL_MENTIONS',
 'SPRINKLER_VIDEOS_POSITIVE_MENTIONS',
 'SPRINKLER_WORDPRESS_NEGATIVE_MENTIONS',
 'SPRINKLER_WORDPRESS_NEUTRAL_MENTIONS',
 'SPRINKLER_WORDPRESS_POSITIVE_MENTIONS',
 'SPRINKLER_YOUTUBE_NEGATIVE_MENTIONS',
 'SPRINKLER_YOUTUBE_NEUTRAL_MENTIONS',
 'SPRINKLER_YOUTUBE_POSITIVE_MENTIONS',
 'SPRINKLER_YOUTUBE_UNCATEGORIZED_MENTIONS',
 'BLOGS/WEBSITES_NET_SENTIMENT_MENTIONS',
 'FACEBOOK_NET_SENTIMENT_MENTIONS',
 'WORDPRESS_NET_SENTIMENT_MENTIONS',
 'REDDIT_NET_SENTIMENT_MENTIONS',
 'INSTAGRAM_NET_SENTIMENT_MENTIONS',
 'YOUTUBE_NET_SENTIMENT_MENTIONS',
 'NEWS_NET_SENTIMENT_MENTIONS',
 'DATA_INGESTION_NET_SENTIMENT_MENTIONS',
 'REVIEWS_NET_SENTIMENT_MENTIONS',
 'TWITTER_NET_SENTIMENT_MENTIONS',
 'VIDEOS_NET_SENTIMENT_MENTIONS',
 'TUMBLR_NET_SENTIMENT_MENTIONS',
 'AUTOMATIC_ALERTS_NET_SENTIMENT_MENTIONS',
 'FORUMS_NET_SENTIMENT_MENTIONS',
 'PRINT_NET_SENTIMENT_MENTIONS',
 'POSITIVE_MENTIONS',
 'NEGATIVE_MENTIONS',
 'NEUTRAL_MENTIONS',
 'NET_SENTIMENT_MENTIONS']

## Select all the spends columns that are available in the dataset

In [13]:
spend_cols = [
                'DATE',
                'Month_Year',

                'AMS_DISPLAY_SPEND', 'AMS_SEARCH_SPEND', 'AMS_SEARCH_SP_SPEND',
                 
                'DISPLAY_SPEND', 'FACEBOOK_SPEND', 'G_ADWORDS_SPEND', 'INSTAGRAM_SPEND', 'YOUTUBE_SPEND',

                'JBP_AMAZON', 'JBP_FLIPKART_TRUE', 'JBP_BIG_BASKET',

                'TV_spend',

                'PLA_SPENDS', 'PCA_SPENDS',

                # 'Amazon Event',
                # 'Flipkart Event',
                # 'BigBasket Event',

                'Amazon_volume', 'Big Basket_volume', 'Flipkart_volume', 'OVERALL_VOLUME',

            ]

## Run this cell only if Super event is observed

In [14]:
# Changing months to super event
event_monthly.loc[event_monthly['Month_Year'].isin(['2020-10','2020-11','2021-10']),['Amazon Event','Flipkart Event','BigBasket Event']]='Super Event'
event_monthly

   Month_Year Amazon Event Flipkart Event BigBasket Event
0     2020-04    Non Event      Non Event       Non Event
1     2020-05        Event          Event           Event
2     2020-06    Non Event      Non Event       Non Event
3     2020-07        Event          Event           Event
4     2020-08        Event          Event           Event
5     2020-09    Non Event      Non Event       Non Event
6     2020-10  Super Event    Super Event     Super Event
7     2020-11  Super Event    Super Event     Super Event
8     2020-12    Non Event      Non Event       Non Event
9     2021-01        Event          Event           Event
10    2021-02    Non Event      Non Event       Non Event
11    2021-03    Non Event      Non Event       Non Event
12    2021-04    Non Event      Non Event       Non Event
13    2021-05        Event          Event           Event
14    2021-06    Non Event      Non Event       Non Event
15    2021-07        Event          Event           Event
16    2021-08        Event          Event           Event
17    2021-09    Non Event      Non Event       Non Event
18    2021-10  Super Event    Super Event     Super Event
19    2021-11        Event          Event           Event
20    2021-12    Non Event      Non Event       Non Event
21    2022-01        Event          Event           Event
22    2022-02    Non Event      Non Event       Non Event
23    2022-03    Non Event      Non Event       Non Event
24    2022-04    Non Event      Non Event       Non Event
25    2022-05        Event          Event           Event
26    2022-06    Non Event      Non Event       Non Event
27    2022-07        Event          Event           Event
28    2022-08        Event          Event           Event
29    2022-09        Event          Event           Event
30    2022-10        Event          Event           Event
31    2022-11    Non Event      Non Event       Non Event
32    2022-12    Non Event      Non Event       Non Event

In [15]:
index_rate = df1['IndexBPM'].sum()
index_rate

2876.0112546210084

## Function to calculate monthly bpm values for given brand

In [16]:
def index_bpm(df, codes):
    temp_df = df[df['material_group_code'].isin(codes)].reset_index(drop = True)
    temp_df = pd.pivot_table(temp_df, index = 'date', columns = 'platform_name', values= 'IndexBPM', aggfunc=np.sum).reset_index()
    temp_df.columns = ['date', 'Amazon_vol', 'BigBasket_vol', 'Flipkart_vol']
    temp_df['Month_Year'] = pd.to_datetime(temp_df['date']).dt.strftime("%Y-%m")
#     temp_df = temp_df[['Month_Year', 'Amazon_vol', 'BigBasket_vol', 'Flipkart_vol']]
    temp_df = temp_df.groupby('Month_Year').sum().reset_index()
    return temp_df

vol_df = index_bpm(tot_df, mat_codes)
vol_df

   Month_Year  Amazon_vol  BigBasket_vol  Flipkart_vol
0     2020-06   26.571655       3.858106     29.789501
1     2020-07   29.603152       4.796440     22.949993
2     2020-08   51.004183       6.346817     39.666407
3     2020-09   52.354617       5.817412     26.028446
4     2020-10   60.089432       7.264409     79.562203
5     2020-11   57.531847       5.831058     63.112561
6     2020-12   39.940503       7.414450     22.088377
7     2021-01   50.559669       6.768192     61.112186
8     2021-02   41.204395       5.903085     36.614594
9     2021-03   35.254761       6.205777     31.744543
10    2021-04   27.860287       5.541721     31.926720
11    2021-05   33.253495       5.665337     72.897791
12    2021-06   35.946137       4.584497     81.825609
13    2021-07   42.808392       6.280297     39.107616
14    2021-08   40.418442       4.448216     29.231596
15    2021-09   37.116342       4.978361     18.566979
16    2021-10   91.711740       5.611030    111.454292
17    2021-11   38.046634       5.554385     24.751931
18    2021-12   47.307595       7.619484     32.323581
19    2022-01   44.174857       6.047068     33.819338
20    2022-02   40.515270       6.766150     33.111509
21    2022-03   42.695800       7.054753     40.670486
22    2022-04   46.524233       6.875179     33.568741
23    2022-05   41.890686       6.669531     31.159941
24    2022-06   45.591939       6.442466     32.063395
25    2022-07   45.438034       6.609522     41.156404
26    2022-08   51.874451       6.372353     52.473255
27    2022-09   63.557361       7.015543     63.104104
28    2022-10   67.902458       5.473483      0.000000
29    2022-11   81.856666       7.916227      0.000000
30    2022-12   58.141772       7.651000      0.000000

## Function to calculate daily bpm values for given brand

In [17]:
def index_bpm_daily(df, codes):
    temp_df = df[df['material_group_code'].isin(codes)].reset_index(drop = True)
    temp_df = pd.pivot_table(temp_df, index = 'date', columns = 'platform_name', values= 'IndexBPM', aggfunc=np.sum).reset_index()
    temp_df.columns = ['date', 'amazon_value', 'bigbasket_value', 'flipkart_value']
    temp_df['Month_Year'] = pd.to_datetime(temp_df['date']).dt.strftime("%Y-%m")
    temp_df['Total Sales'] = temp_df['amazon_value'] + temp_df['bigbasket_value'] + temp_df['flipkart_value']
    
#     temp_df = temp_df[['Month_Year', 'Amazon_vol', 'BigBasket_vol', 'Flipkart_vol']]
#     temp_df = temp_df.groupby('Month_Year').sum().reset_index()
    temp_df = temp_df.rename(columns = {'date': 'DATE'})
    return temp_df

daily_vol_df = index_bpm_daily(tot_df, mat_codes)
daily_vol_df

,DATE,amazon_value,bigbasket_value,flipkart_value,Month_Year,Total Sales
0,2020-06-01,1.040282,0.181631,1.761247,2020-06,2.983160
1,2020-06-02,1.423186,0.187324,1.272676,2020-06,2.883186
2,2020-06-03,1.194351,0.149485,1.273240,2020-06,2.617077
3,2020-06-04,1.007496,0.165201,0.411441,2020-06,1.584138
4,2020-06-05,0.908120,0.161330,0.394376,2020-06,1.463826
...,...,...,...,...,...,...
939,2022-12-27,1.175710,0.151885,NaN,2022-12,NaN
940,2022-12-28,1.724492,0.116992,NaN,2022-12,NaN
941,2022-12-29,2.108609,0.128863,NaN,2022-12,NaN
942,2022-12-30,1.951451,0.207729,NaN,2022-12,NaN
943,2022-12-31,2.393433,0.263548,NaN,2022-12,NaN

## Segregate On and Off platform column names in two lists

In [18]:
off_platform_cols = ['DISPLAY_SPEND', 'FACEBOOK_SPEND', 'G_ADWORDS_SPEND', 
                                       'INSTAGRAM_SPEND', 'YOUTUBE_SPEND',]
on_platform_cols = [ 'AMS_DISPLAY_SPEND', 'AMS_SEARCH_SPEND', 'AMS_SEARCH_SP_SPEND',
                                      'JBP_AMAZON', 'JBP_BIG_BASKET', 'JBP_FLIPKART_TRUE', 
                                      'PLA_SPENDS', 'PCA_SPENDS',]

## Function to calculate digital media sheet which will have all spends, volumes, sales at month level

In [19]:
def create_dm_sheet(data, vol_data, spend_columns, off_plat_cols, on_plat_cols):
    
    data = data[spend_columns].groupby('Month_Year').sum().reset_index()
    data = pd.merge(data, event_monthly, on = 'Month_Year')
    data = pd.merge(data, vol_data, on = 'Month_Year', how = 'left')
    data['Total sales'] = data[[ 'Amazon_vol', 'BigBasket_vol', 'Flipkart_vol']].sum(axis=1)
    data['Total Off platform'] = data[off_plat_cols].sum(axis=1)
    data['Total on platform'] = data[on_plat_cols].sum(axis=1)
    data['Total Spends'] = data[['Total Off platform', 'Total on platform']].sum(axis=1)
    data = data.rename(columns = {'Month_Year' : 'Month of date'})
    
    return data

dm_df = create_dm_sheet(df1, vol_df, spend_cols, off_platform_cols, on_platform_cols)
dm_df

,Month of date,AMS_DISPLAY_SPEND,AMS_SEARCH_SPEND,AMS_SEARCH_SP_SPEND,DISPLAY_SPEND,FACEBOOK_SPEND,G_ADWORDS_SPEND,INSTAGRAM_SPEND,YOUTUBE_SPEND,JBP_AMAZON,...,Amazon Event,Flipkart Event,BigBasket Event,Amazon_vol,BigBasket_vol,Flipkart_vol,Total sales,Total Off platform,Total on platform,Total Spends
0,2020-06,296708.0103,654628.16,0.00,1.910304e+04,9.124946e+05,305199.8900,2.455789e+05,7.755069e+06,5.692013e+05,...,Non Event,Non Event,Non Event,26.571655,3.858106,29.789501,60.219262,9.237446e+06,2.471208e+06,1.170865e+07
1,2020-07,619347.8157,690577.68,0.00,4.208770e+04,1.205614e+06,186943.3000,5.368862e+05,1.746495e+06,4.870808e+05,...,Event,Event,Event,29.603152,4.796440,22.949993,57.349585,3.718027e+06,1.983556e+06,5.701583e+06
2,2020-08,108397.5022,782915.53,0.00,5.109665e+05,9.391686e+05,0.0000,3.121656e+05,3.260680e+06,7.561144e+05,...,Event,Event,Event,51.004183,6.346817,39.666407,97.017407,5.022981e+06,2.097931e+06,7.120912e+06
3,2020-09,0.0000,655166.44,0.00,3.980337e+05,7.744452e+05,0.0000,1.885378e+05,1.266481e+06,2.913952e+05,...,Non Event,Non Event,Non Event,52.354617,5.817412,26.028446,84.200475,2.627498e+06,2.826790e+06,5.454287e+06
4,2020-10,0.0000,924494.66,0.00,6.555428e+05,6.523145e+05,0.0000,1.697812e+05,1.831275e+06,8.294816e+05,...,Super Event,Super Event,Super Event,60.089432,7.264409,79.562203,146.916045,3.308914e+06,4.431101e+06,7.740014e+06
5,2020-11,0.0000,1386094.53,0.00,1.029914e+06,1.239529e+06,0.0000,1.835537e+05,1.724636e+06,5.312032e+05,...,Super Event,Super Event,Super Event,57.531847,5.831058,63.112561,126.475465,4.177633e+06,3.821848e+06,7.999481e+06
6,2020-12,0.0000,1688947.91,0.00,2.894036e+04,5.584219e+05,280247.4000,8.913641e+05,0.000000e+00,5.394000e+05,...,Non Event,Non Event,Non Event,39.940503,7.414450,22.088377,69.443331,1.758974e+06,3.743374e+06,5.502347e+06
7,2021-01,0.0000,1625361.41,0.00,8.452384e+05,1.616519e+06,441131.9500,3.536789e+05,2.587609e+06,7.142808e+05,...,Event,Event,Event,50.559669,6.768192,61.112186,118.440047,5.844177e+06,5.041479e+06,1.088566e+07
8,2021-02,0.0000,1050031.91,0.00,5.371133e+05,1.323604e+06,299353.8300,2.712923e+05,1.418169e+06,4.245440e+05,...,Non Event,Non Event,Non Event,41.204395,5.903085,36.614594,83.722074,3.849532e+06,3.536043e+06,7.385576e+06
9,2021-03,0.0000,814620.66,0.00,0.000000e+00,0.000000e+00,342657.4200,0.000000e+00,0.000000e+00,2.180160e+05,...,Non Event,Non Event,Non Event,35.254761,6.205777,31.744543,73.205081,3.426574e+05,2.052092e+06,2.394749e+06
10,2021-04,0.0000,944816.78,0.00,0.000000e+00,1.489526e+05,1601.4900,5.175354e+04,0.000000e+00,3.404625e+05,...,Non Event,Non Event,Non Event,27.860287,5.541721,31.926720,65.328728,2.023076e+05,2.105377e+06,2.307684e+06
11,2021-05,0.0000,1765430.74,0.00,0.000000e+00,0.000000e+00,163079.4300,0.000000e+00,0.000000e+00,1.475125e+05,...,Event,Event,Event,33.253495,5.665337,72.897791,111.816622,1.630794e+05,3.328722e+06,3.491801e+06
12,2021-06,0.0000,799504.04,0.00,0.000000e+00,0.000000e+00,195854.5500,0.000000e+00,0.000000e+00,3.892305e+05,...,Non Event,Non Event,Non Event,35.946137,4.584497,81.825609,122.356243,1.958545e+05,3.063602e+06,3.259457e+06
13,2021-07,0.0000,1922434.80,0.00,1.573196e+05,1.420243e+06,263792.9700,8.969880e+05,1.063447e+06,5.279350e+05,...,Event,Event,Event,42.808392,6.280297,39.107616,88.196305,3.801790e+06,3.893423e+06,7.695213e+06
14,2021-08,0.0000,1985905.48,0.00,3.161583e+04,1.446947e+06,257544.5382,8.269433e+05,2.205252e+05,5.117825e+05,...,Event,Event,Event,40.418442,4.448216,29.231596,74.098255,2.783576e+06,2.996166e+06,5.779742e+06
15,2021-09,368380.0505,749798.09,224775.34,0.000000e+00,1.559673e+05,285045.8100,1.650568e+05,4.481414e+03,4.182375e+05,...,Non Event,Non Event,Non Event,37.116342,4.978361,18.566979,60.661682,6.105512e+05,2.140726e+06,2.751277e+06
16,2021-10,0.0748,0.00,2525368.32,0.000000e+00,1.425314e+05,352035.7900,8.692253e+05,1.900924e+06,2.250375e+05,...,Super Event,Super Event,Super Event,91.711740,5.611030,111.454292,208.777062,3.264716e+06,5.304435e+06,8.569151e+06
17,2021-11,0.0000,0.00,1022616.73,0.000000e+00,3.935204e+05,338194.8400,1.537162e+06,1.598532e+06,1.436475e+05,...,Event,Event,Event,38.046634,5.554385,24.751931,68.352950,3.867410e+06,2.420293e+06,6.287703e+06
18,2021-12,0.0000,0.00,1138643.10,3.700000e-01,7.370382e+05,357324.3500,3.073614e+06,3.625587e+06,3.445680e+05,...,Non Event,Non Event,Non Event,47.307595,7.619484,32.323581,87.250660,7.793564e+06,2.303797e+06,1.009736e+07
19,2022-01,0.0000,0.00,1459750.04,7.000000e-01,2.958950e+05,348396.7100,9.826868e+05,1.875514e+06,2.580000e+04,...,Event,Event,Event,44.174857,6.047068,33.819338,84.041263,3.502493e+06,2.615550e+06,6.118043e+06
20,2022-02,0.0000,0.00,1160924.46,1.140000e+00,3.285411e+05,369046.1000,9.348205e+05,1.841232e+06,3.878902e+05,...,Non Event,Non Event,Non Event,40.515270,6.766150,33.111509,80.392928,3.473641e+06,2.468815e+06,5.942456e+06
21,2022-03,0.0000,0.00,1253164.60,0.000000e+00,0.000000e+00,445691.2600,0.000000e+00,0.000000e+00,5.242200e+05,...,Non Event,Non Event,Non Event,42.695800,7.054753,40.670486,90.421039,4.456913e+05,3.277385e+06,3.723076e+06
22,2022-04,0.0000,0.00,1231542.27,4.359000e-01,0.000000e+00,414101.8100,0.000000e+00,6.637051e+05,3.517465e+05,...,Non Event,Non Event,Non Event,46.524233,6.875179,33.568741,86.968153,1.077807e+06,2.958289e+06,4.036096e+06
23,2022-05,0.0000,0.00,1202424.50,0.000000e+00,1.700775e+05,433532.0200,5.793152e+05,2.907886e+06,5.722558e+05,...,Event,Event,Event,41.890686,6.669531,31.159941,79.720158,4.090811e+06,2.454680e+06,6.545491e+06
24,2022-06,0.0000,0.00,1305226.09,0.000000e+00,0.000000e+00,351226.0900,0.000000e+00,4.004675e+05,1.167768e+06,...,Non Event,Non Event,Non Event,45.591939,6.442466,32.063395,84.097800,7.516936e+05,4.607994e+06,5.359688e+06
25,2022-07,0.0000,0.00,1608684.15,0.000000e+00,0.000000e+00,0.0000,0.000000e+00,0.000000e+00,9.033662e+05,...,Event,Event,Event,45.438034,6.609522,41.156404,93.203961,0.000000e+00,3.672050e+06,3.672050e+06
26,2022-08,0.0000,0.00,1587197.19,0.000000e+00,7.076027e+05,0.0000,7.340710e+05,9.273297e+05,9.422700e+04,...,Event,Event,Event,51.874451,6.372353,52.473255,110.720059,2.369003e+06,2.696424e+06,5.065428e+06
27,2022-09,0.0000,0.00,2358693.32,0.000000e+00,0.000000e+00,0.0000,0.000000e+00,1.285101e+06,8.152740e+05,...,Event,Event,Event,63.557361,7.015543,63.104104,133.677008,1.285101e+06,3.173967e+06,4.459068e+06
28,2022-10,0.0000,0.00,2163331.98,3.301588e+04,4.251611e+04,0.0000,2.422357e+03,2.011983e+06,7.152748e+05,...,Event,Event,Event,67.902458,5.473483,0.000000,73.375941,2.089937e+06,4.678607e+06,6.768544e+06
29,2022-11,0.0000,0.00,2161208.46,1.396224e+05,0.000000e+00,0.0000,0.000000e+00,3.218530e+06,6.995466e+05,...,Non Event,Non Event,Non Event,81.856666,7.916227,0.000000,89.772894,3.358152e+06,3.960755e+06,7.318907e+06
30,2022-12,0.0000,0.00,1334340.54,0.000000e+00,0.000000e+00,0.0000,0.000000e+00,0.000000e+00,1.157520e+06,...,Non Event,Non Event,Non Event,58.141772,7.651000,0.000000,65.792772,0.000000e+00,2.891861e+06,2.891861e+06

In [20]:
dm_df.columns

Index(['Month of date', 'AMS_DISPLAY_SPEND', 'AMS_SEARCH_SPEND',
       'AMS_SEARCH_SP_SPEND', 'DISPLAY_SPEND', 'FACEBOOK_SPEND',
       'G_ADWORDS_SPEND', 'INSTAGRAM_SPEND', 'YOUTUBE_SPEND', 'JBP_AMAZON',
       'JBP_FLIPKART_TRUE', 'JBP_BIG_BASKET', 'TV_spend', 'PLA_SPENDS',
       'PCA_SPENDS', 'Amazon_volume', 'Big Basket_volume', 'Flipkart_volume',
       'OVERALL_VOLUME', 'Amazon Event', 'Flipkart Event', 'BigBasket Event',
       'Amazon_vol', 'BigBasket_vol', 'Flipkart_vol', 'Total sales',
       'Total Off platform', 'Total on platform', 'Total Spends'],
      dtype='object')

In [21]:
disc_df = pd.merge(df1[['DATE', 'AMAZON_WTD_DISCOUNT%', 'FLIPKART_WTD_DISCOUNT%',]], daily_vol_df, on = 'DATE')
disc_df

,DATE,AMAZON_WTD_DISCOUNT%,FLIPKART_WTD_DISCOUNT%,amazon_value,bigbasket_value,flipkart_value,Month_Year,Total Sales
0,2020-06-01,0.208128,0.169947,1.040282,0.181631,1.761247,2020-06,2.983160
1,2020-06-02,0.242230,0.187563,1.423186,0.187324,1.272676,2020-06,2.883186
2,2020-06-03,0.237605,0.218813,1.194351,0.149485,1.273240,2020-06,2.617077
3,2020-06-04,0.195014,0.206426,1.007496,0.165201,0.411441,2020-06,1.584138
4,2020-06-05,0.197367,0.188545,0.908120,0.161330,0.394376,2020-06,1.463826
...,...,...,...,...,...,...,...,...
939,2022-12-27,0.305794,0.331238,1.175710,0.151885,NaN,2022-12,NaN
940,2022-12-28,0.299704,0.281197,1.724492,0.116992,NaN,2022-12,NaN
941,2022-12-29,0.262534,0.335160,2.108609,0.128863,NaN,2022-12,NaN
942,2022-12-30,0.242144,0.388039,1.951451,0.207729,NaN,2022-12,NaN
943,2022-12-31,0.265386,0.335625,2.393433,0.263548,NaN,2022-12,NaN

In [22]:
event_daily['Month_Year'] = pd.to_datetime(event_daily['Date']).dt.strftime('%Y-%m')
event_daily.loc[event_daily['Month_Year'].isin(['2020-10','2020-11','2021-10']),['Amazon_event1','Flipkart_event1','Amazon_event','Flipkart_event']]='Super Event'
event_daily[event_daily['Month_Year'].isin(['2020-10','2020-11','2021-10'])]
event_df = event_daily.copy()
event_df = event_df.rename(columns = {'Date' : 'DATE'})
event_df

,DATE,Amazon_event1,Flipkart_event1,Amazon_event,Flipkart_event,Month_Year
0,2020-04-01,Non Event,Non Event,Non Event,Non Event,2020-04
1,2020-04-02,Non Event,Non Event,Non Event,Non Event,2020-04
2,2020-04-03,Non Event,Non Event,Non Event,Non Event,2020-04
3,2020-04-04,Non Event,Non Event,Non Event,Non Event,2020-04
4,2020-04-05,Non Event,Non Event,Non Event,Non Event,2020-04
...,...,...,...,...,...,...
816,2022-06-26,Non Event,Non Event,Non Event,Non Event,2022-06
817,2022-06-27,Non Event,Non Event,Non Event,Non Event,2022-06
818,2022-06-28,Non Event,Non Event,Non Event,Non Event,2022-06
819,2022-06-29,Non Event,Non Event,Non Event,Non Event,2022-06
820,2022-06-30,Non Event,Non Event,Non Event,Non Event,2022-06

In [23]:
dis_df = pd.merge(disc_df, event_df, on =['DATE', 'Month_Year'])
dis_df

,DATE,AMAZON_WTD_DISCOUNT%,FLIPKART_WTD_DISCOUNT%,amazon_value,bigbasket_value,flipkart_value,Month_Year,Total Sales,Amazon_event1,Flipkart_event1,Amazon_event,Flipkart_event
0,2020-06-01,0.208128,0.169947,1.040282,0.181631,1.761247,2020-06,2.983160,Non Event,Non Event,Non Event,Non Event
1,2020-06-02,0.242230,0.187563,1.423186,0.187324,1.272676,2020-06,2.883186,Non Event,Non Event,Non Event,Non Event
2,2020-06-03,0.237605,0.218813,1.194351,0.149485,1.273240,2020-06,2.617077,Non Event,Non Event,Non Event,Non Event
3,2020-06-04,0.195014,0.206426,1.007496,0.165201,0.411441,2020-06,1.584138,Non Event,Non Event,Non Event,Non Event
4,2020-06-05,0.197367,0.188545,0.908120,0.161330,0.394376,2020-06,1.463826,Non Event,Non Event,Non Event,Non Event
...,...,...,...,...,...,...,...,...,...,...,...,...
755,2022-06-26,0.223579,0.237684,1.313866,0.210989,0.876880,2022-06,2.401735,Non Event,Non Event,Non Event,Non Event
756,2022-06-27,0.195666,0.234117,1.211634,0.207554,0.809136,2022-06,2.228324,Non Event,Non Event,Non Event,Non Event
757,2022-06-28,0.159882,0.243941,1.284202,0.173788,0.742232,2022-06,2.200222,Non Event,Non Event,Non Event,Non Event
758,2022-06-29,0.154670,0.242068,1.085294,0.167509,0.604218,2022-06,1.857022,Non Event,Non Event,Non Event,Non Event
759,2022-06-30,0.189599,0.236625,0.760413,0.201794,0.659663,2022-06,1.621870,Non Event,Non Event,Non Event,Non Event

In [24]:
dm_df.columns

Index(['Month of date', 'AMS_DISPLAY_SPEND', 'AMS_SEARCH_SPEND',
       'AMS_SEARCH_SP_SPEND', 'DISPLAY_SPEND', 'FACEBOOK_SPEND',
       'G_ADWORDS_SPEND', 'INSTAGRAM_SPEND', 'YOUTUBE_SPEND', 'JBP_AMAZON',
       'JBP_FLIPKART_TRUE', 'JBP_BIG_BASKET', 'TV_spend', 'PLA_SPENDS',
       'PCA_SPENDS', 'Amazon_volume', 'Big Basket_volume', 'Flipkart_volume',
       'OVERALL_VOLUME', 'Amazon Event', 'Flipkart Event', 'BigBasket Event',
       'Amazon_vol', 'BigBasket_vol', 'Flipkart_vol', 'Total sales',
       'Total Off platform', 'Total on platform', 'Total Spends'],
      dtype='object')

## Select all spends columns

In [25]:
required_cols = ['Month of date','DISPLAY_SPEND',
                   'FACEBOOK_SPEND', 'G_ADWORDS_SPEND', 'INSTAGRAM_SPEND', 'YOUTUBE_SPEND',
                   'AMS_DISPLAY_SPEND', 'AMS_SEARCH_SPEND',
                   'AMS_SEARCH_SP_SPEND', 'JBP_AMAZON',
                   'JBP_FLIPKART_TRUE', 'JBP_BIG_BASKET', 'TV_spend', 'PLA_SPENDS',
                   'PCA_SPENDS', 'Amazon Event']
l3m_ev = dm_df[dm_df['Amazon Event']=='Event'][required_cols][-3:].reset_index(drop = True)
l3m_sev = dm_df[dm_df['Amazon Event']=='Super Event'][required_cols][-3:].reset_index(drop = True)
l3m_nev = dm_df[dm_df['Amazon Event']=='Non Event'][required_cols][-3:].reset_index(drop = True)

## Function to calculte L3M discounts (avg)

In [27]:
def calculate_event_l3m_discounts(disc_data, dm_data):
    
    disc_monthly = disc_data[['Month_Year', 'AMAZON_WTD_DISCOUNT%', 'FLIPKART_WTD_DISCOUNT%']].groupby('Month_Year').mean().reset_index()
    
    t1_df = pd.merge(disc_monthly, dm_data[['Month of date', 'Amazon Event']], right_on='Month of date', left_on='Month_Year')

    ev_df = t1_df[t1_df['Amazon Event']=='Event'][-3:].reset_index(drop = True)
    sev_df = t1_df[t1_df['Amazon Event']=='Super Event'][-3:].reset_index(drop = True)
    nev_df = t1_df[t1_df['Amazon Event']=='Non Event'][-3:].reset_index(drop = True)

    ev_df_avg = pd.DataFrame(ev_df.mean().reset_index())
    ev_df_avg.columns = ['FEATURE', 'SPEND']
    ev_df_avg['Event_tag'] = 1

    sev_df_avg = pd.DataFrame(sev_df.mean().reset_index())
    sev_df_avg.columns = ['FEATURE', 'SPEND']
    sev_df_avg['Event_tag'] = 2

    nev_df_avg = pd.DataFrame(nev_df.mean().reset_index())
    nev_df_avg.columns = ['FEATURE', 'SPEND']
    nev_df_avg['Event_tag'] = 0

    avg_disc_df = pd.concat([ev_df_avg, sev_df_avg, nev_df_avg], axis=0)
    avg_disc_df['FEATURE'] = avg_disc_df['FEATURE'].str.replace('AMAZON_WTD_DISCOUNT%', 'Amazon Discount')
    avg_disc_df['FEATURE'] = avg_disc_df['FEATURE'].str.replace('FLIPKART_WTD_DISCOUNT%', 'Flipkart Discount')
    avg_disc_df = avg_disc_df.reset_index(drop=True)
    
    return avg_disc_df

disc_avg = calculate_event_l3m_discounts(dis_df, dm_df)
disc_avg

             FEATURE     SPEND  Event_tag
0    Amazon Discount  0.216842          1
1  Flipkart Discount  0.243801          1
2    Amazon Discount  0.306047          2
3  Flipkart Discount  0.237991          2
4    Amazon Discount  0.217629          0
5  Flipkart Discount  0.291525          0

## Function to calculte L3M Spends (avg)

In [29]:
def calculate_event_l3m_averages(discount_avg, df1, df2, df3=[]):
    
    ev_df = df1.mean().reset_index()
    ev_df['Event_tag'] = 1
    ev_df.columns = ['FEATURE', 'SPEND', 'Event_tag']

    sev_df = df2.mean().reset_index()
    sev_df['Event_tag'] = 2
    sev_df.columns = ['FEATURE', 'SPEND', 'Event_tag']

    nev_df = df3.mean().reset_index()
    nev_df['Event_tag'] = 0
    nev_df.columns = ['FEATURE', 'SPEND', 'Event_tag']
    
    avg_df = pd.concat([ev_df, sev_df, nev_df, discount_avg], axis = 0).reset_index(drop = True)

    return avg_df

spends_df = calculate_event_l3m_averages(disc_avg, l3m_ev, l3m_nev, l3m_sev)
spends_df

                FEATURE         SPEND  Event_tag
0         DISPLAY_SPEND  1.100529e+04          1
1        FACEBOOK_SPEND  2.500396e+05          1
2       G_ADWORDS_SPEND  0.000000e+00          1
3       INSTAGRAM_SPEND  2.454978e+05          1
4         YOUTUBE_SPEND  1.408138e+06          1
5     AMS_DISPLAY_SPEND  0.000000e+00          1
6      AMS_SEARCH_SPEND  0.000000e+00          1
7   AMS_SEARCH_SP_SPEND  2.036407e+06          1
8            JBP_AMAZON  5.415919e+05          1
9     JBP_FLIPKART_TRUE  7.611430e+05          1
10       JBP_BIG_BASKET  3.000000e+04          1
11             TV_spend  1.194175e+07          1
12           PLA_SPENDS  1.392645e+05          1
13           PCA_SPENDS  7.925833e+03          1
14        DISPLAY_SPEND  4.654079e+04          2
15       FACEBOOK_SPEND  0.000000e+00          2
16      G_ADWORDS_SPEND  1.170754e+05          2
17      INSTAGRAM_SPEND  0.000000e+00          2
18        YOUTUBE_SPEND  1.206332e+06          2
19    AMS_DISPLAY_SPEND  0.000000e+00          2
20     AMS_SEARCH_SPEND  0.000000e+00          2
21  AMS_SEARCH_SP_SPEND  1.600258e+06          2
22           JBP_AMAZON  1.008278e+06          2
23    JBP_FLIPKART_TRUE  7.724943e+05          2
24       JBP_BIG_BASKET  3.050000e+05          2
25             TV_spend  6.909837e+06          2
26           PLA_SPENDS  1.217763e+05          2
27           PCA_SPENDS  1.239600e+04          2
28        DISPLAY_SPEND  5.618188e+05          0
29       FACEBOOK_SPEND  6.781250e+05          0
30      G_ADWORDS_SPEND  1.173453e+05          0
31      INSTAGRAM_SPEND  4.075201e+05          0
32        YOUTUBE_SPEND  1.818945e+06          0
33    AMS_DISPLAY_SPEND  2.493333e-02          0
34     AMS_SEARCH_SPEND  7.701964e+05          0
35  AMS_SEARCH_SP_SPEND  8.417894e+05          0
36           JBP_AMAZON  5.285741e+05          0
37    JBP_FLIPKART_TRUE  1.631646e+06          0
38       JBP_BIG_BASKET  3.307116e+05          0
39             TV_spend  9.618706e+06          0
40           PLA_SPENDS  3.993325e+05          0
41           PCA_SPENDS  1.687833e+04          0
42      Amazon Discount  2.168418e-01          1
43    Flipkart Discount  2.438006e-01          1
44      Amazon Discount  3.060469e-01          2
45    Flipkart Discount  2.379905e-01          2
46      Amazon Discount  2.176290e-01          0
47    Flipkart Discount  2.915250e-01          0

In [31]:
discount = dis_df.copy()
discount.columns

Index(['DATE', 'AMAZON_WTD_DISCOUNT%', 'FLIPKART_WTD_DISCOUNT%',
       'amazon_value', 'bigbasket_value', 'flipkart_value', 'Month_Year',
       'Total Sales', 'Amazon_event1', 'Flipkart_event1', 'Amazon_event',
       'Flipkart_event'],
      dtype='object')

## Function to calculte weekly discounts

In [32]:
def calculate_weekly_discounts(data, disc_dict):
    
    data['Month']=pd.to_datetime(data['DATE']).dt.strftime("%Y-%m")
    data['WEEK'] = ['WEEK_' +str(math.ceil((i+1)/7)) for i in range(len(data))]
    
    data1 = pd.DataFrame()
    data1['WEEK'] = data['WEEK']
    for i in disc_dict.keys():
        print(disc_dict[i][1])
        discounts={'AMAZON_WTD_DISCOUNT%':'Amz_weekly_discount', 'FLIPKART_WTD_DISCOUNT%':'Flip_weekly_discount'}
        Disc_week_level = data.groupby(['WEEK'])[disc_dict[i][1]].mean().reset_index()
#         print(Disc_week_level)
        Disc_week_level.columns = ['WEEK', discounts[disc_dict[i][1]]]
#         data1 = pd.merge(data1, ## Function to calculte L3M Spends (avg)Disc_week_level, on= 'WEEK', how = 'left')
        
        platforms={'amazon_value':'Amz_value_week_lvl','flipkart_value':'Flip_value_week_lvl'}
        value_week_level = data.groupby(['WEEK'])[disc_dict[i][2]].sum().reset_index()
        value_week_level.columns = ['WEEK', platforms[disc_dict[i][2]]]
        
#         value_week_level.columns = ['WEEK', platforms.get(disc_dict[i])]
        dis_val = pd.merge(Disc_week_level, value_week_level, on= 'WEEK', how = 'left')
        data1 = pd.merge(data1, dis_val, on= 'WEEK', how = 'left')
    data1 = pd.merge(data, data1, on = 'WEEK', how = 'left')
    
#     print(data1)
    discount_weekly = pd.DataFrame()
    data1['AMZ_WK_EVENT'] = ''
    data1['FLIP_WK_EVENT'] = ''
    for i in data1['WEEK'].unique():
        event_df = data1[data1['WEEK']  == i]
        a= list(event_df['Amazon_event'].unique())
        b = list(event_df['Flipkart_event'].unique())
        if 'Event' in a:
            event_df['AMZ_WK_EVENT'] = 'Event' 
        elif 'Super Event' in a:
            event_df['AMZ_WK_EVENT'] = 'Super Event'
        else:
            event_df['AMZ_WK_EVENT'] = 'Non Event' 

        if 'Event' in b:
            event_df['FLIP_WK_EVENT'] = 'Event' 
        elif 'Super Event' in b:
            event_df['FLIP_WK_EVENT'] = 'Super Event'
        else:
            event_df['FLIP_WK_EVENT'] = 'Non Event'    

        discount_weekly =   discount_weekly.append(event_df) 
    

    discount_weekly = discount_weekly[['WEEK', 'Amz_weekly_discount', 'Amz_value_week_lvl', 'Flip_weekly_discount','Flip_value_week_lvl', 'AMZ_WK_EVENT', 'FLIP_WK_EVENT']].drop_duplicates()
    discount_weekly['Total Sales'] = discount_weekly[['Amz_value_week_lvl', 'Flip_value_week_lvl']].sum(axis=1)
#     print(discount_weekly.columns)
    return discount_weekly.reset_index(drop = True)

In [33]:
discount_df = calculate_weekly_discounts(discount, {'Amazon Discount': ['AMZ_WK_EVENT','AMAZON_WTD_DISCOUNT%', 'amazon_value'],
                        'Flipkart Discount': ['FLIP_WK_EVENT','FLIPKART_WTD_DISCOUNT%', 'flipkart_value']})
discount_df

AMAZON_WTD_DISCOUNT%
FLIPKART_WTD_DISCOUNT%

,WEEK,Amz_weekly_discount,Amz_value_week_lvl,Flip_weekly_discount,Flip_value_week_lvl,AMZ_WK_EVENT,FLIP_WK_EVENT,Total Sales
0,WEEK_1,0.213071,7.330578,0.189115,5.975139,Non Event,Non Event,13.305717
1,WEEK_2,0.200762,5.919627,0.186124,4.186879,Non Event,Non Event,10.106505
2,WEEK_3,0.203731,5.465412,0.195638,3.655943,Non Event,Non Event,9.121355
3,WEEK_4,0.221642,6.336030,0.264009,14.890167,Non Event,Non Event,21.226198
4,WEEK_5,0.220024,5.954784,0.195257,4.668814,Non Event,Non Event,10.623598
...,...,...,...,...,...,...,...,...
104,WEEK_105,0.174828,9.106320,0.311550,6.455177,Non Event,Non Event,15.561497
105,WEEK_106,0.319424,13.313711,0.325206,10.704833,Non Event,Non Event,24.018544
106,WEEK_107,0.322326,13.688390,0.248528,7.999740,Non Event,Non Event,21.688130
107,WEEK_108,0.232430,7.914964,0.235785,5.626966,Non Event,Non Event,13.541930
108,WEEK_109,0.174954,4.341542,0.239188,2.815249,Non Event,Non Event,7.156791

In [34]:
discount_df['AMZ_WK_EVENT'].value_counts()

Non Event      82
Super Event    15
Event          12
Name: AMZ_WK_EVENT, dtype: int64

In [35]:
{'Amazon Discount': ['AMZ_WK_EVENT','AMAZON_WTD_DISCOUNT%', 'amazon_value'],
                        'Flipkart Discount': ['FLIP_WK_EVENT','FLIPKART_WTD_DISCOUNT%', 'flipkart_value']}

{'Amazon Discount': ['AMZ_WK_EVENT', 'AMAZON_WTD_DISCOUNT%', 'amazon_value'],
 'Flipkart Discount': ['FLIP_WK_EVENT',
  'FLIPKART_WTD_DISCOUNT%',
  'flipkart_value']}

In [36]:
dm_df.columns

Index(['Month of date', 'AMS_DISPLAY_SPEND', 'AMS_SEARCH_SPEND',
       'AMS_SEARCH_SP_SPEND', 'DISPLAY_SPEND', 'FACEBOOK_SPEND',
       'G_ADWORDS_SPEND', 'INSTAGRAM_SPEND', 'YOUTUBE_SPEND', 'JBP_AMAZON',
       'JBP_FLIPKART_TRUE', 'JBP_BIG_BASKET', 'TV_spend', 'PLA_SPENDS',
       'PCA_SPENDS', 'Amazon_volume', 'Big Basket_volume', 'Flipkart_volume',
       'OVERALL_VOLUME', 'Amazon Event', 'Flipkart Event', 'BigBasket Event',
       'Amazon_vol', 'BigBasket_vol', 'Flipkart_vol', 'Total sales',
       'Total Off platform', 'Total on platform', 'Total Spends'],
      dtype='object')

## Create ROI dataframe with required_cols

In [37]:
roi_df = pd.DataFrame()
roi_df['Platform'] = [ 'DISPLAY_SPEND', 'FACEBOOK_SPEND', 'G_ADWORDS_SPEND', 'INSTAGRAM_SPEND', 'YOUTUBE_SPEND',
                      'AMS_SEARCH_SPEND', 'AMS_DISPLAY_SPEND', 'AMS_SEARCH_SP_SPEND',
                      'JBP_AMAZON', 'JBP_FLIPKART', 'JBP_BIG_BASKET', 
                      'TV_spend', 'PLA_SPENDS', 'PCA_SPENDS',
                      'BigBasket_vol','Flipkart_vol', 'Amazon_vol', 'OVERALL_VOLUME']
roi_df['ROI'] = 1
roi_df.head()

          Platform  ROI
0    DISPLAY_SPEND    1
1   FACEBOOK_SPEND    1
2  G_ADWORDS_SPEND    1
3  INSTAGRAM_SPEND    1
4    YOUTUBE_SPEND    1

## Segregate all spends. discounts columns by their type or platform

In [38]:
off_on_platforms = {'Off Platform': ['Total Off platform','Total sales'],
## Segregate On and Off platform column names in two lists                   'On Platform': ['Total on platform', 'Total sales'],
                   'On Platform (JBP Flipkart and Bigbasket excluded)':['Total on platform', 'Amazon_vol']}


off_platforms = [ 'DISPLAY_SPEND', 'FACEBOOK_SPEND', 
                 'G_ADWORDS_SPEND', 'INSTAGRAM_SPEND', 'YOUTUBE_SPEND']
on_platforms = [ 'AMS_SEARCH_SPEND', 'AMS_SEARCH_SP_SPEND', 'AMS_DISPLAY_SPEND',
                 'PLA_SPENDS', 'PCA_SPENDS', 'TV_spend']


jbp_platforms = {'JBP_AMAZON': ['Amazon Event', 'Amazon_vol'],
       'JBP_FLIPKART_TRUE':['Flipkart Event', 'Flipkart_vol'],
      'JBP_BIG_BASKET':['BigBasket Event', 'BigBasket_vol']}

disc_platforms={'Amazon Discount': ['AMZ_WK_EVENT','Amz_weekly_discount'],
      'Flipkart Discount': ['FLIP_WK_EVENT','Flip_weekly_discount']}

disc_dict =  {'Amazon Discount': ['AMZ_WK_EVENT','AMAZON_WTD_DISCOUNT%', 'amazon_value'],
                    'Flipkart Discount': ['FLIP_WK_EVENT','FLIPKART_WTD_DISCOUNT%', 'flipkart_value']}

In [39]:
brand_name = "Livon_Test_test"
workbook = xlsxwriter.Workbook(r"Constraint_enhancement_"+ brand_name + '.xlsx')
border_fmt = workbook.add_format({'bottom':1, 'top':1, 'left':1, 'right':1})

roi_min_max = calculate_min_max(brand_name, dm_df, dis_df, roi_df, workbook,
                               off_on_platforms, off_platforms, on_platforms, jbp_platforms,
                               disc_platforms, disc_dict)
roi_min_max

AMAZON_WTD_DISCOUNT%
FLIPKART_WTD_DISCOUNT%

,FEATURE,Platform Type,ROI,Event_tag,Min,Max
0,DISPLAY_SPEND,off_platform,1.0,1,0.000000e+00,8.452384e+05
1,FACEBOOK_SPEND,off_platform,1.0,1,4.251611e+04,1.518381e+06
2,G_ADWORDS_SPEND,off_platform,1.0,1,0.000000e+00,3.021057e+05
3,INSTAGRAM_SPEND,off_platform,1.0,1,2.422357e+03,9.398374e+05
4,YOUTUBE_SPEND,off_platform,1.0,1,9.273297e+05,2.924144e+06
5,AMS_SEARCH_SPEND,on_platform,1.0,1,0.000000e+00,1.765431e+06
6,AMS_DISPLAY_SPEND,on_platform,1.0,1,0.000000e+00,5.419875e+04
7,AMS_SEARCH_SP_SPEND,on_platform,1.0,1,1.331087e+06,2.358693e+06
8,JBP_AMAZON,on_platform,1.0,1,1.475125e+05,8.152740e+05
9,JBP_BIG_BASKET,on_platform,1.0,1,5.040000e+04,9.000000e+04
10,TV_spend,on_platform,1.0,1,8.860414e+06,1.368797e+07
11,PLA_SPENDS,on_platform,1.0,1,1.680756e+05,4.399240e+05
12,PCA_SPENDS,on_platform,1.0,1,0.000000e+00,2.149625e+04
13,JBP_FLIPKART_TRUE,on_platform,NaN,1,1.239747e+05,1.975315e+06
14,Amazon Discount,,NaN,1,1.923477e-01,2.990875e-01
15,Flipkart Discount,,NaN,1,1.925629e-01,2.634363e-01
16,DISPLAY_SPEND,off_platform,1.0,2,3.277714e+05,5.149568e+05
17,FACEBOOK_SPEND,off_platform,1.0,2,3.974230e+05,6.910302e+05
18,G_ADWORDS_SPEND,off_platform,1.0,2,3.520358e+05,3.520358e+05
19,INSTAGRAM_SPEND,off_platform,1.0,2,1.766675e+05,8.692253e+05
20,YOUTUBE_SPEND,off_platform,1.0,2,1.777956e+06,1.900924e+06
21,AMS_SEARCH_SPEND,on_platform,1.0,2,4.622473e+05,6.930473e+05
22,AMS_DISPLAY_SPEND,on_platform,1.0,2,7.480000e-02,7.480000e-02
23,AMS_SEARCH_SP_SPEND,on_platform,1.0,2,2.525368e+06,2.525368e+06
24,JBP_AMAZON,on_platform,1.0,2,3.781203e+05,5.272596e+05
25,JBP_BIG_BASKET,on_platform,1.0,2,2.730337e+05,4.460675e+05
26,TV_spend,on_platform,1.0,2,5.578059e+06,7.956118e+06
27,PLA_SPENDS,on_platform,1.0,2,3.254193e+05,3.526941e+05
28,PCA_SPENDS,on_platform,1.0,2,5.063500e+04,5.063500e+04
29,JBP_FLIPKART_TRUE,on_platform,NaN,2,1.508287e+06,1.856235e+06
30,Amazon Discount,,NaN,2,2.743932e-01,3.453993e-01
31,Flipkart Discount,,NaN,2,1.791048e-01,2.959680e-01
32,DISPLAY_SPEND,off_platform,1.0,0,0.000000e+00,3.980337e+05
33,FACEBOOK_SPEND,off_platform,1.0,0,0.000000e+00,1.049025e+06
34,G_ADWORDS_SPEND,off_platform,1.0,0,9.872802e+04,4.456913e+05
35,INSTAGRAM_SPEND,off_platform,1.0,0,0.000000e+00,3.073614e+06
36,YOUTUBE_SPEND,off_platform,1.0,0,0.000000e+00,3.422059e+06
37,AMS_SEARCH_SPEND,on_platform,1.0,0,0.000000e+00,9.247680e+05
38,AMS_DISPLAY_SPEND,on_platform,1.0,0,0.000000e+00,1.841900e+05
39,AMS_SEARCH_SP_SPEND,on_platform,1.0,0,1.155354e+06,2.161208e+06
40,JBP_AMAZON,on_platform,1.0,0,3.481572e+05,1.157520e+06
41,JBP_BIG_BASKET,on_platform,1.0,0,7.510000e+04,8.921349e+05
42,TV_spend,on_platform,1.0,0,0.000000e+00,2.072951e+07
43,PLA_SPENDS,on_platform,1.0,0,9.935392e+04,5.999888e+05
44,PCA_SPENDS,on_platform,1.0,0,0.000000e+00,6.578671e+04
45,JBP_FLIPKART_TRUE,on_platform,NaN,0,3.893535e+05,1.554416e+06
46,Amazon Discount,,NaN,0,1.984205e-01,3.498908e-01
47,Flipkart Discount,,NaN,0,1.918747e-01,3.318813e-01

In [40]:
roi_min_max = pd.merge(roi_min_max, spends_df, on = ['FEATURE', 'Event_tag'], how = 'outer')
roi_min_max

,FEATURE,Platform Type,ROI,Event_tag,Min,Max,SPEND
0,DISPLAY_SPEND,off_platform,1.0,1,0.000000e+00,8.452384e+05,1.100529e+04
1,FACEBOOK_SPEND,off_platform,1.0,1,4.251611e+04,1.518381e+06,2.500396e+05
2,G_ADWORDS_SPEND,off_platform,1.0,1,0.000000e+00,3.021057e+05,0.000000e+00
3,INSTAGRAM_SPEND,off_platform,1.0,1,2.422357e+03,9.398374e+05,2.454978e+05
4,YOUTUBE_SPEND,off_platform,1.0,1,9.273297e+05,2.924144e+06,1.408138e+06
5,AMS_SEARCH_SPEND,on_platform,1.0,1,0.000000e+00,1.765431e+06,0.000000e+00
6,AMS_DISPLAY_SPEND,on_platform,1.0,1,0.000000e+00,5.419875e+04,0.000000e+00
7,AMS_SEARCH_SP_SPEND,on_platform,1.0,1,1.331087e+06,2.358693e+06,2.036407e+06
8,JBP_AMAZON,on_platform,1.0,1,1.475125e+05,8.152740e+05,5.415919e+05
9,JBP_BIG_BASKET,on_platform,1.0,1,5.040000e+04,9.000000e+04,3.000000e+04
10,TV_spend,on_platform,1.0,1,8.860414e+06,1.368797e+07,1.194175e+07
11,PLA_SPENDS,on_platform,1.0,1,1.680756e+05,4.399240e+05,1.392645e+05
12,PCA_SPENDS,on_platform,1.0,1,0.000000e+00,2.149625e+04,7.925833e+03
13,JBP_FLIPKART_TRUE,on_platform,NaN,1,1.239747e+05,1.975315e+06,7.611430e+05
14,Amazon Discount,,NaN,1,1.923477e-01,2.990875e-01,2.168418e-01
15,Flipkart Discount,,NaN,1,1.925629e-01,2.634363e-01,2.438006e-01
16,DISPLAY_SPEND,off_platform,1.0,2,3.277714e+05,5.149568e+05,4.654079e+04
17,FACEBOOK_SPEND,off_platform,1.0,2,3.974230e+05,6.910302e+05,0.000000e+00
18,G_ADWORDS_SPEND,off_platform,1.0,2,3.520358e+05,3.520358e+05,1.170754e+05
19,INSTAGRAM_SPEND,off_platform,1.0,2,1.766675e+05,8.692253e+05,0.000000e+00
20,YOUTUBE_SPEND,off_platform,1.0,2,1.777956e+06,1.900924e+06,1.206332e+06
21,AMS_SEARCH_SPEND,on_platform,1.0,2,4.622473e+05,6.930473e+05,0.000000e+00
22,AMS_DISPLAY_SPEND,on_platform,1.0,2,7.480000e-02,7.480000e-02,0.000000e+00
23,AMS_SEARCH_SP_SPEND,on_platform,1.0,2,2.525368e+06,2.525368e+06,1.600258e+06
24,JBP_AMAZON,on_platform,1.0,2,3.781203e+05,5.272596e+05,1.008278e+06
25,JBP_BIG_BASKET,on_platform,1.0,2,2.730337e+05,4.460675e+05,3.050000e+05
26,TV_spend,on_platform,1.0,2,5.578059e+06,7.956118e+06,6.909837e+06
27,PLA_SPENDS,on_platform,1.0,2,3.254193e+05,3.526941e+05,1.217763e+05
28,PCA_SPENDS,on_platform,1.0,2,5.063500e+04,5.063500e+04,1.239600e+04
29,JBP_FLIPKART_TRUE,on_platform,NaN,2,1.508287e+06,1.856235e+06,7.724943e+05
30,Amazon Discount,,NaN,2,2.743932e-01,3.453993e-01,3.060469e-01
31,Flipkart Discount,,NaN,2,1.791048e-01,2.959680e-01,2.379905e-01
32,DISPLAY_SPEND,off_platform,1.0,0,0.000000e+00,3.980337e+05,5.618188e+05
33,FACEBOOK_SPEND,off_platform,1.0,0,0.000000e+00,1.049025e+06,6.781250e+05
34,G_ADWORDS_SPEND,off_platform,1.0,0,9.872802e+04,4.456913e+05,1.173453e+05
35,INSTAGRAM_SPEND,off_platform,1.0,0,0.000000e+00,3.073614e+06,4.075201e+05
36,YOUTUBE_SPEND,off_platform,1.0,0,0.000000e+00,3.422059e+06,1.818945e+06
37,AMS_SEARCH_SPEND,on_platform,1.0,0,0.000000e+00,9.247680e+05,7.701964e+05
38,AMS_DISPLAY_SPEND,on_platform,1.0,0,0.000000e+00,1.841900e+05,2.493333e-02
39,AMS_SEARCH_SP_SPEND,on_platform,1.0,0,1.155354e+06,2.161208e+06,8.417894e+05
40,JBP_AMAZON,on_platform,1.0,0,3.481572e+05,1.157520e+06,5.285741e+05
41,JBP_BIG_BASKET,on_platform,1.0,0,7.510000e+04,8.921349e+05,3.307116e+05
42,TV_spend,on_platform,1.0,0,0.000000e+00,2.072951e+07,9.618706e+06
43,PLA_SPENDS,on_platform,1.0,0,9.935392e+04,5.999888e+05,3.993325e+05
44,PCA_SPENDS,on_platform,1.0,0,0.000000e+00,6.578671e+04,1.687833e+04
45,JBP_FLIPKART_TRUE,on_platform,NaN,0,3.893535e+05,1.554416e+06,1.631646e+06
46,Amazon Discount,,NaN,0,1.984205e-01,3.498908e-01,2.176290e-01
47,Flipkart Discount,,NaN,0,1.918747e-01,3.318813e-01,2.915250e-01

In [41]:
contrib = pd.read_excel(r"C:\Users\Abdul Rehaman\Desktop\Model Refresh Feb 2023\Livon\Livon_final_contribution_outputs.xlsx", sheet_name='Base_and_incremental')
contrib.head()

,FEATURE,COEFF,P_VALUE,SUM,PRODUCT,CONTRIBUTION,BASE/INCREMENTAL,VALUE,ROI_OR_VOL/DAY,Elasticity
0,BASE_FLIPKART_WTD_DISCOUNT%,209.718490,0.00000,1.333011e+02,27955.710213,17.068709,BASE,490.897979,368262.447893,1.706871
1,BASE_AMAZON_WTD_DISCOUNT%,168.993825,0.00074,1.417091e+02,23947.970324,14.621733,BASE,420.522682,296750.561802,1.462173
2,INCREMENTAL_FLIPKART_WTD_DISCOUNT%,209.718490,0.00000,6.270343e+07,21089.395424,12.876394,INCREMENTAL,504.012531,0.803804,1.287639
3,JBP_FLIPKART_TRUE,0.000726,0.00009,2.500120e+07,18162.695777,11.089461,INCREMENTAL,318.934149,1.275675,1.108946
4,INCREMENTAL_AMAZON_WTD_DISCOUNT%,168.993825,0.00074,7.392514e+07,14677.788263,8.961707,INCREMENTAL,350.782422,0.474510,0.896171

In [42]:
contrib['FEATURE'] = contrib.FEATURE.str.split("_LAG", expand=True)[0]
contrib['FEATURE'] = contrib['FEATURE'].str.replace('INCREMENTAL_AMAZON_WTD_DISCOUNT%', 'Amazon Discount')
contrib['FEATURE'] = contrib['FEATURE'].str.replace('INCREMENTAL_FLIPKART_WTD_DISCOUNT%', 'Flipkart Discount')
contrib['FEATURE'] = contrib['FEATURE'].str.replace('JBP_FLIPKART_TRUE', 'JBP_FLIPKART')
contrib

,FEATURE,COEFF,P_VALUE,SUM,PRODUCT,CONTRIBUTION,BASE/INCREMENTAL,VALUE,ROI_OR_VOL/DAY,Elasticity
0,BASE_FLIPKART_WTD_DISCOUNT%,209.718490,0.00000,1.333011e+02,27955.710213,17.068709,BASE,490.897979,368262.447893,1.706871
1,BASE_AMAZON_WTD_DISCOUNT%,168.993825,0.00074,1.417091e+02,23947.970324,14.621733,BASE,420.522682,296750.561802,1.462173
2,Flipkart Discount,209.718490,0.00000,6.270343e+07,21089.395424,12.876394,INCREMENTAL,504.012531,0.803804,1.287639
3,JBP_FLIPKART,0.000726,0.00009,2.500120e+07,18162.695777,11.089461,INCREMENTAL,318.934149,1.275675,1.108946
4,Amazon Discount,168.993825,0.00074,7.392514e+07,14677.788263,8.961707,INCREMENTAL,350.782422,0.474510,0.896171
5,AMS_SEARCH_SPEND,0.000702,0.00011,1.844073e+07,12954.154941,7.909321,INCREMENTAL,227.472972,1.233536,0.790932
6,PLA_SPENDS,0.000936,0.00109,8.199096e+06,7673.911357,4.685403,INCREMENTAL,134.752705,1.643507,0.468540
7,AMS_SEARCH_SP_SPEND,0.000266,0.06905,2.373789e+07,6317.955687,3.857507,INCREMENTAL,110.942332,0.467364,0.385751
8,FLIPKART BIG BILLION DAYS,158.154376,0.00000,3.700000e+01,5851.711926,3.572836,INCREMENTAL,102.755163,277716.656792,0.357284
9,FLIPKART PAY DAY SALES,50.490665,0.00001,8.800000e+01,4443.178539,2.712838,INCREMENTAL,78.021533,88660.832953,0.271284
10,TV_spend,0.000019,0.04095,2.284249e+08,4247.728790,2.593504,INCREMENTAL,74.589465,0.032654,0.259350
11,ISWEEKEND,12.957505,0.08223,2.690000e+02,3485.568837,2.128158,INCREMENTAL,61.206054,22753.179795,0.212816
12,FLIPKART BIG DIWALI SALE,111.037778,0.00000,2.900000e+01,3220.095549,1.966070,INCREMENTAL,56.544383,194980.632640,0.196607
13,Livon_TRESEMME_SP_INDEX,-6.209526,0.38765,5.141047e+02,-3192.346564,-1.949127,BASE,-56.057116,-10903.832013,-0.194913
14,G_ADWORDS_SPEND,0.000422,0.45351,6.432002e+06,2711.611548,1.655608,INCREMENTAL,47.615482,0.740290,0.165561
15,DISPLAY_SPEND,0.000463,0.17466,4.428516e+06,2050.045284,1.251681,INCREMENTAL,35.998480,0.812879,0.125168
16,AMAZON_GREAT INDIA FESTIVAL,41.555256,0.07127,4.300000e+01,1786.875995,1.090999,INCREMENTAL,31.377268,72970.391020,0.109100
17,Amazon SVD,8.002618,0.39167,2.170000e+02,1736.568038,1.060283,INCREMENTAL,30.493868,14052.473795,0.106028
18,FACEBOOK/INSTAGRAM_SPEND,0.000052,0.48872,2.901884e+07,1499.396452,0.915475,INCREMENTAL,26.329171,0.090731,0.091548
19,SPRINKLER_AMAZONIN_RATING_RATING,0.332390,0.85514,3.012850e+03,1001.441598,0.611443,BASE,17.585161,583.671943,0.061144
20,PCA_SPENDS,0.001257,0.53063,4.759148e+05,598.037872,0.365140,INCREMENTAL,10.501453,2.206583,0.036514
21,AMS_DISPLAY_SPEND,0.000373,0.54890,1.392833e+06,520.112585,0.317561,INCREMENTAL,9.133097,0.655721,0.031756
22,Amazon Freedom Sales,23.932962,0.20083,1.800000e+01,430.793309,0.263026,INCREMENTAL,7.564664,42025.913192,0.026303
23,YOUTUBE_SPEND_2021,0.000029,0.75912,1.241927e+07,360.068558,0.219844,INCREMENTAL,6.322749,0.050911,0.021984
24,JBP_AMAZON,0.000013,0.86974,1.475517e+07,198.029963,0.120910,INCREMENTAL,3.477376,0.023567,0.012091
25,Amazon Great Republic Day Sale,13.723453,0.79769,4.000000e+00,54.893811,0.033516,INCREMENTAL,0.963927,24098.172135,0.003352

In [43]:
roi_comb = pd.merge(roi_min_max, contrib[['FEATURE', 'ROI_OR_VOL/DAY']], on = 'FEATURE', how = 'left')
roi_comb['ROI'] = roi_comb['ROI_OR_VOL/DAY'].fillna(0)
roi_comb = roi_comb.drop('ROI_OR_VOL/DAY', axis=1)
roi_comb['ROI'] = [5 if x>5 else x for x in roi_comb['ROI']]
roi_comb

,FEATURE,Platform Type,ROI,Event_tag,Min,Max,SPEND
0,DISPLAY_SPEND,off_platform,0.812879,1,0.000000e+00,8.452384e+05,1.100529e+04
1,FACEBOOK_SPEND,off_platform,0.000000,1,4.251611e+04,1.518381e+06,2.500396e+05
2,G_ADWORDS_SPEND,off_platform,0.740290,1,0.000000e+00,3.021057e+05,0.000000e+00
3,INSTAGRAM_SPEND,off_platform,0.000000,1,2.422357e+03,9.398374e+05,2.454978e+05
4,YOUTUBE_SPEND,off_platform,0.000000,1,9.273297e+05,2.924144e+06,1.408138e+06
5,AMS_SEARCH_SPEND,on_platform,1.233536,1,0.000000e+00,1.765431e+06,0.000000e+00
6,AMS_DISPLAY_SPEND,on_platform,0.655721,1,0.000000e+00,5.419875e+04,0.000000e+00
7,AMS_SEARCH_SP_SPEND,on_platform,0.467364,1,1.331087e+06,2.358693e+06,2.036407e+06
8,JBP_AMAZON,on_platform,0.023567,1,1.475125e+05,8.152740e+05,5.415919e+05
9,JBP_BIG_BASKET,on_platform,0.000000,1,5.040000e+04,9.000000e+04,3.000000e+04
10,TV_spend,on_platform,0.032654,1,8.860414e+06,1.368797e+07,1.194175e+07
11,PLA_SPENDS,on_platform,1.643507,1,1.680756e+05,4.399240e+05,1.392645e+05
12,PCA_SPENDS,on_platform,2.206583,1,0.000000e+00,2.149625e+04,7.925833e+03
13,JBP_FLIPKART_TRUE,on_platform,0.000000,1,1.239747e+05,1.975315e+06,7.611430e+05
14,Amazon Discount,,0.474510,1,1.923477e-01,2.990875e-01,2.168418e-01
15,Flipkart Discount,,0.803804,1,1.925629e-01,2.634363e-01,2.438006e-01
16,DISPLAY_SPEND,off_platform,0.812879,2,3.277714e+05,5.149568e+05,4.654079e+04
17,FACEBOOK_SPEND,off_platform,0.000000,2,3.974230e+05,6.910302e+05,0.000000e+00
18,G_ADWORDS_SPEND,off_platform,0.740290,2,3.520358e+05,3.520358e+05,1.170754e+05
19,INSTAGRAM_SPEND,off_platform,0.000000,2,1.766675e+05,8.692253e+05,0.000000e+00
20,YOUTUBE_SPEND,off_platform,0.000000,2,1.777956e+06,1.900924e+06,1.206332e+06
21,AMS_SEARCH_SPEND,on_platform,1.233536,2,4.622473e+05,6.930473e+05,0.000000e+00
22,AMS_DISPLAY_SPEND,on_platform,0.655721,2,7.480000e-02,7.480000e-02,0.000000e+00
23,AMS_SEARCH_SP_SPEND,on_platform,0.467364,2,2.525368e+06,2.525368e+06,1.600258e+06
24,JBP_AMAZON,on_platform,0.023567,2,3.781203e+05,5.272596e+05,1.008278e+06
25,JBP_BIG_BASKET,on_platform,0.000000,2,2.730337e+05,4.460675e+05,3.050000e+05
26,TV_spend,on_platform,0.032654,2,5.578059e+06,7.956118e+06,6.909837e+06
27,PLA_SPENDS,on_platform,1.643507,2,3.254193e+05,3.526941e+05,1.217763e+05
28,PCA_SPENDS,on_platform,2.206583,2,5.063500e+04,5.063500e+04,1.239600e+04
29,JBP_FLIPKART_TRUE,on_platform,0.000000,2,1.508287e+06,1.856235e+06,7.724943e+05
30,Amazon Discount,,0.474510,2,2.743932e-01,3.453993e-01,3.060469e-01
31,Flipkart Discount,,0.803804,2,1.791048e-01,2.959680e-01,2.379905e-01
32,DISPLAY_SPEND,off_platform,0.812879,0,0.000000e+00,3.980337e+05,5.618188e+05
33,FACEBOOK_SPEND,off_platform,0.000000,0,0.000000e+00,1.049025e+06,6.781250e+05
34,G_ADWORDS_SPEND,off_platform,0.740290,0,9.872802e+04,4.456913e+05,1.173453e+05
35,INSTAGRAM_SPEND,off_platform,0.000000,0,0.000000e+00,3.073614e+06,4.075201e+05
36,YOUTUBE_SPEND,off_platform,0.000000,0,0.000000e+00,3.422059e+06,1.818945e+06
37,AMS_SEARCH_SPEND,on_platform,1.233536,0,0.000000e+00,9.247680e+05,7.701964e+05
38,AMS_DISPLAY_SPEND,on_platform,0.655721,0,0.000000e+00,1.841900e+05,2.493333e-02
39,AMS_SEARCH_SP_SPEND,on_platform,0.467364,0,1.155354e+06,2.161208e+06,8.417894e+05
40,JBP_AMAZON,on_platform,0.023567,0,3.481572e+05,1.157520e+06,5.285741e+05
41,JBP_BIG_BASKET,on_platform,0.000000,0,7.510000e+04,8.921349e+05,3.307116e+05
42,TV_spend,on_platform,0.032654,0,0.000000e+00,2.072951e+07,9.618706e+06
43,PLA_SPENDS,on_platform,1.643507,0,9.935392e+04,5.999888e+05,3.993325e+05
44,PCA_SPENDS,on_platform,2.206583,0,0.000000e+00,6.578671e+04,1.687833e+04
45,JBP_FLIPKART_TRUE,on_platform,0.000000,0,3.893535e+05,1.554416e+06,1.631646e+06
46,Amazon Discount,,0.474510,0,1.984205e-01,3.498908e-01,2.176290e-01
47,Flipkart Discount,,0.803804,0,1.918747e-01,3.318813e-01,2.915250e-01

In [44]:
roi_comb.to_excel(r"Optimisation_Input_Min_Max_ROI_Livon_test.xlsx", index = False)