In [1]:
import pandas as pd
import numpy as np

In [2]:
vol_daily = pd.read_excel(r"C:\Users\Abdul Rehaman\Downloads\Offtake data for ASIN 10.08.2022.xlsx", sheet_name= 'Sheet1')
vol_daily

,date,platform_name,asin,product_title,material_group_code,uom_reporting,vol_per_unit,turnover,shipped_unit,vol_in_lit,vol_in_rum,index_BPM,Brand
0,2020-02-01,Amazon,B003NQESIS,PCNO H ED 1 LT PJ-16,PCNO(R),KL,1000.0,311348.851694,3,3.000,0.003000,0.009340,Parachute Coconut Oil
1,2020-02-01,Amazon,B00CBRHLJ8,Par Adv Ayur 300ml Hot Oil,PADV-HOT,L,300.0,342.251848,5,1.500,1.500000,0.005134,Parachute Body Oil
2,2020-02-01,Amazon,B00CBRILZQ,Livon Serum - 100 ml,LIVON S-R,L,100.0,1774.274710,99,9.900,9.900000,0.175653,Livon
3,2020-02-01,Amazon,B00GMBZWWC,"Set Wet Ultimate Hold Hair Gel, 250 ml Jar",SW HRGEL,L,250.0,451.985341,22,5.500,5.500000,0.024859,Set Wet Styling
4,2020-02-01,Amazon,B00GMC02XK,PADV 300ML AYUR HAIR OIL,ADV-AHO-R,L,300.0,432.483656,1,0.300,0.300000,0.001297,Parachute Ayurvedic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54208,2022-07-31,Flipkart,HSYDQF2BZFYQMGNX,SW HRGEL COOL 250ML LWRP,SW HRGEL,L,250.0,451.985341,52,13.000,13.000000,0.058758,Set Wet Styling
54209,2022-07-31,Flipkart,HSYDQF2BZXJDSMYY,SW HRGEL ULT 250ML LMRP,SW HRGEL,L,250.0,451.985341,91,22.750,22.750000,0.102827,Set Wet
54210,2022-07-31,Flipkart,HSYFZGNAUA3ZXK7Y,SW HAIR HOLD SPRAY 200ML,SW HSPRY,L,200.0,559.991252,240,48.000,48.000000,0.268796,Set Wet
54211,2022-07-31,Flipkart,NDLFVXBBWGHDSS87,SF ODLS YM MLTIPK 212G PCH,SAFF_ODLS,TO,212.0,222188.913739,14,2.968,0.002968,0.006595,Saffola oodles
54212,2022-07-31,Flipkart,NDLFWZYNG7UHHXQY,SF ODLS YM MLTIPK 184G X3,SAFF_ODLS,TO,552.0,222188.913739,10,5.520,0.005520,0.012265,Saffola oodles

In [3]:
vol_monthly = pd.read_excel(r"C:\Users\Abdul Rehaman\Downloads\Monthly Offtake data for ASIN 12.08.2022.xlsx", sheet_name= 'Sheet1')
vol_monthly

,month_date,platform_name,asin,material_desc,material_group_code,uom_reporting,vol_per_unit,turnover,shipped_unit,vol_in_lit,vol_in_rum,index_BPM
0,2019-04-30,Amazon,B003NQESIS,PCNO R ED 1LIT PJ HIN(N),PCNO(R),KL,1000,311348.851694,1777.0,1777.000,1.777000,5.532669
1,2019-04-30,Amazon,B00CBRHLJ8,PA ADV 300ml HOil(FR 100ml PABL-ST),PADV-HOT,L,300,342.251848,28.0,8.400,8.400000,0.028749
2,2019-04-30,Amazon,B00CBRILZQ,LIVON SERUM 100ML,LIVON S-R,L,100,1774.274710,799.0,79.900,79.900000,1.417645
3,2019-04-30,Amazon,B00GMBZWWC,SW HRGEL ULT 250ML LMRP,SW HRGEL,L,250,451.985341,1477.0,369.250,369.250000,1.668956
4,2019-04-30,Amazon,B00GMC02XK,PA 300ML AYUR HO SOUTH-N,ADV-AHO-R,L,300,432.483656,181.0,54.300,54.300000,0.234839
...,...,...,...,...,...,...,...,...,...,...,...,...
3031,2022-06-30,Flipkart National,HSMFBEEKKMCFFRT7,LIVN SRM 100ML DRY HAIR,LVN_SR_DR,L,100,1708.228707,6766.0,676.600,676.600000,11.557875
3032,2022-06-30,Flipkart National,HSYDQF2BZFYQMGNX,SW HRGEL COOL 250ML LWRP,SW HRGEL,L,250,451.985341,1681.0,420.250,420.250000,1.899468
3033,2022-06-30,Flipkart National,HSYDQF2BZXJDSMYY,SW HRGEL ULT 250ML LMRP,SW HRGEL,L,250,451.985341,2826.0,706.500,706.500000,3.193276
3034,2022-06-30,Flipkart National,HSYFZGNAUA3ZXK7Y,SW HAIR HOLD SPRAY 200ML,SW HSPRY,L,200,559.991252,8131.0,1626.200,1626.200000,9.106578
3035,2022-06-30,Flipkart National,NDLFWZYNG7UHHXQY,SF ODLS YM MLTIPK 184G X3,SAFF_ODLS,TO,552,222188.913739,1372.0,757.344,0.757344,1.682734

In [4]:
vol_monthly['platform_name'].unique()

array(['Amazon', 'Flipkart Grocery', 'Flipkart National'], dtype=object)

In [5]:
vol_monthly['platform_name'] = vol_monthly['platform_name'].str.replace('Flipkart Grocery','Flipkart')
vol_monthly['platform_name'] = vol_monthly['platform_name'].str.replace('Flipkart National','Flipkart')
vol_monthly['platform_name'].unique()

array(['Amazon', 'Flipkart'], dtype=object)

In [6]:
vol_daily.columns

Index(['date', 'platform_name', 'asin', 'product_title', 'material_group_code',
       'uom_reporting', 'vol_per_unit', 'turnover', 'shipped_unit',
       'vol_in_lit', 'vol_in_rum', 'index_BPM', 'Brand'],
      dtype='object')

In [7]:
# vol_monthly[['month_date', 'asin', 'vol_in_lit', 'vol_in_rum']].groupby(['month_date', 'asin']).sum()

In [9]:
vol_daily['month'] = pd.to_datetime(vol_daily['date']).dt.strftime("%Y-%b")
vol_monthly['month'] = pd.to_datetime(vol_monthly['month_date']).dt.strftime("%Y-%b")

In [10]:
# vol_daily[['month', 'asin', 'vol_in_lit', 'vol_in_rum']].groupby(['month', 'asin']).sum()

In [11]:
vol_daily.head()

,date,platform_name,asin,product_title,material_group_code,uom_reporting,vol_per_unit,turnover,shipped_unit,vol_in_lit,vol_in_rum,index_BPM,Brand,month
0,2020-02-01,Amazon,B003NQESIS,PCNO H ED 1 LT PJ-16,PCNO(R),KL,1000.0,311348.851694,3,3.0,0.003,0.009340,Parachute Coconut Oil,2020-Feb
1,2020-02-01,Amazon,B00CBRHLJ8,Par Adv Ayur 300ml Hot Oil,PADV-HOT,L,300.0,342.251848,5,1.5,1.500,0.005134,Parachute Body Oil,2020-Feb
2,2020-02-01,Amazon,B00CBRILZQ,Livon Serum - 100 ml,LIVON S-R,L,100.0,1774.274710,99,9.9,9.900,0.175653,Livon,2020-Feb
3,2020-02-01,Amazon,B00GMBZWWC,"Set Wet Ultimate Hold Hair Gel, 250 ml Jar",SW HRGEL,L,250.0,451.985341,22,5.5,5.500,0.024859,Set Wet Styling,2020-Feb
4,2020-02-01,Amazon,B00GMC02XK,PADV 300ML AYUR HAIR OIL,ADV-AHO-R,L,300.0,432.483656,1,0.3,0.300,0.001297,Parachute Ayurvedic,2020-Feb

In [12]:
vol_monthly.head()

,month_date,platform_name,asin,material_desc,material_group_code,uom_reporting,vol_per_unit,turnover,shipped_unit,vol_in_lit,vol_in_rum,index_BPM,month
0,2019-04-30,Amazon,B003NQESIS,PCNO R ED 1LIT PJ HIN(N),PCNO(R),KL,1000,311348.851694,1777.0,1777.00,1.777,5.532669,2019-Apr
1,2019-04-30,Amazon,B00CBRHLJ8,PA ADV 300ml HOil(FR 100ml PABL-ST),PADV-HOT,L,300,342.251848,28.0,8.40,8.400,0.028749,2019-Apr
2,2019-04-30,Amazon,B00CBRILZQ,LIVON SERUM 100ML,LIVON S-R,L,100,1774.274710,799.0,79.90,79.900,1.417645,2019-Apr
3,2019-04-30,Amazon,B00GMBZWWC,SW HRGEL ULT 250ML LMRP,SW HRGEL,L,250,451.985341,1477.0,369.25,369.250,1.668956,2019-Apr
4,2019-04-30,Amazon,B00GMC02XK,PA 300ML AYUR HO SOUTH-N,ADV-AHO-R,L,300,432.483656,181.0,54.30,54.300,0.234839,2019-Apr

In [13]:
# def create_contribution(df1, df2):
    
#     df1 = df1[(df1['date']>'2020-05-31') & (df1['date']<'2022-07-01')].reset_index(drop = True)
#     df2 = df2[(df2['month_date']>'2020-05-31') & (df2['month_date']<'2022-07-01')].reset_index(drop = True)
#     df1['month'] = pd.to_datetime(df1['date']).dt.strftime("%Y-%b")
#     df2['month'] = pd.to_datetime(df2['month_date']).dt.strftime("%Y-%b")
    
#     print(df1.shape, df2.shape)
#     df2 = df2.rename(columns = {'vol_in_lit': 'vol_in_lit_monthly', 'vol_in_rum': 'vol_in_rum_monthly'})
    
#     temp = pd.merge(df1, df2[['asin', 'month','vol_in_lit_monthly', 'vol_in_rum_monthly']], 
#                     left_on = ['asin', 'month'], right_on = ['asin', 'month'], how = 'inner')
    
#     return temp

# create_contribution(vol_daily, vol_monthly)

In [20]:
# vol_daily['month'].unique()
# ['2020-Feb', '2020-Mar', '2020-Apr', '2020-May', '2020-Jun',
#  '2020-Jul', '2020-Aug', '2020-Sep','2020-Nov',
#  '2020-Dec', '2021-Jan', '2021-Feb', '2021-Mar', '2021-Apr',
#  '2021-May', '2021-Jun', '2021-Jul', '2021-Aug', '2021-Sep',
#  '2021-Nov', '2021-Dec', '2022-Jan', '2022-Feb',
#  '2022-Mar', '2022-Apr', '2022-May', '2022-Jun', '2022-Jul']

In [270]:
def create_contribution(df1, df2):
    
    df1 = df1[(df1['date']>'2020-05-31') & (df1['date']<'2022-07-01')].reset_index(drop = True)
    df1 = df1[~(((df1['platform_name']=='Flipkart')) & (df1['month'].isin(['2020-Oct', '2021-Oct'])))].reset_index(drop = True)
    print(df1.shape)
    df1 = df1.groupby(['asin', 'date']).sum().reset_index()
    df1['month'] = pd.to_datetime(df1['date']).dt.strftime("%Y-%b")
    
    temp1 = df1.groupby(['asin', 'month']).sum().reset_index()
    
    temp1 = temp1.rename(columns = {'vol_in_lit': 'vol_in_lit_d2m', 'vol_in_rum': 'vol_in_rum_d2m'})
        
    df2 = df2.rename(columns = {'vol_in_lit': 'vol_in_lit_monthly', 'vol_in_rum': 'vol_in_rum_monthly'})
    
    df2['month'] = pd.to_datetime(df2['month_date']).dt.strftime("%Y-%b")
      
    temp1 = pd.merge(df1, temp1, on = ['asin', 'month'])
    temp1['vol_in_lit_contrib'] = temp1['vol_in_lit']/temp1['vol_in_lit_d2m']
    temp1['vol_in_rum_contrib'] = temp1['vol_in_rum']/temp1['vol_in_rum_d2m']
        
    temp2 = df2.groupby(['asin', 'month']).sum().reset_index()
    print(temp2.columns)
    temp = pd.merge(temp1, temp2, left_on = ['asin', 'month'], right_on = ['asin', 'month'])
    
    temp['diff_vol_in_lit'] = temp['vol_in_lit_monthly'] - temp['vol_in_lit_d2m']
    temp['diff_vol_in_rum'] = temp['vol_in_rum_monthly'] - temp['vol_in_rum_d2m']
    
    temp['adj_vol_in_lit'] = temp['vol_in_lit'] + temp['diff_vol_in_lit']*temp['vol_in_lit_contrib']
    temp['adj_vol_in_rum'] = temp['vol_in_rum'] + temp['diff_vol_in_rum']*temp['vol_in_rum_contrib']
    
    return temp[['date', 'month', 'asin', 'vol_in_lit', 'vol_in_rum',
                           'adj_vol_in_lit', 'adj_vol_in_rum']]

final_df = create_contribution(vol_daily[['date', 'month', 'platform_name', 'asin', 'vol_in_lit', 'vol_in_rum']],
                   vol_monthly[['month_date', 'month', 'asin', 'vol_in_lit', 'vol_in_rum']])
final_df

(45944, 6)
Index(['asin', 'month', 'vol_in_lit_monthly', 'vol_in_rum_monthly'], dtype='object')

,date,month,asin,vol_in_lit,vol_in_rum,adj_vol_in_lit,adj_vol_in_rum
0,2020-06-01,2020-Jun,B003NQESIS,197.000,0.197000,197.000000,0.197000
1,2020-06-02,2020-Jun,B003NQESIS,316.000,0.316000,316.000000,0.316000
2,2020-06-03,2020-Jun,B003NQESIS,244.000,0.244000,244.000000,0.244000
3,2020-06-04,2020-Jun,B003NQESIS,290.000,0.290000,290.000000,0.290000
4,2020-06-05,2020-Jun,B003NQESIS,187.000,0.187000,187.000000,0.187000
...,...,...,...,...,...,...,...
45937,2022-06-26,2022-Jun,NDLFWZYNG7UHHXQY,41.400,0.041400,42.947085,0.042947
45938,2022-06-27,2022-Jun,NDLFWZYNG7UHHXQY,28.152,0.028152,29.204018,0.029204
45939,2022-06-28,2022-Jun,NDLFWZYNG7UHHXQY,34.776,0.034776,36.075552,0.036076
45940,2022-06-29,2022-Jun,NDLFWZYNG7UHHXQY,35.880,0.035880,37.220807,0.037221
45941,2022-06-30,2022-Jun,NDLFWZYNG7UHHXQY,39.192,0.039192,40.656574,0.040657

In [30]:
vol_monthly.platform_name.unique()

array(['Amazon', 'Flipkart'], dtype=object)

In [32]:
vol_monthly[(vol_monthly['platform_name']=='Flipkart') & (vol_monthly['month'].isin(['2020-Oct', '2021-Oct']))][['month_date', 'month', 'asin', 'vol_in_lit', 'vol_in_rum']]

     month_date     month              asin  vol_in_lit   vol_in_rum
1166 2020-10-31  2020-Oct  CAFF5FY5KXWSZCUC    1082.000     1.082000
1167 2020-10-31  2020-Oct  CAFF5FY5RHXEY22G     596.000     0.596000
1168 2020-10-31  2020-Oct  CAFF7THHYGH5DKVD    1872.000     1.872000
1169 2020-10-31  2020-Oct  DEOF27GU2HB2JDKK     135.450   135.450000
1170 2020-10-31  2020-Oct  EDOET83CFQYH9JXK   38037.000    38.037000
...         ...       ...               ...         ...          ...
2269 2021-10-31  2021-Oct  HSMFBEEKKMCFFRT7    1726.000  1726.000000
2270 2021-10-31  2021-Oct  HSYDQF2BZFYQMGNX    3603.000  3603.000000
2271 2021-10-31  2021-Oct  HSYDQF2BZXJDSMYY    4385.250  4385.250000
2272 2021-10-31  2021-Oct  HSYFZGNAUA3ZXK7Y    5393.000  5393.000000
2273 2021-10-31  2021-Oct  NDLFWZYNG7UHHXQY    2926.704     2.926704

[113 rows x 5 columns]

In [ ]:
vol_monthly

In [164]:
def add_bb_volume(vol,df,col_name,start_date,end_date):
    
    start = df[df['date']==start_date].index[0]
    end = df[df['date']==end_date].index[0]+1
    no_of_days = end - start

    new_df = df.copy()
    new_df['FLIPKART_VOL1'] = 0; new_df[['FVOL']]=0
    sdf = pd.DataFrame(columns=['date','VOL','MA'])
    for i,r in new_df[[col_name]].iloc[start:end].iterrows():
        new_df['FLIPKART_VOL1'].iloc[i] = round(vol/no_of_days,2)
    new_df['FVOL'] = round(new_df[col_name] + new_df['FLIPKART_VOL1'],2)

    for i,r in new_df[['FVOL']].iloc[start:end].iterrows():
        d = new_df['date'].iloc[i]
        a = round(new_df['FVOL'].iloc[i],2)
        b = round(new_df['FVOL'].iloc[i-3:i+4].mean(),2)
        t1 = pd.DataFrame([[d,a,b]], columns=['date','VOL','MA'])
        sdf = pd.concat([sdf,t1])
    sdf['adj_'+ col_name] = round((sdf['VOL'].sum() - sdf['MA'].sum())/no_of_days,2) + sdf['MA']

    return sdf[['date', 'adj_'+ col_name]]

In [184]:
def big_billion_volumes(df, monthly_df):
    
    df = df[(df['platform_name']=='Flipkart') & (df['month'].isin(['2020-Oct']))][['date', 'month', 'asin', 'vol_in_lit', 'vol_in_rum']]
    sku_list = df['asin'].unique()
    adj_df = pd.DataFrame()
    for i in sku_list:
        date_df = pd.DataFrame(columns = ['date', 'asin'])
        date_df['date'] = pd.date_range('2020-10-01', '2020-10-31',freq='d')
        date_df['asin'] = i
        new_df = df[df['asin']==i].reset_index(drop = True)
        temp_df = new_df.copy()
        temp_df = pd.merge(temp_df, date_df, on = ['asin', 'date'], how = 'outer')
        temp_df = temp_df.sort_values(by = 'date').reset_index(drop = True)

        monthly_vol_in_lit = monthly_df[(monthly_df['asin']==i) & \
                                (monthly_df['month'].isin(['2020-Oct']))].groupby('asin').sum().reset_index()['vol_in_lit'].values[0]
        monthly_vol_in_rum = monthly_df[(monthly_df['asin']==i) & \
                                (monthly_df['month'].isin(['2020-Oct']))].groupby('asin').sum().reset_index()['vol_in_rum'].values[0]

        bb_vol_in_lit = monthly_vol_in_lit - temp_df.groupby('month').sum()['vol_in_lit'].values[0]
        bb_vol_in_rum = monthly_vol_in_rum - temp_df.groupby('month').sum()['vol_in_rum'].values[0]

        start_date = '2020-10-15'; end_date = '2020-10-21'
        
        bb_df_vol_lit = add_bb_volume(bb_vol_in_lit,temp_df[['date', 'asin', 'vol_in_lit']].fillna(0), 'vol_in_lit',start_date,end_date)
        bb_df_vol_rum = add_bb_volume(bb_vol_in_rum,temp_df[['date', 'asin', 'vol_in_rum']].fillna(0), 'vol_in_rum',start_date,end_date)
        bb_df_vol_lit['asin'] = i; bb_df_vol_rum['asin'] = i

        final_df = pd.merge(pd.concat([new_df, bb_df_vol_lit]), bb_df_vol_rum, on = ['asin', 'date'], how = 'outer')
        final_df['month'] = final_df['month'].fillna(method="ffill").fillna(method='bfill')
        final_df = final_df.fillna(0)
        final_df['adj_vol_in_lit'] = final_df['vol_in_lit'] + final_df['adj_vol_in_lit']
        final_df['adj_vol_in_rum'] = final_df['vol_in_rum'] + final_df['adj_vol_in_rum']
        final_df = final_df.sort_values('date').reset_index(drop = True)
        
        adj_df = pd.concat([adj_df, final_df], axis=0)
        
    return adj_df
    
        
bb_df_2020 = big_billion_volumes(vol_daily, vol_monthly)
bb_df_2020

C:\Users\Abdul Rehaman\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,date,month,asin,vol_in_lit,vol_in_rum,adj_vol_in_lit,adj_vol_in_rum
0,2020-10-01,2020-Oct,CAFF5FY5KXWSZCUC,91.0,0.0910,91.0,0.0910
1,2020-10-02,2020-Oct,CAFF5FY5KXWSZCUC,57.0,0.0570,57.0,0.0570
2,2020-10-03,2020-Oct,CAFF5FY5KXWSZCUC,51.0,0.0510,51.0,0.0510
3,2020-10-04,2020-Oct,CAFF5FY5KXWSZCUC,38.5,0.0385,38.5,0.0385
4,2020-10-05,2020-Oct,CAFF5FY5KXWSZCUC,46.0,0.0460,46.0,0.0460
...,...,...,...,...,...,...,...
12,2020-10-27,2020-Oct,DEOFVFAY3XKEGEKJ,5.1,5.1000,5.1,5.1000
13,2020-10-28,2020-Oct,DEOFVFAY3XKEGEKJ,7.5,7.5000,7.5,7.5000
14,2020-10-29,2020-Oct,DEOFVFAY3XKEGEKJ,55.8,55.8000,55.8,55.8000
15,2020-10-30,2020-Oct,DEOFVFAY3XKEGEKJ,32.7,32.7000,32.7,32.7000
16,2020-10-31,2020-Oct,DEOFVFAY3XKEGEKJ,41.7,41.7000,41.7,41.7000

In [265]:
def big_billion_2021(df, monthly_df):
    df = df[df['month'].isin(['2021-Oct'])]
    amz_df = df[(df['platform_name']=='Amazon') & (df['date'].between('2021-10-02', '2021-10-31'))]
    contrib_df = pd.DataFrame()
    contrib_df = amz_df.groupby('date').sum()[['vol_in_lit', 'vol_in_rum']].reset_index()
    contrib_df['vol_in_lit_contrib'] = contrib_df['vol_in_lit']/sum(contrib_df['vol_in_lit'])
    contrib_df['vol_in_rum_contrib'] = contrib_df['vol_in_rum']/sum(contrib_df['vol_in_rum'])
#     print(contrib_df)
    
    df = df[(df['platform_name']=='Flipkart') & (df['month'].isin(['2021-Oct']))][['date', 'month', 'asin', 'vol_in_lit', 'vol_in_rum']]
    sku_list = df['asin'].unique()
    
    adj_df = pd.DataFrame()
    for i in sku_list:
        date_df = pd.DataFrame(columns = ['date', 'asin'])
        date_df['date'] = pd.date_range('2021-10-01', '2021-10-31',freq='d')
        date_df['asin'] = i
        new_df = df[df['asin']==i].reset_index(drop = True)
        temp_df = new_df.copy()
        temp_df = pd.merge(temp_df, date_df, on = ['asin', 'date'], how = 'outer')
        temp_df = temp_df.sort_values(by = 'date').reset_index(drop = True)

        monthly_vol_in_lit = monthly_df[(monthly_df['asin']==i) & \
                                (monthly_df['month'].isin(['2021-Oct']))].groupby('asin').sum().reset_index()['vol_in_lit'].values[0]
        monthly_vol_in_rum = monthly_df[(monthly_df['asin']==i) & \
                                (monthly_df['month'].isin(['2021-Oct']))].groupby('asin').sum().reset_index()['vol_in_rum'].values[0]

        bb_vol_in_lit = monthly_vol_in_lit - temp_df.groupby('month').sum()['vol_in_lit'].values[0]
        bb_vol_in_rum = monthly_vol_in_rum - temp_df.groupby('month').sum()['vol_in_rum'].values[0]
        
        temp_df = pd.merge(temp_df, contrib_df[['date', 'vol_in_lit_contrib', 'vol_in_rum_contrib']], on = 'date', how = 'outer')

        temp_df['month'] = temp_df['month'].fillna(method="ffill").fillna(method='bfill')
        temp_df['adj_vol_in_lit'] = temp_df['vol_in_lit'].fillna(bb_vol_in_lit * temp_df['vol_in_lit_contrib'])
        temp_df['adj_vol_in_rum'] = temp_df['vol_in_rum'].fillna(bb_vol_in_rum * temp_df['vol_in_rum_contrib'])
        
        temp_df = temp_df.fillna(0)
       
        adj_df = pd.concat([adj_df, temp_df[['date', 'month', 'asin', 'vol_in_lit', 'vol_in_rum',
                           'adj_vol_in_lit', 'adj_vol_in_rum']]], axis=0)
        
    return adj_df
    
bb_df_2021 = big_billion_2021(vol_daily, vol_monthly)
bb_df_2021

,date,month,asin,vol_in_lit,vol_in_rum,adj_vol_in_lit,adj_vol_in_rum
0,2021-10-01,2021-Oct,CAFF5FY5KXWSZCUC,363.0,0.363,363.000000,0.363000
1,2021-10-02,2021-Oct,CAFF5FY5KXWSZCUC,0.0,0.000,1019.854284,1.066747
2,2021-10-03,2021-Oct,CAFF5FY5KXWSZCUC,0.0,0.000,1125.855925,1.153827
3,2021-10-04,2021-Oct,CAFF5FY5KXWSZCUC,0.0,0.000,1753.220302,2.001913
4,2021-10-05,2021-Oct,CAFF5FY5KXWSZCUC,0.0,0.000,1045.537214,1.477047
...,...,...,...,...,...,...,...
26,2021-10-27,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,58.743890,0.057436
27,2021-10-28,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,103.443202,0.066502
28,2021-10-29,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,149.504217,0.068206
29,2021-10-30,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,178.508159,0.072868
30,2021-10-31,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,115.996740,0.077077

In [210]:
6906-363

6543

In [272]:
45944 +1067+1178

48189

In [273]:
total_df = pd.concat([pd.concat([final_df, bb_df_2020]),bb_df_2021])
total_df

,date,month,asin,vol_in_lit,vol_in_rum,adj_vol_in_lit,adj_vol_in_rum
0,2020-06-01,2020-Jun,B003NQESIS,197.0,0.197,197.000000,0.197000
1,2020-06-02,2020-Jun,B003NQESIS,316.0,0.316,316.000000,0.316000
2,2020-06-03,2020-Jun,B003NQESIS,244.0,0.244,244.000000,0.244000
3,2020-06-04,2020-Jun,B003NQESIS,290.0,0.290,290.000000,0.290000
4,2020-06-05,2020-Jun,B003NQESIS,187.0,0.187,187.000000,0.187000
...,...,...,...,...,...,...,...
26,2021-10-27,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,58.743890,0.057436
27,2021-10-28,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,103.443202,0.066502
28,2021-10-29,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,149.504217,0.068206
29,2021-10-30,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,178.508159,0.072868
30,2021-10-31,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,115.996740,0.077077

In [274]:
total_df.to_excel("Volume_data_monthly_daily_combined_final.xlsx", index = False)

In [77]:
# final_df.to_excel("Volume_data_monthly_daily_combined.xlsx", index = False)

In [2]:
# total_df

In [131]:
316/311348.85169

0.001014938703916053

In [55]:
197/6909.000, 316/6909.000

(0.02851353307280359, 0.04573744391373571)

In [62]:
vol_daily[(vol_daily['date']>'2020-05-31') & (vol_daily['date']<'2022-07-01')].reset_index(drop = True).groupby(['asin', 'date']).sum().reset_index()

,asin,date,vol_per_unit,turnover,shipped_unit,vol_in_lit,vol_in_rum,index_BPM
0,B003NQESIS,2020-06-01,1000.0,311348.851694,197,197.000,0.197000,0.613357
1,B003NQESIS,2020-06-02,1000.0,311348.851694,316,316.000,0.316000,0.983862
2,B003NQESIS,2020-06-03,1000.0,311348.851694,244,244.000,0.244000,0.759691
3,B003NQESIS,2020-06-04,1000.0,311348.851694,290,290.000,0.290000,0.902912
4,B003NQESIS,2020-06-05,1000.0,311348.851694,187,187.000,0.187000,0.582222
...,...,...,...,...,...,...,...,...
46792,NDLFWZYNG7UHHXQY,2022-06-26,552.0,222188.913739,75,41.400,0.041400,0.091986
46793,NDLFWZYNG7UHHXQY,2022-06-27,552.0,222188.913739,51,28.152,0.028152,0.062551
46794,NDLFWZYNG7UHHXQY,2022-06-28,552.0,222188.913739,63,34.776,0.034776,0.077268
46795,NDLFWZYNG7UHHXQY,2022-06-29,552.0,222188.913739,65,35.880,0.035880,0.079721
46796,NDLFWZYNG7UHHXQY,2022-06-30,552.0,222188.913739,71,39.192,0.039192,0.087080

## Vlookup other columns

In [275]:
import pandas as pd
import numpy as np

In [276]:
vol_daily = pd.read_excel(r"C:\Users\Abdul Rehaman\Downloads\Offtake data for ASIN 10.08.2022.xlsx", sheet_name= 'Sheet1')
vol_daily

,date,platform_name,asin,product_title,material_group_code,uom_reporting,vol_per_unit,turnover,shipped_unit,vol_in_lit,vol_in_rum,index_BPM,Brand
0,2020-02-01,Amazon,B003NQESIS,PCNO H ED 1 LT PJ-16,PCNO(R),KL,1000.0,311348.851694,3,3.000,0.003000,0.009340,Parachute Coconut Oil
1,2020-02-01,Amazon,B00CBRHLJ8,Par Adv Ayur 300ml Hot Oil,PADV-HOT,L,300.0,342.251848,5,1.500,1.500000,0.005134,Parachute Body Oil
2,2020-02-01,Amazon,B00CBRILZQ,Livon Serum - 100 ml,LIVON S-R,L,100.0,1774.274710,99,9.900,9.900000,0.175653,Livon
3,2020-02-01,Amazon,B00GMBZWWC,"Set Wet Ultimate Hold Hair Gel, 250 ml Jar",SW HRGEL,L,250.0,451.985341,22,5.500,5.500000,0.024859,Set Wet Styling
4,2020-02-01,Amazon,B00GMC02XK,PADV 300ML AYUR HAIR OIL,ADV-AHO-R,L,300.0,432.483656,1,0.300,0.300000,0.001297,Parachute Ayurvedic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54208,2022-07-31,Flipkart,HSYDQF2BZFYQMGNX,SW HRGEL COOL 250ML LWRP,SW HRGEL,L,250.0,451.985341,52,13.000,13.000000,0.058758,Set Wet Styling
54209,2022-07-31,Flipkart,HSYDQF2BZXJDSMYY,SW HRGEL ULT 250ML LMRP,SW HRGEL,L,250.0,451.985341,91,22.750,22.750000,0.102827,Set Wet
54210,2022-07-31,Flipkart,HSYFZGNAUA3ZXK7Y,SW HAIR HOLD SPRAY 200ML,SW HSPRY,L,200.0,559.991252,240,48.000,48.000000,0.268796,Set Wet
54211,2022-07-31,Flipkart,NDLFVXBBWGHDSS87,SF ODLS YM MLTIPK 212G PCH,SAFF_ODLS,TO,212.0,222188.913739,14,2.968,0.002968,0.006595,Saffola oodles
54212,2022-07-31,Flipkart,NDLFWZYNG7UHHXQY,SF ODLS YM MLTIPK 184G X3,SAFF_ODLS,TO,552.0,222188.913739,10,5.520,0.005520,0.012265,Saffola oodles

In [3]:
adj_df = pd.read_excel("Volume_data_monthly_daily_combined.xlsx")
adj_df

,asin,month,date,vol_in_lit,vol_in_rum,vol_in_lit_d2m,vol_in_rum_d2m,vol_in_lit_contrib,vol_in_rum_contrib,vol_in_lit_monthly,vol_in_rum_monthly,diff_vol_in_lit,diff_vol_in_rum,adj_vol_in_lit,adj_vol_in_rum
0,B003NQESIS,2020-Jun,2020-06-01,197.000,0.197000,6909.000,6.909000,0.028514,0.028514,6909.000,6.909000,0.0,0.0000,197.000000,0.197000
1,B003NQESIS,2020-Jun,2020-06-02,316.000,0.316000,6909.000,6.909000,0.045737,0.045737,6909.000,6.909000,0.0,0.0000,316.000000,0.316000
2,B003NQESIS,2020-Jun,2020-06-03,244.000,0.244000,6909.000,6.909000,0.035316,0.035316,6909.000,6.909000,0.0,0.0000,244.000000,0.244000
3,B003NQESIS,2020-Jun,2020-06-04,290.000,0.290000,6909.000,6.909000,0.041974,0.041974,6909.000,6.909000,0.0,0.0000,290.000000,0.290000
4,B003NQESIS,2020-Jun,2020-06-05,187.000,0.187000,6909.000,6.909000,0.027066,0.027066,6909.000,6.909000,0.0,0.0000,187.000000,0.187000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46790,NDLFWZYNG7UHHXQY,2022-Jun,2022-06-26,41.400,0.041400,738.576,0.738576,0.056054,0.056054,766.176,0.766176,27.6,0.0276,42.947085,0.042947
46791,NDLFWZYNG7UHHXQY,2022-Jun,2022-06-27,28.152,0.028152,738.576,0.738576,0.038117,0.038117,766.176,0.766176,27.6,0.0276,29.204018,0.029204
46792,NDLFWZYNG7UHHXQY,2022-Jun,2022-06-28,34.776,0.034776,738.576,0.738576,0.047085,0.047085,766.176,0.766176,27.6,0.0276,36.075552,0.036076
46793,NDLFWZYNG7UHHXQY,2022-Jun,2022-06-29,35.880,0.035880,738.576,0.738576,0.048580,0.048580,766.176,0.766176,27.6,0.0276,37.220807,0.037221
46794,NDLFWZYNG7UHHXQY,2022-Jun,2022-06-30,39.192,0.039192,738.576,0.738576,0.053064,0.053064,766.176,0.766176,27.6,0.0276,40.656574,0.040657

In [7]:
adj_df1 = adj_df[['asin', 'month', 'date', 'vol_in_lit', 'vol_in_rum', 'adj_vol_in_lit', 'adj_vol_in_rum']]
adj_df1

,asin,month,date,vol_in_lit,vol_in_rum,adj_vol_in_lit,adj_vol_in_rum
0,B003NQESIS,2020-Jun,2020-06-01,197.000,0.197000,197.000000,0.197000
1,B003NQESIS,2020-Jun,2020-06-02,316.000,0.316000,316.000000,0.316000
2,B003NQESIS,2020-Jun,2020-06-03,244.000,0.244000,244.000000,0.244000
3,B003NQESIS,2020-Jun,2020-06-04,290.000,0.290000,290.000000,0.290000
4,B003NQESIS,2020-Jun,2020-06-05,187.000,0.187000,187.000000,0.187000
...,...,...,...,...,...,...,...
46790,NDLFWZYNG7UHHXQY,2022-Jun,2022-06-26,41.400,0.041400,42.947085,0.042947
46791,NDLFWZYNG7UHHXQY,2022-Jun,2022-06-27,28.152,0.028152,29.204018,0.029204
46792,NDLFWZYNG7UHHXQY,2022-Jun,2022-06-28,34.776,0.034776,36.075552,0.036076
46793,NDLFWZYNG7UHHXQY,2022-Jun,2022-06-29,35.880,0.035880,37.220807,0.037221
46794,NDLFWZYNG7UHHXQY,2022-Jun,2022-06-30,39.192,0.039192,40.656574,0.040657

In [9]:
vol_daily.columns

Index(['date', 'platform_name', 'asin', 'product_title', 'material_group_code',
       'uom_reporting', 'vol_per_unit', 'turnover', 'shipped_unit',
       'vol_in_lit', 'vol_in_rum', 'index_BPM', 'Brand'],
      dtype='object')

In [286]:
final_adj_df = pd.merge(total_df, vol_daily[['date', 'platform_name', 'asin', 'material_group_code',
       'uom_reporting', 'vol_per_unit', 'turnover', 'shipped_unit',
       'index_BPM', 'Brand']], on = ['asin', 'date'], how = 'left')
final_adj_df

,date,month,asin,vol_in_lit,vol_in_rum,adj_vol_in_lit,adj_vol_in_rum,platform_name,material_group_code,uom_reporting,vol_per_unit,turnover,shipped_unit,index_BPM,Brand
0,2020-06-01,2020-Jun,B003NQESIS,197.0,0.197,197.000000,0.197000,Amazon,PCNO(R),KL,1000.0,311348.851694,197.0,0.613357,Parachute Coconut Oil
1,2020-06-02,2020-Jun,B003NQESIS,316.0,0.316,316.000000,0.316000,Amazon,PCNO(R),KL,1000.0,311348.851694,316.0,0.983862,Parachute Coconut Oil
2,2020-06-03,2020-Jun,B003NQESIS,244.0,0.244,244.000000,0.244000,Amazon,PCNO(R),KL,1000.0,311348.851694,244.0,0.759691,Parachute Coconut Oil
3,2020-06-04,2020-Jun,B003NQESIS,290.0,0.290,290.000000,0.290000,Amazon,PCNO(R),KL,1000.0,311348.851694,290.0,0.902912,Parachute Coconut Oil
4,2020-06-05,2020-Jun,B003NQESIS,187.0,0.187,187.000000,0.187000,Amazon,PCNO(R),KL,1000.0,311348.851694,187.0,0.582222,Parachute Coconut Oil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48182,2021-10-27,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,58.743890,0.057436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48183,2021-10-28,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,103.443202,0.066502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48184,2021-10-29,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,149.504217,0.068206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48185,2021-10-30,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,178.508159,0.072868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48186,2021-10-31,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,115.996740,0.077077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [292]:
final_adj_df.columns

Index(['date', 'month', 'asin', 'vol_in_lit', 'vol_in_rum', 'adj_vol_in_lit',
       'adj_vol_in_rum', 'platform_name', 'material_group_code',
       'uom_reporting', 'vol_per_unit', 'turnover', 'shipped_unit',
       'index_BPM', 'Brand'],
      dtype='object')

In [293]:
final_adj_df1 = final_adj_df[['date', 'month', 'asin', 'vol_in_lit', 'vol_in_rum', 'adj_vol_in_lit',
       'adj_vol_in_rum', 'platform_name', 'material_group_code',
       'uom_reporting', 'vol_per_unit', 'turnover', 'shipped_unit','Brand']].fillna(method="ffill").fillna(method='bfill')
final_adj_df1 = final_adj_df1.rename(columns = {'adj_vol_in_lit': 'volume', 'Brand' : 'brand'})
final_adj_df1

,date,month,asin,vol_in_lit,vol_in_rum,volume,adj_vol_in_rum,platform_name,material_group_code,uom_reporting,vol_per_unit,turnover,shipped_unit,brand
0,2020-06-01,2020-Jun,B003NQESIS,197.0,0.197,197.000000,0.197000,Amazon,PCNO(R),KL,1000.0,311348.851694,197.0,Parachute Coconut Oil
1,2020-06-02,2020-Jun,B003NQESIS,316.0,0.316,316.000000,0.316000,Amazon,PCNO(R),KL,1000.0,311348.851694,316.0,Parachute Coconut Oil
2,2020-06-03,2020-Jun,B003NQESIS,244.0,0.244,244.000000,0.244000,Amazon,PCNO(R),KL,1000.0,311348.851694,244.0,Parachute Coconut Oil
3,2020-06-04,2020-Jun,B003NQESIS,290.0,0.290,290.000000,0.290000,Amazon,PCNO(R),KL,1000.0,311348.851694,290.0,Parachute Coconut Oil
4,2020-06-05,2020-Jun,B003NQESIS,187.0,0.187,187.000000,0.187000,Amazon,PCNO(R),KL,1000.0,311348.851694,187.0,Parachute Coconut Oil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48182,2021-10-27,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,58.743890,0.057436,Flipkart,SAFF_ODLS,TO,552.0,222188.913739,95.0,Saffola oodles
48183,2021-10-28,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,103.443202,0.066502,Flipkart,SAFF_ODLS,TO,552.0,222188.913739,95.0,Saffola oodles
48184,2021-10-29,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,149.504217,0.068206,Flipkart,SAFF_ODLS,TO,552.0,222188.913739,95.0,Saffola oodles
48185,2021-10-30,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,178.508159,0.072868,Flipkart,SAFF_ODLS,TO,552.0,222188.913739,95.0,Saffola oodles
48186,2021-10-31,2021-Oct,NDLFWZYNG7UHHXQY,0.0,0.000,115.996740,0.077077,Flipkart,SAFF_ODLS,TO,552.0,222188.913739,95.0,Saffola oodles

In [295]:
final_adj_df1.to_excel("ecom_daily_adjusted_latest.xlsx", index = False)

In [278]:
# pd.merge(total_df, vol_daily[['date', 'platform_name', 'asin', 'material_group_code',
#        'uom_reporting', 'vol_per_unit', 'turnover', 'shipped_unit',
#        'index_BPM', 'Brand']], on = ['asin', 'date'], how = 'left').to_excel("ecom_daily_adjusted_latest.xlsx", index = False)

## All asins volume 3 platforms

In [297]:
off_tak = pd.read_excel(r"C:\Users\Abdul Rehaman\Downloads\ECom offtake Jun-20 to Jun-22.xlsx", sheet_name = 'daily offtake')
off_tak

,date,asin,platform_name,product_title,ean,shipped_unit,material_code,material_group_code,material_group_desc,uom_reporting,vol_per_unit,vol_in_lit,vol_in_rum,IndexRate,IndexBPM
0,2022-06-08,HSYFV94JZFXPVZZK,Flipkart,SW CLAY WAX 60G,8.901088e+12,20.0,717805,SW_HR_WAX,SW CLAY WAX 60G,KG,60.0000,1.200000,1.200000,1022.140775,0.012266
1,2022-06-08,HOLETDMMDZN9CK7M,Flipkart,H&C Fruit Oils Green 300ml (60),8.901088e+12,11.0,712886,H&C,H&C Fruit Oils Green 300ml (60),L,300.0000,3.300000,3.300000,359.085213,0.011850
2,2020-08-30,263878,Big Basket,PAR ADV JASMINE 90ml BOT,8.901088e+12,2.0,707715,PADVJAS-R,PAR ADV JASMINE 90ml BOT,L,90.0009,0.180002,0.180002,283.927604,0.000511
3,2020-08-31,EDOET83FZYYF34NE,Flipkart,SAF TOTAL 1LT JAR,8.901088e+12,3.0,707134,SAFF KO,SAF TOTAL 1LT JAR,KL,1000.0000,3.000000,0.003000,177215.701227,0.005316
4,2020-08-29,40020819,Big Basket,SAF TOTAL 2 LT JAR,8.901088e+12,1.0,707135,SAFF KO,SAF TOTAL 2 LT JAR,KL,2000.0000,2.000000,0.002000,177215.701227,0.003544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577805,2022-05-01,40045944,Big Basket,PA 45ml AYUR HAIR OIL-ROS,8.901088e+12,8.0,711459,ADV-AHO-R,PA 45ml AYUR HAIR OIL-ROS,L,45.0000,0.360000,0.360000,432.483656,0.001557
577806,2022-05-01,40193428,Big Basket,LVN HEAT PROTECT SRM 100ML-N,8.901088e+12,4.0,717876,LIVON 2.0,LVN HEAT PROTECT SRM 100ML-N,L,100.0000,0.400000,0.400000,2051.608302,0.008206
577807,2022-05-01,40229260,Big Basket,SW MOUSSE CREME 60G,8.901088e+12,2.0,718167,SW_HR_WAX,SW MOUSSE CREME 60G,KG,60.0000,0.120000,0.120000,1022.140775,0.001227
577808,2022-05-01,40229259,Big Basket,SW HAIR POMADE 60G,8.901088e+12,1.0,717803,SW_HR_WAX,SW HAIR POMADE 60G,KG,60.0000,0.060000,0.060000,1022.140775,0.000613
577809,2022-05-02,B07G2VBBCJ,Amazon,SMO VEGGIE TWST 1KG,8.901088e+12,61.0,713912,SFOATS-FL,SMO VEGGIE TWST 1KG,TO,1000.0000,61.000000,0.061000,241756.795926,0.147472

In [301]:
off_tak.columns

Index(['date', 'asin', 'platform_name', 'product_title', 'ean', 'shipped_unit',
       'material_code', 'material_group_code', 'material_group_desc',
       'uom_reporting', 'vol_per_unit', 'vol_in_lit', 'vol_in_rum',
       'IndexRate', 'IndexBPM'],
      dtype='object')

In [303]:
off_tak[['date', 'platform_name','material_group_code', 'uom_reporting', 'vol_per_unit']].drop_duplicates()

,date,platform_name,material_group_code,uom_reporting,vol_per_unit
0,2022-06-08,Flipkart,SW_HR_WAX,KG,60.0000
1,2022-06-08,Flipkart,H&C,L,300.0000
2,2020-08-30,Big Basket,PADVJAS-R,L,90.0009
3,2020-08-31,Flipkart,SAFF KO,KL,1000.0000
4,2020-08-29,Big Basket,SAFF KO,KL,2000.0000
...,...,...,...,...,...
577800,2022-05-18,Flipkart,H&C,L,400.0000
577802,2022-05-01,Big Basket,H&C,L,50.0000
577803,2022-05-01,Big Basket,PADV-HOT,L,190.0000
577805,2022-05-01,Big Basket,ADV-AHO-R,L,45.0000
577809,2022-05-02,Amazon,SFOATS-FL,TO,1000.0000

In [300]:
tot_df = pd.read_excel(r"C:\Users\Abdul Rehaman\Downloads\Volume_data_monthly_daily_combined_final.xlsx")
tot_df

,date,month,asin,vol_in_lit,vol_in_rum,adj_vol_in_lit,adj_vol_in_rum
0,2020-06-01,2020-Jun,100554,1537.0,1.537,1537.248746,1.537249
1,2020-06-02,2020-Jun,100554,1608.0,1.608,1608.260236,1.608260
2,2020-06-03,2020-Jun,100554,1618.0,1.618,1618.261855,1.618262
3,2020-06-04,2020-Jun,100554,1384.0,1.384,1384.223984,1.384224
4,2020-06-05,2020-Jun,100554,1358.0,1.358,1358.219777,1.358220
...,...,...,...,...,...,...,...
209794,2021-10-27,2021-Oct,HOLETDMXSG8HYDHM,0.0,0.000,1.007751,1.289369
209795,2021-10-28,2021-Oct,HOLETDMXSG8HYDHM,0.0,0.000,1.558416,1.023575
209796,2021-10-29,2021-Oct,HOLETDMXSG8HYDHM,0.0,0.000,1.814063,1.026443
209797,2021-10-30,2021-Oct,HOLETDMXSG8HYDHM,0.0,0.000,2.113884,1.054063
209798,2021-10-31,2021-Oct,HOLETDMXSG8HYDHM,0.0,0.000,1.519549,1.205468

In [306]:
off_tak[['platform_name','material_group_code', 'uom_reporting', 'vol_per_unit']].drop_duplicates()

       platform_name material_group_code uom_reporting  vol_per_unit
0           Flipkart           SW_HR_WAX            KG       60.0000
1           Flipkart                 H&C             L      300.0000
2         Big Basket           PADVJAS-R             L       90.0009
3           Flipkart             SAFF KO            KL     1000.0000
4         Big Basket             SAFF KO            KL     2000.0000
...              ...                 ...           ...           ...
285331    Big Basket             PCNO(R)            KL      500.0000
300328    Big Basket           SW_HR_WAX            KG       75.0000
318685        Amazon           SAFF_ODLS            TO      742.0000
368050        Amazon              HC SNS             L       50.0000
479616        Amazon           PA_AYUR_G             L      200.0000

[421 rows x 4 columns]

In [310]:
tot_df1 = pd.merge(tot_df, off_tak[['date', 'asin','platform_name','material_group_code', 'uom_reporting', 'vol_per_unit']].drop_duplicates(),
         on = ['asin', 'date'], how = 'left')
tot_df1

,date,month,asin,vol_in_lit,vol_in_rum,adj_vol_in_lit,adj_vol_in_rum,platform_name,material_group_code,uom_reporting,vol_per_unit
0,2020-06-01,2020-Jun,100554,1537.0,1.537,1537.248746,1.537249,Big Basket,SAFF KOCO,KL,1000.0
1,2020-06-02,2020-Jun,100554,1608.0,1.608,1608.260236,1.608260,Big Basket,SAFF KOCO,KL,1000.0
2,2020-06-03,2020-Jun,100554,1618.0,1.618,1618.261855,1.618262,Big Basket,SAFF KOCO,KL,1000.0
3,2020-06-04,2020-Jun,100554,1384.0,1.384,1384.223984,1.384224,Big Basket,SAFF KOCO,KL,1000.0
4,2020-06-05,2020-Jun,100554,1358.0,1.358,1358.219777,1.358220,Big Basket,SAFF KOCO,KL,1000.0
...,...,...,...,...,...,...,...,...,...,...,...
209795,2021-10-27,2021-Oct,HOLETDMXSG8HYDHM,0.0,0.000,1.007751,1.289369,NaN,NaN,NaN,NaN
209796,2021-10-28,2021-Oct,HOLETDMXSG8HYDHM,0.0,0.000,1.558416,1.023575,NaN,NaN,NaN,NaN
209797,2021-10-29,2021-Oct,HOLETDMXSG8HYDHM,0.0,0.000,1.814063,1.026443,NaN,NaN,NaN,NaN
209798,2021-10-30,2021-Oct,HOLETDMXSG8HYDHM,0.0,0.000,2.113884,1.054063,NaN,NaN,NaN,NaN
209799,2021-10-31,2021-Oct,HOLETDMXSG8HYDHM,0.0,0.000,1.519549,1.205468,NaN,NaN,NaN,NaN

In [319]:
tot_df1.isna().sum()

date                      0
month                     0
asin                      0
vol_in_lit                0
vol_in_rum                0
adj_vol_in_lit            6
adj_vol_in_rum            6
platform_name          3276
material_group_code    3276
uom_reporting          3276
vol_per_unit           3276
dtype: int64

In [316]:
len(tot_df1['asin'].unique())

550

In [320]:
new_tot_df = pd.DataFrame()
for i in tot_df1['asin'].unique():
    temp_df = tot_df1[tot_df1['asin']==i].reset_index(drop = True)
    temp_df['platform_name'] = temp_df['platform_name'].fillna(method="ffill").fillna(method='bfill')
    temp_df['material_group_code'] = temp_df['material_group_code'].fillna(method="ffill").fillna(method='bfill')
    temp_df['uom_reporting'] = temp_df['uom_reporting'].fillna(method="ffill").fillna(method='bfill')
    temp_df['vol_per_unit'] = temp_df['vol_per_unit'].fillna(method="ffill").fillna(method='bfill')
    
    new_tot_df = pd.concat([new_tot_df, temp_df], axis=0).reset_index(drop = True)
#     break
new_tot_df

,date,month,asin,vol_in_lit,vol_in_rum,adj_vol_in_lit,adj_vol_in_rum,platform_name,material_group_code,uom_reporting,vol_per_unit
0,2020-06-01,2020-Jun,100554,1537.000,1.537000,1537.248746,1.537249,Big Basket,SAFF KOCO,KL,1000.0
1,2020-06-02,2020-Jun,100554,1608.000,1.608000,1608.260236,1.608260,Big Basket,SAFF KOCO,KL,1000.0
2,2020-06-03,2020-Jun,100554,1618.000,1.618000,1618.261855,1.618262,Big Basket,SAFF KOCO,KL,1000.0
3,2020-06-04,2020-Jun,100554,1384.000,1.384000,1384.223984,1.384224,Big Basket,SAFF KOCO,KL,1000.0
4,2020-06-05,2020-Jun,100554,1358.000,1.358000,1358.219777,1.358220,Big Basket,SAFF KOCO,KL,1000.0
...,...,...,...,...,...,...,...,...,...,...,...
209795,2022-03-29,2022-Mar,NDLGYZN9ZDCXFKZZ,0.092,0.000092,0.092000,0.000092,Flipkart,SAFF_ODLS,TO,46.0
209796,2022-03-30,2022-Mar,NDLGYZN9ZDCXFKZZ,0.138,0.000138,0.138000,0.000138,Flipkart,SAFF_ODLS,TO,46.0
209797,2022-05-26,2022-May,NDLGYZN9ZDCXFKZZ,0.000,0.000000,0.000000,0.000000,Flipkart,SAFF_ODLS,TO,46.0
209798,2022-05-29,2022-May,NDLGYZN9ZDCXFKZZ,0.230,0.000230,0.230000,0.000230,Flipkart,SAFF_ODLS,TO,46.0
209799,2022-06-26,2022-Jun,NDLGYZN9ZDCXFKZZ,0.046,0.000046,0.046000,0.000046,Flipkart,SAFF_ODLS,TO,46.0

In [321]:
new_tot_df.isna().sum()

date                   0
month                  0
asin                   0
vol_in_lit             0
vol_in_rum             0
adj_vol_in_lit         6
adj_vol_in_rum         6
platform_name          0
material_group_code    0
uom_reporting          0
vol_per_unit           0
dtype: int64

In [323]:
new_tot_df['platform_name'].unique()

array(['Big Basket', 'Amazon', 'Flipkart', 'FlipKart'], dtype=object)

In [324]:
new_tot_df['platform_name'] = new_tot_df['platform_name'].str.replace('FlipKart', 'Flipkart')

In [325]:
new_tot_df.to_excel('volume_all_3platforms.xlsx', index = False)